{% extends "new_gov_header_service_name_1" %}

{% block pageTitle %}
Surface water: compare the predicted depth levels
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service &ndash; your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a href="javascript:history.back()" class="govuk-back-link back-link-left">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
      <h1 class="govuk-heading-xl">
        Surface water: possible flood depths
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-2"><strong>Your selected location:</strong> 41A, High Street, Cowes
        PO31
        7RT</p>

      <p class="govuk-body govuk-!-margin-bottom-6">This information tells you the flood risk of the land around a
        building, not the building itself.
      </p>

      <p class="govuk-body">Flooding is hard to predict and there is always a chance any flood water could be deeper than what we show.</p>


      <details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What the flood depth risk ratings mean
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-padding-bottom-4"><strong
              class="govuk-tag govuk-tag--red">
              High
            </strong></p>
          <p class="govuk-body">More than 3.3% chance of a flood each year</p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-padding-bottom-4"><strong
              class="govuk-tag govuk-tag--orange label-orange">
              Medium
            </strong></p>
          <p class="govuk-body">Between 1% and 3.3% chance of a flood each year</p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-padding-bottom-4"><strong
              class="govuk-tag govuk-tag--yellow">
              Low
            </strong></p>
          <p class="govuk-body">Between 0.1% and 1% chance of a flood each year</p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-padding-bottom-4"><strong
              class="govuk-tag govuk-tag--green">
              Very low
            </strong></p>
          <p class="govuk-body">Less than 0.1% chance of a flood each year</p>


        </div>
      </details>


      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-padding-bottom-2">
        Chance of flooding to 20cm
      </h2>


      <!-- Gauge 20cm -->

      <!-- Present day -->

      <div class="gauge-display">
        <div class="gauge-display__item-all-gauges">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">Present day</h2>
          <dl class="defra-flood-impact-list-v13">

            <div class="defra-flood-impact-list-v13__row">
              <dt class="defra-flood-impact-list__key" aria-hidden="true">
                60cm
                <span class="unbold-depth" aria-hidden="true">(2ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <span class="depth-chance-info"></span>
                </div>
              </dd>
            </div>
            <div class="defra-flood-impact-list-v13__row">
              <dt class="defra-flood-impact-list__key">
                <span aria-label="measurement depth level 30 centimetres" aria-hidden="true">30cm<span>
                    <span class="unbold-depth" aria-hidden="true">(1ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
                  <span class="depth-chance-info">
                  </span>


                </div>
              </dd>
            </div>
            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                20cm
                <span class="unbold-depth">(8in)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <strong
                    class="govuk-tag govuk-tag--orange label-orange label-mod-depth-14 govuk-!-margin-left-2 label-border">
                    Medium<span class="govuk-visually-hidden">which is the highest likelihood</span>
                  </strong>
                  <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
              </dd>
            </div>
          </dl>
        </div>


        <!-- // Climate change // -->

        <div class="gauge-display__item-all-gauges">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">2040 &ndash; 2060</h2>
          <dl class="defra-flood-impact-list-v13">

            <div class="defra-flood-impact-list-v13__row">
              <dt class="defra-flood-impact-list__key" aria-hidden="true">
                60cm
                <span class="unbold-depth" aria-hidden="true">(2ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <span class="depth-chance-info"></span>
                </div>
              </dd>
            </div>
            <div class="defra-flood-impact-list-v13__row">
              <dt class="defra-flood-impact-list__key">
                <span aria-label="measurement depth level 30 centimetres" aria-hidden="true">30cm<span>
                    <span class="unbold-depth" aria-hidden="true">(1ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
                  <span class="depth-chance-info">
                  </span>


                </div>
              </dd>
            </div>
            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                20cm
                <span class="unbold-depth">(8in)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <strong class="govuk-tag govuk-tag--red label-mod-depth-14 govuk-!-margin-left-2 label-border">
                    High<span class="govuk-visually-hidden">which is the highest likelihood</span>
                  </strong>
                  <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
              </dd>
            </div>
          </dl>
        </div>
      </div>


      <p class="govuk-bod govuk-!-padding-top-4">At this location there's a <strong>
          medium</strong> chance of flooding to <strong>20cm</strong> (or 8 inches).</p>

      <p class="govuk-body">Between 2040 and 2060 this increases to a <strong>
          high</strong> chance of flooding to <strong>20cm</strong> (or 8 inches).</p>

      <p class="govuk-body">At 20cm, flood water can get into some
        homes and buildings, especially if the property has a basement. At this level, water can also damage your
        car or cause a breakdown.
      </p>




      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-padding-bottom-2">
        Chance of flooding to 30cm
      </h2>


      <!-- Gauge 30cm -->

      <!-- Present day -->

      <div class="gauge-display">
        <div class="gauge-display__item-all-gauges">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">Present day</h2>
          <dl class="defra-flood-impact-list-v13">

            <div class="defra-flood-impact-list-v13__row">
              <dt class="defra-flood-impact-list__key" aria-hidden="true">
                60cm
                <span class="unbold-depth" aria-hidden="true">(2ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <span class="depth-chance-info"></span>
                </div>
              </dd>
            </div>
            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                <span aria-label="measurement depth level 30 centimetres" aria-hidden="true">30cm<span>
                    <span class="unbold-depth" aria-hidden="true">(1ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
                  <strong class="govuk-tag govuk-tag--yellow label-mod-depth-14 govuk-!-margin-left-2 label-border">
                    Low<span class="govuk-visually-hidden">which is the highest likelihood</span>
                  </strong>
                  <span class="depth-chance-info">
                  </span>
                </div>
              </dd>
            </div>
            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                20cm
                <span class="unbold-depth">(8in)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
              </dd>
            </div>
          </dl>
        </div>


        <!-- Gauge 30cm -->

        <!-- // Climate change // -->

        <div class="gauge-display__item-all-gauges">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">2040 &ndash; 2060</h2>
          <dl class="defra-flood-impact-list-v13">

            <div class="defra-flood-impact-list-v13__row">
              <dt class="defra-flood-impact-list__key" aria-hidden="true">
                60cm
                <span class="unbold-depth" aria-hidden="true">(2ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <span class="depth-chance-info"></span>
                </div>
              </dd>
            </div>


            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                <span aria-label="measurement depth level 30 centimetres" aria-hidden="true">30cm<span>
                    <span class="unbold-depth" aria-hidden="true">(1ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
                  <strong
                    class="govuk-tag govuk-tag--orange label-orange label-mod-depth-14 govuk-!-margin-left-2 label-border">
                    Medium<span class="govuk-visually-hidden">which is the highest likelihood</span>
                  </strong>
                  <span class="depth-chance-info">
                  </span>
                </div>
              </dd>
            </div>

            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                20cm
                <span class="unbold-depth">(8in)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
              </dd>
            </div>
          </dl>
        </div>
      </div>


      <p class="govuk-body govuk-!-padding-top-4">At this location there's a <strong>
          low</strong> chance of flooding to <strong>30cm</strong> (or 1ft)</p>

      <p class="govuk-body">Between 2040 and 2060 this increases to a <strong>
          medium</strong> chance of flooding to <strong>30cm</strong> (or 1ft)</p>

      <p class="govuk-body govuk-!-margin-bottom-6">At 30cm, flood water can get into homes
        and buildings. Water at this level can also move a car, damage roads and cause major traffic disruption.
      </p>




      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-padding-bottom-2">
        Chance of flooding to 60cm
      </h2>


      <!-- Gauge 60cm -->

      <!-- Present day -->

      <div class="gauge-display">
        <div class="gauge-display__item-all-gauges">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">Present day</h2>
          <dl class="defra-flood-impact-list-v13">

            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key" aria-hidden="true">
                60cm
                <span class="unbold-depth" aria-hidden="true">(2ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <strong class="govuk-tag govuk-tag--green label-mod-depth-14 govuk-!-margin-left-2 label-border">
                    Very low<span class="govuk-visually-hidden">which is the highest likelihood</span>
                  </strong>
                  <span class="depth-chance-info"></span>
                </div>
              </dd>
            </div>
            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                <span aria-label="measurement depth level 30 centimetres" aria-hidden="true">30cm<span>
                    <span class="unbold-depth" aria-hidden="true">(1ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
                  <span class="depth-chance-info">
                  </span>
                </div>
              </dd>
            </div>
            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                20cm
                <span class="unbold-depth">(8in)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
              </dd>
            </div>
          </dl>
        </div>


        <!-- Gauge 60cm -->

        <!-- // Climate change // -->

        <div class="gauge-display__item-all-gauges">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">2040 &ndash; 2060</h2>
          <dl class="defra-flood-impact-list-v13">

            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key" aria-hidden="true">
                60cm
                <span class="unbold-depth" aria-hidden="true">(2ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <strong class="govuk-tag govuk-tag--yellow label-mod-depth-14 govuk-!-margin-left-2 label-border">
                    Low<span class="govuk-visually-hidden">which is the highest likelihood</span>
                  </strong>
                  <span class="depth-chance-info"></span>
                </div>
              </dd>
            </div>


            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                <span aria-label="measurement depth level 30 centimetres" aria-hidden="true">30cm<span>
                    <span class="unbold-depth" aria-hidden="true">(1ft)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
                  <span class="depth-chance-info">
                  </span>
                </div>
              </dd>
            </div>

            <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
              <dt class="defra-flood-impact-list__key">
                20cm
                <span class="unbold-depth">(8in)</span>
              </dt>
              <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
                <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
                  <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
              </dd>
            </div>
          </dl>
        </div>
      </div>


      <p class="govuk-body govuk-!-padding-top-4">At this location there's a <strong>
          very low</strong> chance of flooding to <strong>60cm</strong> (or 2ft)</p>

      <p class="govuk-body">Between 2040 and 2060 this increases to a <strong>
          low</strong> chance of flooding to <strong>60cm</strong> (or 2ft)</p>

      <p class="govuk-body">At 60cm, we expect flood water to get into homes and buildings.
        Water at this level can float most vehicles, including 4x4s.
      </p>

      <p class="govuk-body">Flood protection measures are usually effective up to 60cm. You should not try and keep flood water out of buildings if it's over 90cm. Water at this level can cause collapse or permanent structural damage.
      </p>

      <p class="govuk-body">Return to <a class="govuk-link" href="/version_17/Desktop/surface-water-result">surface water</a> to read advice on how to manage your risk from flooding.</p>

    </div>
  </div>
</div>

{% endblock %}