{% extends "layout.html" %}

{% block content %}



<div class="govuk-grid-row">

 <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Enter a postcode
    </h1>

    <div class="govuk-inset-text">

      <p>
        This service will tell you the flood risk of an area, not a specific property.
      </p>

    </div>

    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">

        <label class="govuk-label" for="address-postcode">
          Enter a postcode
        </label>

        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" />


      </div>


    </fieldset>

    <a href="#" role="button" class="govuk-button govuk-button--primary">
      Continue
    </a>

    <p>
      <a href="/current/multiple-search/iteration-2/postcode-input-how-many">I want to check more than one address</a>
    </p>
<br>
    <p>
      or <a href="http://flood-warning-information.service.gov.uk/long-term-flood-risk/map">view a map showing areas at risk of flooding</a>.
    </p>

    <p>
      <a href="http://www.royalmail.com/find-a-postcode" target="_blank">Use the Royal Mail postcode finder</a>
    </p>

  </div>

</div>


{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
