// Styles
.defra-map {
  position:fixed !important;
  z-index: 999;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:white;
  canvas { // Open layers bug fix
    display: block !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  @include mq ($from: desktop) {
    padding-right:290px;
  }
  background-color: #A9DDEF;
  &__title {
    @include defra-visually-hidden;
  }
}
.defra-map-html {
  height: 10vh;
}
.defra-map-body {
  position: fixed;
  overflow: hidden; // was hidden before
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
.defra-map-visibility-hidden {
  visibility: hidden;
}
.defra-map-viewport {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:focus[keyboard-focus]:after {
    @include focus($glow: 5px, $strong: 2px, $background: 0px, $inset: 1px);
   }
   &:focus-visible {
    @include focus($glow: 5px, $strong: 2px, $background: 0px, $inset: 1px);
   }
}


.defra-map-key {
  background-color:white;
  position:absolute;
  z-index:2;
  touch-action: none;
  max-width: 285px;
  height: 100%;
  @include mq ($from: desktop) {
    display: block;
    right:0px;
    top:0px;
    bottom:0px;
    width:290px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
  }
  &:focus {
    outline: none;
  }
  &:focus[open="true"][keyboard-focus]:after {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
}

// Map controls - exit
.defra-map__exit {
  float:left;
  position:relative;
  margin:10px 0px 0px 10px;
  border:0;
  padding:0;
  height:40px;
  width:40px;
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  font-size:16px;
  line-height:40px;
  color: govuk-colour('black');
  svg {
    display: inline-block;
    margin:10px;
    vertical-align: top;
  }
  span {
    vertical-align: top;
    @include mq ($until: desktop) {
      // Visually hidden
      clip: rect(0 0 0 0); 
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; 
      width: 1px;
    }
  }
  @include mq ($from: desktop) {
    width:auto;
    padding-right:11px;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus-visible {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00; 
  }
  &:focus[keyboard-focus]:after {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00; 
  }
  &::-moz-focus-inner {
    border: 0;
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;
}

// Map controls - exit
.full-screen {
  float:left;
  position:relative;
  margin:10px 0px 0px 10px;
  border:0;
  padding:0;
  height:40px;
  width:40px;
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  font-size:16px;
  line-height:40px;
  color: govuk-colour('black');
  svg {
    display: inline-block;
    margin:10px;
    vertical-align: top;
  }
  span {
    vertical-align: top;
    @include mq ($until: desktop) {
      // Visually hidden
      clip: rect(0 0 0 0); 
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; 
      width: 1px;
    }
  }
  @include mq ($from: desktop) {
    width:auto;
    padding-right:0px;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus]:after {
    @include focus;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;
}

// Map controls - open key
.defra-map__open-key {
  float:right;
  position:relative;
  margin-left:0px;
  margin-top:0px;
  height:40px;
  width:40px;
  padding:0;
  border:0;
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  font-size:16px;
  line-height:40px;
  text-indent: -5000px;
  color: govuk-colour('black');
  @include mq ($from: desktop) {
    display: none;
  }
  svg {
    display: block;
    margin:10px;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus-visible {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
   /*  @include focus; */
  }
  &::-moz-focus-inner {
    border: 0;
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;
}

// Map controls - open key
.defra-map__keyboard {
  @extend .govuk-skip-link;
  &--visible {
    position: static !important;
    overflow: visible !important;
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    white-space: inherit !important;
    float:left;
    margin: 10px 0px 0px 5px !important;
    z-index: 3;
    border:0;
    height:39px !important;
    width:auto !important;
    padding:0 10px;
    border:0;
    cursor:pointer;
    background-color:white;
    color: govuk-colour('black');
    font-size:16px;
    line-height:39px;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus]:after {
    @include focus;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;
}

// Map key
.defra-map--key-open {
  .defra-map-key {
    @include mq ($until: desktop) {
      display: block; // Safari v14 bug needs to be applied with JS
      left:0;
      top:0px;
      bottom:0px;
      width:290px;
    }
    @include mq ($until: tablet) {
      width:259px;
    }
  }
  .defra-map__exit,
  .defra-map__back,
  .defra-map__open-key {
    @include mq ($until: desktop) {
      display: none;
    }
  }
}
.defra-map-key__title {
  display: block;
  @include govuk-font($size: 24, $weight: bold, $line-height: 51px);
  padding:0 15px;
  margin:0;
}
.defra-map-key__content {
  flex: 1;
  overflow:auto !important;
  touch-action: pan-y !important;
  -webkit-overflow-scrolling: touch !important;
}



// Map controls - close key
.defra-map-key__close {
  @include mq ($from: desktop) {
    display: none;
  }
  position:absolute;
  right:5px;
  top:5px;
  width:40px;
  height:40px;
  margin:0;
  border:0;
  padding:0;
  border:0;
  cursor:pointer;
  background-color: #ffffff;
  color: govuk-colour('black');
  svg {
    display:block;
    margin: 10px;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus]:after {
    @include focus;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

// Map controls (bottom)
.defra-map-controls {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  @include mq ($from: desktop) {
    right:290px;
  }
  pointer-events: none;
}
.defra-map-controls__bottom-v3 {
  position:absolute;
  left:10px;
  bottom:10px;
  right: 10px;
  @include mq($from: desktop){
    right:5px;
  }
  
  pointer-events: none;
  * {
    pointer-events: auto;
  }
}

// Map controls - reset location
.defra-map-reset {
  float:right;
  position:relative;
  border:0;
  height:40px;
  width:40px;
  margin-top: 45px;
  cursor:pointer;
  background-color: white;
  color: govuk-colour('black');
  svg {
    display: block;
    margin: 10px;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus]:after {
    @include focus;
  }
  &[disabled] {
    display: none;
  }
}

// Map controls - zoom

.defra-map-zoom {
  display: none;

  @include mq ($from: tablet) {
    display: block;
    float: right;
    clear: right;
    width: 40px;
    height: auto;
    margin-top: 5px;
  }

  &-in,
  &-out {
    display: block;
    position: relative;
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0;
    cursor: pointer;
    background-color: white;
    color: govuk-colour('black');

    &:hover {
      background-color: govuk-colour('light-grey');
    }

    &:focus-visible {
      outline: 3px solid transparent;
      box-shadow: 0 0 0 2px white, inset 0 0 0 0 #0b0c0c, 0 0 0 5px #0b0c0c, 0 0 0 8px #ffdd00;
      z-index: 5;
    }

    &.zoom-disable {
      color: #c7c7c7;
      pointer-events: none;
      cursor: auto;
      outline: none;
      box-shadow: none;

      &:hover {
        background-color: white;
      }
    }
  }

  &-in svg,
  &-out svg {
    display: block;
    margin: 10px;
  }

  &-in::-moz-focus-inner,
  &-out::-moz-focus-inner {
    border: 0;
  }
}


// Map controls - Show attributions
.defra-map-attribution {
  float:right;
  clear: both;
  position: relative;
  @include govuk-font($size: 19);
  border:0;
  height:40px;
  width:40px;
  padding:0;
  margin-top: 5px;
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  svg {
    display: block;
    margin: 10px;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus]:after {
    @include focus;
  }
}



// Map controls - Base map
.defra-map-background {
  float:right;
  clear: both;
  position: relative;
  @include govuk-font($size: 19);
  border:0;
  height:40px;
  width:40px;
  padding:0;
  margin-top: 5px;
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  svg {
    display: block;
    margin: 10px;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus {
    outline: none;
  }
  &:focus[keyboard-focus]:after {
    @include focus;
  }
}

// Map information dialog
.defra-map-info {
  position:absolute;
  touch-action: none;
  background-color:white;
  bottom:0;
  left:0;
  right:0px;
  z-index:4;
  @include mq ($from: tablet) {
    width:auto;
    right:51px;
    max-width:378px;
    bottom:10px;
    left:10px;
  }
  &:focus-visible {
    /* outline: none; */
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
    @include mq ($until: tablet) {
      /* @include focus($glow: 5px, $strong: 2px, $background: 0px, $inset: 1px); */
      outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
    }
    @include mq ($from: tablet) {
      /* @include focus(); */
      outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
    }
  }
  &__container {
    margin-right:36px;
  }
}
.defra-map-info__close {
  position:absolute;
  top:3px;
  right:3px;
  width:40px;
  height:40px;
  padding:0;
  border:0;
  cursor:pointer;
  background-color: #ffffff;
  color: govuk-colour('black');
  svg {
    display: block;
    margin: 10px;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus-visible {
    /* outline: none; */
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
  /*   @include focus; */
  outline: 3px solid transparent;
  box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}
.defra-map--info-open .defra-map-controls__bottom {
  visibility: hidden;
  @include mq ($from: tablet) {
    visibility: visible;
  }
}

// Viewport focus keyboard access tooltip
.defra-map-tooltip {
  position: absolute; 
  @include govuk-font($size: 16);
  background-color: $govuk-focus-colour;
  bottom:10px;
  left:10px;
  right:10px;
  padding:10px 12px;
  @include mq ($from: tablet) {
    right:auto;
    width:360px;
  }
}

// Layer blend modes
.defra-map-vt-layer canvas {
  mix-blend-mode: darken;  
}

.defra-map-raster-canvas {
  mix-blend-mode: multiply;
}

// responsive mobile version 

@media (max-width: 769px) {
  /* Hide the defra-map-key element */
  .defra-map-key__section {
    display: none;
  }

  .defra-map-reset {
    margin-right: -40px;
}

// to stop 20px top padding on maps
  .govuk-main-wrapper {
  padding: 0; 
}
// to bring back padding to h1 on mobile on normal gov content pages
h1{
  padding-top: 20px;
}
}

// depth attribute fix with scenarios container
@media screen and (min-width: 1049px) and (max-width: 1188px) {

  .attribution-depth {
    margin-bottom: 115px;
  }
}

@media screen and (min-width: 937px) and (max-width: 1048px) {
  .attribution-depth {
    margin-bottom: 150px;
  }
}

// version 5

@media screen and (min-width: 938px){
.btn-margin-bottom {
  margin-bottom: 95px;
}

.btn-margin-bottom-depth {
  margin-bottom: 115px;
}
// version 6 map change
.btn-margin-bottom-depth-v6 {
  margin-bottom: 95px;
}
// move dialog box to the right

.dialog-right {
  left: auto;
  right: 0;
  margin-right: 300px;
}
}

.defra-map__open-key-v5 {
  float:right;
  position:relative;
  display: inline-block;
  margin-left:0px;
  margin-top:0px;
  height:40px;
  width:80px;
  padding:0;
  border:0;
  cursor:pointer;
  background-color:white;
  @include govuk-font($size: 16);
  line-height:40px;
/*   text-indent: -5000px; */
  color: govuk-colour('black');
  @include mq ($from: desktop) {
    display: none;
  }
  svg {
    display: block;
    margin:10px;
    vertical-align: middle;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus-visible {
    /* outline: none; */
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
    /* @include focus; */
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;
  .button-content {
    display: flex;
    align-items: center;
  }
  .open-button-text {
    margin-left: 2px;  
   }
}





// Map controls - reset location
.defra-map-reset-v5 {
  float:right;
  position:relative;
  display: inline-block;
  border:0;
  height:40px;
  width:110px;
  margin-top: 45px;
  margin-right: -80px;
  cursor:pointer;
  background-color: white;
  color: govuk-colour('black');
  @include govuk-font($size: 16);
  text-decoration: none !important;
  svg {
    display: block;
    margin:10px;
    vertical-align: middle;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus {
    /* outline: none; */
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
   /*  @include focus; */
   outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &[disabled] {
    display: none;
  }
  .button-content {
    display: flex;
    align-items: center;
  }
  .open-button-text {
    margin-left: 0px;  
   }
   @include mq ($from: desktop) {
    width:40px;
    margin-right: 0;
    display:block;
    .open-button-text {
      display: none; 
     }
  }
}



.defra-map-attribution-v5 {
  float:right;
  position:relative;
  display: inline-block;
  clear: both;
  @include govuk-font($size: 16);
  border:0;
  height:40px;
  width:115px;
  padding:0;
  margin-top: 5px;
  margin-right: 0px;
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  svg {
    display: block;
    margin: 10px;
    vertical-align: middle;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus {
    /* outline: none; */
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
   /*  @include focus; */
   outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  .button-content {
    display: flex;
    align-items: center;
  }
  .open-button-text {
    margin-left: 0px;  
   }
   @include mq ($from: desktop) {
    width:40px;
    margin-right: 0;
    display:block;
    .open-button-text {
      display: none; 
     }
  }
}

// version 6 of map
.defra-map__advanced {
  float: right;
  position:relative;
  margin:10px 10px 0px 10px;
  border:0;
  padding:0;
  height:40px;
  width:40px;
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  font-size:16px;
  line-height:40px;
  color: govuk-colour('black');
  // render full text 
  width:auto;
  padding-right:11px;
  svg {
    display: inline-block;
    margin:10px;
    vertical-align: top;
  }
  span {
    vertical-align: top;
  }
  @include mq ($until: desktop) {
    span {
      font-size:14px;
      padding-left: 0;
    }
    }
    
  
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus-visible {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
    /* @include focus($glow: 5px, $strong: 2px, $background: 0px, $inset: 1px);  */     
  }
  &::-moz-focus-inner {
    border: 0;
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;
}

.defra-map-attribution-v6 {
  float:right;
  position:relative;
  display: inline-block;
  clear: both;
  @include govuk-font($size: 16);
  border:0;
  height:40px;
  width:115px;
  padding:0;
  margin-top: 5px;
  margin-right: 0px;
  // override scenario controls padding to not create new js
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  svg {
    display: block;
    margin: 10px;
    vertical-align: middle;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus-visible {
    /* outline: none; */
    outline: 3px solid transparent;
   box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
    @include focus;
  }
  .button-content {
    display: flex;
    align-items: center;
  }
  .open-button-text {
    margin-left: 0px;  
   }
   @include mq ($from: desktop) {
    width:40px;
    margin-right: 0;
    display:block;
    .open-button-text {
      display: none; 
     }
  }
}

// map v7

.defra-map-attribution-v7 {
  float:right;
  clear: both;
  @include mq ($until: tablet) {
    /* float:left;
    clear: none; */
    margin-top: 5px;
  }
  position: relative;
  @include govuk-font($size: 19);
  border:0;
  height:40px;
  width:40px;
  padding:0;
  margin-top: 5px;
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  svg {
    display: block;
    margin: 10px;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus-visible {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
    @include focus;
  }
}


.defra-map-attribution-v7-extent {
  float:right;
  clear: both;
  display: none;
  position: relative;
  @include govuk-font($size: 19);
  border:0;
  height:40px;
  width:40px;
  padding:0;
  margin-top: 5px;
  cursor:pointer;
  background-color:white;
  color: govuk-colour('black');
  svg {
    display: block;
    margin: 10px;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus-visible {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
    @include focus;
  }
}
@media screen and (min-width: 769px){
  // move dialog box to the right on extents 
  
  .dialog-right-extent {
    left: auto;
    right: 0;
    margin-right: 350px;
  }
  .dialog-right-depth {
    left: auto;
    right: 0;
    margin-right: 300px;
  }
  }


  // OS copyright logo
.defra-map-os-logo-depth {
  position: absolute;
  @media screen and (max-width: 1063px) {
  left: 10px;
  bottom: 105px;
  }
  bottom: 10px;
  left: 10px;
}

.defra-map-os-logo {
  position: absolute;
  bottom: 10px;
  left: 10px;
}





// version 8 of map

.map-btn-group {
 float: right;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 gap: 0px;
}


.res-btn {
  width: 130px;
}

.sw-btn {
  width: 160px;
}

// version 9

.defra-map-key-v10 {
  display: block;
  background-color:white;
  position:absolute;
  z-index:2;
  touch-action: none;
  max-width: 285px;
  height: 175px;
  right: 0px;
  top: 0px;
  margin: 10px 10px 0 0;
  @include mq ($from: desktop) {
    display: none;
    right:0px;
    top:0px;
    bottom:0px;
    width:290px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
  }
  &:focus-visible {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
}


.defra-map-key-v10-rs {
  display: block;
  background-color:white;
  position:absolute;
  z-index:2;
  touch-action: none;
  max-width: 285px;
  height: 215px;
  right: 0px;
  top: 0px;
  margin: 10px 10px 0 0;
  @include mq ($from: desktop) {
    display: none;
    right:0px;
    top:0px;
    bottom:0px;
    width:290px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
  }
  &:focus-visible {
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
}

.key-display-v10{
  display: block;
  @include mq ($until: tablet) {
    display: none;
  }
}

.symbol-margin-top {
  margin-top: 12px;
}

// V8 and forward fix after OS map requirement

.scenario-remove-spacing {
  @include mq ($until: 769px) {
  bottom: 0px;
  left: 0px;
  right: 0px;
  }
}

.btn-spacing {
  @include mq ($until: 769px) {
  right: 10px;
  }
}

.copyright-text {
  display: none;
  @include mq ($from: 769px) {
  display: block;
  position: relative;
  bottom: -5px;
  right: auto;
}
}

// v11 zoom in margin after removing copyright

.zoom-margin-depth {
  margin-bottom: 95px;
}

// v12

#info-panel {
  @include mq ($until: 520px){
    display: block;
  }
  display: none;
  width: 100%;
  background-color: #ffffff; /* Adjust background color */
  padding: 18px;
  box-sizing: border-box;
  position: absolute;
  bottom: 109px;
  left: 0;
  border-bottom: solid #242424 1px;
  @include govuk-font($size: 16);
}

.info-title {
  font-size: 18px; /* Adjust font size */
  font-weight: bold;
  margin-bottom: 0px; /* Adjust margin as needed */
  text-align: left; /* Align title to the left */
}

.info-row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 0 15px 0 15px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text */
  margin-top: 15px; /* Adjust margin between title and the row of boxes */
}

.svg-square {
  width: 40px; /* Adjust square size */
  height: 40px; /* Adjust square size */
  margin-bottom: 10px;
}


// v14

.panel {
  @include mq ($from: 520px){
    position: absolute;
    top: 10px;
    right: 10px;
    width: 450px;
    display: block;
    pointer-events: auto;
  }
  display: none;
  border: 2px solid #0b0c0c;
  &:focus-visible {
        border: 2px solid #0b0c0c;
        outline: 3px solid #ffdd00;
  }
}

#mobile-key-panel {
  @include mq ($from: 520px){
    pointer-events: auto;
    max-height: 100%;
    flex-direction: column;
    position: relative;
    display: block;
  }
  display: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 2px;
  width: 100%;
  background-color: #ffffff; /* Adjust background color */
  padding:  18px 18px 18px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  @include govuk-font($size: 16);
 
}


#mobile-key-panel-bottom {
  @include mq ($from: 520px){
    display: none;
  }
  display: block;
  flex-direction: column;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 2px;
  width: 100%;
  background-color: #ffffff; /* Adjust background color */
  padding:  18px 18px 18px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  @include govuk-font($size: 16);
  pointer-events: auto;
  &:focus-visible {
    border-top: 3px solid #0b0c0c;
    outline: 3px solid #ffdd00;
}
}

.desktop-margin {
  @include mq ($from: 769px){
  margin-right: 5px;
  }
}

.key-margin {
  @include mq ($from: 640px){
    margin-bottom: 5px;
    width: 90px;
    }
}

.v14-box-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 2px;
}

.panel-title {
  font-size: 19px;
  @include mq ($until: 640px){
    font-size: 16px;
}
}


// V17 Map // 
.defra-map__open-key-v17 {
  float:right;
  position:relative;
  display: inline-block;
  margin-left:0px;
  margin-top:0px;
  height:40px;
  width:90px;
  padding:0;
  border:0;
  cursor:pointer;
  background-color:white;
  @include govuk-font($size: 16);
  line-height:40px;
/*   text-indent: -5000px; */
  color: govuk-colour('black');
  @include mq ($from: desktop) {
    display: none;
  }
  svg {
    display: block;
    margin:10px;
    vertical-align: middle;
  }
  &:hover {
    background-color: govuk-colour('light-grey');
  }
  &:focus-visible {
    /* outline: none; */
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &:focus[keyboard-focus]:after {
    /* @include focus; */
    outline: 3px solid transparent;
    box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px 0px #0b0c0c, 0px 0px 0px 5px #0b0c0c, 0px 0px 0px 8px #ffdd00;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;
  .button-content {
    display: flex;
    align-items: center;
  }
  .open-button-text {
    margin-left: 2px;  
   }
}
