// sw + ros extent
.defra-map-scenarios-v3 {
  width:100%;
  @media screen and (min-width: 938px) {
    position:absolute;
    bottom:0px;
    left:0px;
    max-width:720px;
  }
  padding-top:10px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &__container {
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
 
  .govuk-radios  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    padding: 5px 0px 0px 0px;
  }
  
  .govuk-radios__item{
    flex: 1 1 auto;
    @include govuk-font($size: 14);
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 54px;
    border-bottom: 7px solid transparent;  
  }
  
  .govuk-radios--small .govuk-radios__label{
  &:before{
    margin-left: 15px;
    margin-top: 8px;
    height: 28px;
    width: 28px;
  }
  &:after{
    margin-left: 15px;
    margin-top: 8px;
    border-width: 7px;
  }
}
  
  .govuk-radios__item input[type="radio"]:checked + label strong{
    text-decoration: none;
  }  

  .govuk-radios--small{
    strong {
      display: inline-block;
      @include govuk-font($size: 16, $weight: bold);
      font-size: 16px;
      line-height: 1.31579;
      margin-bottom: 2px;
      pointer-events: none;
      text-decoration: underline;
    }
  }
  .risk-context-v3 {
    display: block;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 0;
  }
  
}

// depth + velocity

.defra-map-scenarios-depth-v3 {
  width:100%;
  @media screen and (min-width: 938px) {
    position:absolute;
    bottom:0px;
    left:0px;
    max-width:830px;
  }
  padding-top:10px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &__container {
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
 
  .govuk-radios  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    padding: 5px 0px 0px 0px;
  }
  
  .govuk-radios__item{
    flex: 1 1 auto;
    @include govuk-font($size: 14);
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 54px;
    border-bottom: 7px solid transparent;  
  }
  
  .govuk-radios--small .govuk-radios__label{
  &:before{
    margin-left: 15px;
    margin-top: 8px;
    height: 28px;
    width: 28px;
  }
  &:after{
    margin-left: 15px;
    margin-top: 8px;
    border-width: 7px;
  }
}
  
  .govuk-radios__item input[type="radio"]:checked + label strong{
    text-decoration: none;
  }  

  .govuk-radios--small{
    strong {
      display: inline-block;
      @include govuk-font($size: 16, $weight: bold);
      font-size: 16px;
      line-height: 1.31579;
      margin-bottom: 2px;
      pointer-events: none;
      text-decoration: underline;
    }
  }
  .risk-context-v3 {
    display: block;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 0;
  }
  
}

// res

.defra-map-scenarios-v3-res {
  width:100%;
  @media screen and (min-width: 938px) {
    position:absolute;
    bottom:0px;
    left:0px;
    max-width:480px;
  }
  padding-top:10px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &__container {
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
 
  .govuk-radios  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    padding: 5px 0px 0px 0px;
  }
  
  .govuk-radios__item{
    flex: 1 1 auto;
    @include govuk-font($size: 14);
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 54px;
    border-bottom: 7px solid transparent;  
  }
  
  .govuk-radios--small .govuk-radios__label{
  &:before{
    margin-left: 15px;
    margin-top: 8px;
    height: 28px;
    width: 28px;
  }
  &:after{
    margin-left: 15px;
    margin-top: 8px;
    border-width: 7px;
  }
}

  .govuk-radios__item input[type="radio"]:checked + label strong{
    text-decoration: none;
  }  

  .govuk-radios--small{
    strong {
      display: inline-block;
      @include govuk-font($size: 16, $weight: bold);
      font-size: 16px;
      line-height: 1.31579;
      margin-bottom: 2px;
      pointer-events: none;
      text-decoration: underline;
    }
  }
  .risk-context-v3 {
    display: block;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 0;
  }
  
}

// sw + ros extent for mapv3-2
.defra-map-scenarios-v3-2 {
  width:100%;
  @media screen and (min-width: 938px) {
    position:absolute;
    bottom:0px;
    left:0px;
    max-width:480px;
  }
  padding-top:10px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &__container {
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
 
  .govuk-radios  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    padding: 5px 0px 0px 0px;
  }
  
  .govuk-radios__item{
    flex: 1 1 auto;
    @include govuk-font($size: 14);
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 54px;
    border-bottom: 7px solid transparent;  
  }
  
  .govuk-radios--small .govuk-radios__label{
  &:before{
    margin-left: 15px;
    margin-top: 8px;
    height: 28px;
    width: 28px;
  }
  &:after{
    margin-left: 15px;
    margin-top: 8px;
    border-width: 7px;
  }
}
  
  .govuk-radios__item input[type="radio"]:checked + label strong{
    text-decoration: none;
  }  

  .govuk-radios--small{
    strong {
      display: inline-block;
      @include govuk-font($size: 16, $weight: bold);
      font-size: 16px;
      line-height: 1.31579;
      margin-bottom: 2px;
      pointer-events: none;
      text-decoration: underline;
    }
  }
  .risk-context-v3 {
    display: block;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 0;
  }
}
.defra-map--risk .defra-map-os-logo {
  float: left;
  position: relative;
  bottom: -20px;
  @media screen and (min-width: 938px) {
    bottom: 74px;
  }
}

// Add overflow scroll and scroll to scenarios for depth/velocity

@media (max-width: 820px) {
.horizontal-overflow {
  overflow-x: auto;
  display: block;
  scroll-behavior: smooth;
}
.search-container-v3 {
  display: none !important;
}
.defra-map-scenarios-depth-v4.dragging {
  scroll-behavior: unset;
}
.defra-map-scenarios-depth-v4 {
  &::-webkit-scrollbar {
    display: none;
  }
  .govuk-radios  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    padding: 5px 0px 0px 0px;
    width: 800px;
    }
  }

  // Scenario arrows
.left-btn, .right-btn {
  position: absolute;
  font-size: 1.8em;
  padding: 30px;
  cursor: pointer;
  color:#000000;
  z-index: 2;
}

/* .circle-behind-btn {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
} */

.left-btn {
  display: none;
  left: 0;
  background: linear-gradient(to left, transparent, #ffffff 50%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 30px;
}


.right-btn {
  right: 0;
  background: linear-gradient(to right, transparent, #ffffff 50%);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-right: 30px;
}

}

// version 4

.defra-map-scenarios-depth-v4 {
  width:100%;
  @media screen and (min-width: 938px) {
    position:absolute;
    bottom:0px;
    left:0px;
    max-width:830px;
  }
  padding-top:10px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &__container {
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  
  
  .govuk-radios  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    padding: 5px 0px 0px 0px;
  }
  
  .govuk-radios__item{
    flex: 1 1 auto;
    @include govuk-font($size: 14);
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 54px;
    border-bottom: 7px solid transparent;  
  }
  
  .govuk-radios--small .govuk-radios__label{
  &:before{
    margin-left: 15px;
    margin-top: 8px;
    height: 28px;
    width: 28px;
  }
  &:after{
    margin-left: 15px;
    margin-top: 8px;
    border-width: 7px;
  }
}
  
  .govuk-radios__item input[type="radio"]:checked + label strong{
    text-decoration: none;
  }  

  .govuk-radios--small{
    strong {
      display: inline-block;
      @include govuk-font($size: 16, $weight: bold);
      font-size: 16px;
      line-height: 1.31579;
      margin-bottom: 2px;
      pointer-events: none;
      text-decoration: underline;
    }
  }
  .risk-context-v3 {
    display: block;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 821px) {
  .right-btn {
    display: none;
  }
}

.last-scenario {
  margin-bottom: 7px;
}

// version 5

.scenario-float-right {
  right: 0;
  left: auto;
}

// version 6

.v6-width-fix-depth {
  max-width: 660px;
  .govuk-radios{
    width: 660px;
  }
}


.v10-mob-depth{
  display: none;
  .govuk-radios{
    width: 520px;
  }
  max-width: 520px;
  @include mq ($until: tablet) {
    display: block;
  }

}

.arrow-padding {
  padding: 28px;
}