# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
# ignore extension SCSS because it's dynamically generated
lib/extensions/_extensions.scss
# ignore any release archives
/govuk-prototype-kit*.zip
.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
node_modules/
.tmuxp.*
.idea
/cypress-test
/cypress/videos
/cypress/screenshots
/cypress/downloads
/cypress/support
/cypress/temp
tmp/
#stop API key being uploaded
/app/assets/javascripts/bundles/main.bundle.js
/app/assets/javascripts/bundles/small.bundle.js
/app/assets/javascripts/bundles/mapv2.bundle.js
/app/assets/javascripts/bundles/mapv2alt.bundle.js
/app/assets/javascripts/bundles/mapv3.bundle.js
/app/assets/javascripts/bundles/mapv3_2.bundle.js
/app/assets/javascripts/bundles/mapv3_3.bundle.js
/app/assets/javascripts/bundles/mapv3_4.bundle.js
/app/assets/javascripts/bundles/mapv3_5.bundle.js
/app/assets/javascripts/bundles/mapv4.bundle.js
/app/assets/javascripts/bundles/mapv5.bundle.js
/app/assets/javascripts/bundles/mapv6.bundle.js
