{% extends "layout.html" %}

{% block content %}

<div id="address-page">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Select an address
      </h1>

      <div class="govuk-inset-text">

        <p>
          This service will tell you the flood risk of an area, not a specific property.
        </p>

        <p>
          We need to ask for the property number so we know where you want to check.
        </p>

      </div>


      <form method="post">

        <div class="govuk-form-group">

          <span class="govuk-label">Postcode</span>

          <p class="govuk-body">
            <strong style="text-transform: uppercase;">DN19 7BE</strong>
            <a href="where-do-you-want-to-check" class="govuk-link">Change</a>
          </p>

        </div>

        <div class="govuk-form-group">

          <label class="govuk-label" for="address">
            Address
          </label>

          <select class="govuk-select" id="address" name="address">
  
    
            <option value="-1">12 addresses found</option>
          
        
          
            <option value="0">1, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="1">2, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="2">3, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="3">4, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="4">5, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="5">6, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="6">7, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="7">8, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="8">9, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="9">10, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="10">11, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
          
            <option value="11">CHERRY LODGE, JOHN HARRISONS CLOSE, BARROW-UPON-HUMBER, DN19 7BE</option>
          
        
        </select>
        </div>

        <a href="{{ data['results'] }}" role="button" class="govuk-button govuk-button--primary govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a>

      </form>

    </div>

  </div>

</div>



{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
