{% extends "layout.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Flood risk summary for 7 addresses</h1>
        <div class="govuk-inset-text">

          <p>
            The flood risk results are for the are around the locations you searched for, not a specific property.
          </p>
    
        </div>
        <p class="govuk-body">Find out more about the risk result for the different flood types by viewing the full flood risk details for each address.</p>
        <p class="govuk-body"><a href="/current/multiple-search/iteration-3/address-list-7" class="govuk-link">Add or change addresses</a></p>
        <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" class="govuk-link">Clear list and return to search</a></p>
        


        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Flood risk by type for 7 addresses</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header column-width">Surface water</th>
              <th scope="col" class="govuk-table__header column-width">Rivers and the sea</th>
              <th scope="col" class="govuk-table__header ">Reservoirs</th>
              <th scope="col" class="govuk-table__header">Groundwater</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Park View Cottage, Westoby Lane, <br>Barrow-Upon-Humber, DN19 7DJ<a href="/current/multiple-search/iteration-3/results-dn19" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-3 govuk-!-margin-bottom-4">
                  View full flood risk details
                </a><a href="#" class="link govuk-!-margin-bottom-2">View a map of flood risk</a></th>

              <td class="govuk-table__cell"><div class="low-risk">Low risk</div></td>
              <td class="govuk-table__cell"><div class="high-risk">High risk</div></td>

              <td class="govuk-table__cell"><div class="cell">Unlikely</div></td>
              <td class="govuk-table__cell"><div class="cell">Possible</div></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Valley Organics Workers Co-op, 16, <br>Market Street, Hebden Bridge, HX7 6AA<a href="/current/multiple-search/iteration-3/results-hx76aa" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-3 govuk-!-margin-bottom-4">
                  View full flood risk details
                </a><a href="#" class="link govuk-!-margin-bottom-2">View a map of flood risk</a></th>

              <td class="govuk-table__cell"><div class="high-risk">High risk</div></td>
              <td class="govuk-table__cell"><div class="high-risk">High risk</div></td>

              <td class="govuk-table__cell"><div class="cell">Likely</div></td>
              <td class="govuk-table__cell"><div class="cell">Unlikely</div></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">3 Rockingham Villas, Church Lane, <br>Newmarket, CB8 0HL<br>
                <a href="/current/multiple-search/iteration-3/results-cb8" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-3 govuk-!-margin-bottom-4">
                  View full flood risk details
                </a><a href="#" class="link govuk-!-margin-bottom-2">View a map of flood risk</a></th>

              <td class="govuk-table__cell"><div class="high-risk">High risk</div></td>
              <td class="govuk-table__cell"><div class="medium-risk">Medium risk</div></td>

              <td class="govuk-table__cell"><div class="cell">Unlikely</div></td>
              <td class="govuk-table__cell"><div class="cell">Possible</div></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">	2, Erith Road, Leicester, LE2 7QA<a href="/current/multiple-search/iteration-3/results-le2" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-3 govuk-!-margin-bottom-4">
                  View full flood risk details
                </a><a href="#" class="link govuk-!-margin-bottom-2">View a map of flood risk</a></th>

              <td class="govuk-table__cell"><div class="high-risk">High risk</div></td>
              <td class="govuk-table__cell"><div class="high-risk">High risk</div></td>

              <td class="govuk-table__cell"><div class="cell">Unlikely</div></td>
              <td class="govuk-table__cell"><div class="cell">Unlikely</div></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">12, West Park, Selby, YO8 4JL<a href="/current/multiple-search/iteration-3/results-yo8" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-3 govuk-!-margin-bottom-4">
                  View full flood risk details
                </a><a href="#" class="link govuk-!-margin-bottom-2">View a map of flood risk</a></th>

              <td class="govuk-table__cell"><div class="low-risk">Low risk</div></td>
              <td class="govuk-table__cell"><div class="low-risk">Low risk</div></td>

              <td class="govuk-table__cell"><div class="cell">Likely</div></td>
              <td class="govuk-table__cell"><div class="cell">Unlikely</div></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Classic Home Improvements, 61, <br>Knutsford Road, Warrington, WA4 1AB<a href="/current/multiple-search/iteration-3/results-wa4" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-3 govuk-!-margin-bottom-4">
                  View full flood risk details
                </a><a href="#" class="link govuk-!-margin-bottom-2">View a map of flood risk</a></th>

              <td class="govuk-table__cell"><div class="low-risk">Very low risk</div></td>
              <td class="govuk-table__cell"><div class="high-risk">High risk</div></td>

              <td class="govuk-table__cell"><div class="cell">Likely</div></td>
              <td class="govuk-table__cell"><div class="cell">Unlikely</div></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">4 Glebe Close, Blythe Bridge, <br>Stoke-On-Trent, ST11 9JN<a href="/current/multiple-search/iteration-3/results-st11" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-3 govuk-!-margin-bottom-4">
                  View full flood risk details
                </a><a href="#" class="link govuk-!-margin-bottom-2">View a map of flood risk</a></th>

              <td class="govuk-table__cell"><div class="low-risk">Very low risk</div></td>
              <td class="govuk-table__cell"><div class="low-risk">Very low risk</div></td>

              <td class="govuk-table__cell"><div class="cell">Unlikely</div></td>
              <td class="govuk-table__cell"><div class="cell">Unlikely</div></td>
            </tr>
            
          </tbody>
        </table>
        <a href="#" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-0">
         Download flood risk summary
        </a>
      </div>
    </div>
  </main>
</div>

{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
