{% extends "layout.html" %}

{% block content %}

<div id="address-page">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Select an address
      </h1>

      <div class="govuk-inset-text">

        <p>
          This service will tell you the flood risk of an area, not a specific property.
        </p>

        <p>
          We need to ask for the property number so we know where you want to check.
        </p>

      </div>


      <form method="post">

        <div class="govuk-form-group">

          <span class="govuk-label">Postcode</span>

          <p class="govuk-body">
            <strong style="text-transform: uppercase;">YO8 4JL</strong>
            <a href="where-do-you-want-to-check" class="govuk-link">Change</a>
          </p>

        </div>

        <div class="govuk-form-group">

          <label class="govuk-label" for="address">
            Select an address
          </label>

          <select class="govuk-select" id="address" name="address">
  
    
            <option value="-1">59 addresses found</option>
          
        
          
            <option value="0">1, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="1">2, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="2">3, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="3">4, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="4">5, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="5">6, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="6">7, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="7">8, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="8">9, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="9">10, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="10">11, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="11">12, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="12">13, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="13">14, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="14">15, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="15">16, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="16">17, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="17">18, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="18">19, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="19">20, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="20">21, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="21">22, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="22">23, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="23">24, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="24">25, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="25">26, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="26">27, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="27">28, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="28">29, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="29">30, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="30">32, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="31">33, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="32">34, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="33">35, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="34">36, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="35">37, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="36">38, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="37">39, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="38">40, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="39">41, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="40">42, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="41">43, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="42">44, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="43">45, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="44">46, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="45">47, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="46">48, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="47">49, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="48">50, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="49">51, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="50">52, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="51">53, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="52">54, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="53">55, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="54">56, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="55">57, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="56">58, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="57">59, WEST PARK, SELBY, YO8 4JL</option>
          
        
          
            <option value="58">OLD WILLOW HOUSE, WEST PARK, SELBY, YO8 4JL</option>
          
        
        </select>

        </div>

        <a href="{{ data['results'] }}" role="button" class="govuk-button govuk-button--primary govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a>

      </form>

    </div>

  </div>

</div>



{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
