.defra-flood-impact-list {
    @include govuk-font($size: 19);
   /*  border-bottom:1px solid $govuk-border-colour; */
    &__row {
        position:relative;
        margin-left:3.65em;
        overflow:visible;
    }
    &__row:before {
        position:absolute;
        content:'';
        width:5px;
        top:11px;
        bottom:-20px;
        background-color: govuk-colour('mid-grey');
        margin-left:-1.5px;
        left:8%;
        @include mq ($from: tablet) {
            left:4%;
        }
    }
    &__key {
        @include govuk-font($size: false, $tabular: true, $weight: bold);
        position:absolute;
        left:-3.65em;
        width:3.65em;
        top:0px;
        text-align:right;
    }
    &__value {
        position:relative;
        margin:0;
        padding-left: 16%;
        padding-bottom:10px;
        @include mq ($from: tablet) {
            padding-left:8%;
            padding-bottom:15px;
        }
    }
    &__value:nth-child(2):before {
        position: absolute;
        content:'';
        width:22px;
        height:5px;
        border-top:0px solid white;
        border-bottom:0px solid white;
        background-color:govuk-colour('mid-grey');
        margin-left:-10px;
        top:8px;
        left:8%;
        @include mq ($from: tablet) {
            top:11px;
            left:4%;
        }
    }
    &__row:last-child {
        &:before {
            bottom:0px;
        }
        .defra-flood-impact-list__value:last-child {
            padding-bottom:0;
        }
        .defra-flood-impact-list__value:last-child {
            padding-bottom:0;
            .defra-flood-impact-list__container {
                border-bottom:0px;
            }
        }
    }
    &__container {
        padding-bottom:10px;
        /* border-bottom:1px solid $govuk-border-colour; */
        @include mq ($from: tablet) {
            padding-right:28%;
            padding-bottom:15px;
        }
    }
    &__action {
        display:block;
        margin-top:5px;
        @include mq ($from: tablet) {
            position:absolute;
            right:0;
            top:0px;
            margin-top:0px;
        }
    }
    .defra-button-text-s {
        display:block;
    }
    &__row--current .defra-flood-impact-list__action {
        display: none;
    }
    &__row--exceeded {
        &:before {
            background-color: govuk-colour('blue');
        }
        .defra-flood-impact-list__value:nth-child(2):before {
            background-color: govuk-colour('blue');
            border:0px;
        }
    }
    &__row--current {
        &:before {
            background-color: govuk-colour('blue');
        }
        .defra-flood-impact-list__value {
            /* font-weight: bold; */
        }
        .defra-flood-impact-list__value:before {
            background-color: govuk-colour('blue');
            border:0px;
        }
    }
  }

  .depth-chance-info {
    padding-left: 10px;
    margin-bottom: 3px;
    @include mq ($until: tablet) {
        display: block;
        padding-left: 0px;
        margin-top: 10px;
    }
  }

  .label-mod-depth {
    padding: 5px 12px 5px 12px;
    white-space: nowrap;
    @include mq ($until: 710px) {
     padding: 4px 8px 4px 8px;
   }
  }
  
  .cc-depth-margin-top {
      margin-top: 225px;
  }

  .cc-depth-margin-top-2 {
    margin-top: 175px;
}

.cc-depth-margin-top-3 {
    margin-top: 105px;
}

.key-mod {
    width: 2.5em;
}

.hide-comparison {
    @include mq ($until: tablet){
        display: none;
    }
}

.column-width-mod {
    width:35%;
}

.unbold-depth {
    font-weight: normal;
}


.flex-container-gauge {
    display: none;
    @include mq ($until: 760px){
    display: flex;
    gap: 25px;
  }
  
  .gauge-container {
    flex: 1;
  }
}

.desktop-container-gauge {
    display: none;
    @include mq ($from: 760px){
        display: block;
    }
}


// v13

.defra-flood-impact-list-v13 {
    @include govuk-font($size: 19);
   /*  border-bottom:1px solid $govuk-border-colour; */
    &__row {
        position:relative;
        margin-left:3.65em;
        overflow:visible;
    }
    &__row:before {
        position:absolute;
        content:'';
        width:15px;
        top:11px;
        bottom:-20px;
        background-color: govuk-colour('mid-grey');
        margin-left:-1.5px;
        margin-bottom: -1px;
        left:8%;
        @include mq ($from: tablet) {
            left:7%;
        }
    }
    &__key {
        @include govuk-font($size: false, $tabular: true, $weight: bold);
        position:absolute;
        left:-3.65em;
        width:3.65em;
        top:0px;
        text-align:right;
    }
    &__value {
        position:relative;
        margin:0;
        padding-left: 16%;
        padding-bottom:10px;
        @include mq ($from: tablet) {
            padding-left:8%;
            padding-bottom:15px;
        }
    }
    &__value:nth-child(2):before {
        position: absolute;
        content:'';
        width:32px;
        height:5px;
        border-top:0px solid white;
        border-bottom:0px solid white;
        background-color:govuk-colour('mid-grey');
        margin-left:-10px;
        top:8px;
        left:8%;
        @include mq ($from: tablet) {
            top:11px;
            left:7%;
        }
    }
    &__row:last-child {
        &:before {
            bottom:0px;
        }
        .defra-flood-impact-list-v13__value:last-child {
            padding-bottom:0;
        }
        .defra-flood-impact-list-v13__value:last-child {
            padding-bottom:0;
            .defra-flood-impact-list-v13__container {
                border-bottom:0px;
            }
        }
    }
    &__container {
        padding-bottom:10px;
        /* border-bottom:1px solid $govuk-border-colour; */
        @include mq ($from: tablet) {
            padding-right:28%;
            padding-bottom:15px;
        }
    }
    &__action {
        display:block;
        margin-top:5px;
        @include mq ($from: tablet) {
            position:absolute;
            right:0;
            top:0px;
            margin-top:0px;
        }
    }
    .defra-button-text-s {
        display:block;
    }
    &__row--current .defra-flood-impact-list-v13__action {
        display: none;
    }
    &__row--exceeded {
        &:before {
            background-color: govuk-colour('blue');
        }
        .defra-flood-impact-list-v13__value:nth-child(2):before {
            background-color: govuk-colour('blue');
            border:0px;
        }
    }
    &__row--current {
        &:before {
            background-color: govuk-colour('blue');
        }
        .defra-flood-impact-list-v13__value {
            /* font-weight: bold; */
        }
        .defra-flood-impact-list-v13__value:before {
            background-color: govuk-colour('blue');
            border:0px;
        }
    }
  }

  .flex-container-gauge-v13 {
    display: none;
    margin: 0 80px 0 50px;
    @include mq ($until: 760px){
        margin: 0 80px 0 50px;
    display: flex;
    gap:15px;
    }
    @include mq ($until: 700px){
        margin: 0 60px 0 0px;
  }
    @include mq ($until: 640px){
        margin: 0 60px 0 100px;
  }
  @include mq ($until: 500px){
    margin: 0 40px 0 60px;
}
@include mq ($until: 400px){
    margin: 0;
}
  
  .gauge-container {
    flex: 1;
  }
}

.key-mod-v13 {
    left: -70px;
}

.arrow-risk-increase {
    display: inline-block; 
    height: 18px; 
    width: 18px; 
    margin: 0 3px 0 2px;
    @include mq ($until: 640px){
        height: 15px; 
        width: 15px; 
        margin: 0 2px 0 3px;
  }
}


// v14


.gauge-display {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.gauge-display__item {
    position: relative;
    width: 50%;
    min-width: 226px;
    margin-bottom: 20px;
}

.defra-flood-impact-list__key {
    text-align: left;
}

.gauge-display__item-all-gauges {
    position: relative;
    width: 50%;
    min-width: 226px;
    margin-bottom: 10px;
}

.label-mod-depth-14 {
    padding: 2px 4px 2px 4px;
    white-space: nowrap;
}

