.toggletip-container {
    position: relative;
    display: inline-block;
  }
  
  /* the bubble element, added inside the toggletip live region */
  
  .toggletip-bubble {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 10em;
    padding: 0.5rem;
    background: #000;
    color: #fff;
    @include govuk-font($size: 16, $weight: regular);
  }
  
  /* boilerplate; nothing really to see here */
  
  button {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    outline: 3px black;
    font-family: serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
    &:focus{
        outline: 2px black;
        box-shadow:  0px 0px 0px 4px #ffdd00;
    }
    cursor: help;
  } 
