{% extends "layout.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
     

        <h1 class="govuk-heading-xl">
          Select an address
        </h1>
    
        <div class="govuk-inset-text">

          <p>
            This service will tell you the flood risk of an area, not a specific property.
          </p>
  
          <p>
            We need to ask for the property number so we know where you want to check.
          </p>
  
        </div>
  
  
        <form method="post">
  
          <div class="govuk-form-group">
  
            <span class="govuk-label">Postcode</span>
  
            <p class="govuk-body">
              <strong style="text-transform: uppercase;">LE2 7QA</strong>
              <a href="#" class="govuk-link">Change</a>
            </p>
  
          </div>
  
          <div class="govuk-form-group">
  
            <label class="govuk-label" for="address">
              Select an address
            </label>
  
            <select class="govuk-select" id="address" name="address">

            
  
    
              <option value="-1">22 addresses found</option>
            
          
            
              <option value="0">1, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="1">2, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="2">3, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="3">4, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="4">5, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="5">7, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="6">10, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="7">12, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="8">14, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="9">MALCOLM MILES MOTOR ENGINEER, 15, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="10">16, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="11">18, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="12">22, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="13">24, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="14">26, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="15">28, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="16">30, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="17">32, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="18">34, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="19">1A, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="20">FLAT, 2A, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
            
              <option value="21">3A, ERITH ROAD, LEICESTER, LE2 7QA</option>
            
          
          </select>
          </div>
    
       
       
          <div class="govuk-button-group">
            <a href="/current/multiple-search/iteration-4/address-list-3-le2" role="button" class="govuk-button govuk-button--primary">
              Add address
            </a>
            <a href="javascript:history.back()" target="" class="govuk-body">Cancel</a></div>
            <div class="govuk-!-margin-bottom-6"></div>

        
       
        


          
       
       
        <p class="govuk-heading-m">Selected addresses</p>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                Postcode
              </dt>
              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                Address
              </dt>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                DN19 7DJ
              </dt>
              <dd class="govuk-summary-list__value">
                Park View Cottage, Westoby Lane, Barrow-Upon-Humber
              </dd>
              
            </div>
    <!-- end of first row -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        HX7 6AA
      </dt>
      <dd class="govuk-summary-list__value">
        Valley Organics Workers Co-op, 16, Market Street, Hebden Bridge
      </dd>
      
    </div>
    
            </div>
          </dl>
      </div>
      <!-- end of table -->
      
          
    </div>
  </main>
</div>

{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
