{% extends "new_gov_header_service_name_2" %}

{% block pageTitle %}
Enter a postcode
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a new service &ndash; your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">

 <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Where do you want to check?
    </h1>

    <div class="govuk-inset-text">

      <p>
        This service will tell you the flood risk of an area, not a specific property.
      </p>

    </div>

    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">

        <label class="govuk-label" for="address-postcode">
          Enter a postcode
        </label>
        <div id="event-name-hint" class="govuk-hint">
          for example, WA4 1AB
        </div>
        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" />

      </div>


    </fieldset>

    <a href="/version_15-1/nafra2/Design/Mobile/select-an-address-dn19" role="button" class="govuk-button govuk-button--primary govuk-!-margin-bottom-8 govuk-!-margin-top-3">
      Continue
    </a>

    <p>
      or <a href="/version_15-1/nafra2/tech-map-mobile/surface-water">view a map showing areas at risk of flooding</a>.
    </p>

    <p>
      <a href="#">Use the Royal Mail postcode finder</a>
    </p>


  </div>

</div>


{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
