{% extends "layout.html" %}

{% block pageTitle %}
  Privacy notice
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
<!-- two thirds column for title and address-->
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Flood risk for 3 Rockingham Villas, Church Lane, Newmarket, CB8 0HL
      </h1>
      <!-- <div class="govuk-inset-text">
        <p>This service tells you the flood risk of an area, not a specific property.</p>
      </div> -->
    </div>
    <!-- one third column for contents -->
      <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">
        Contents
      </h3>
      <a href class="govuk-link govuk-link--no-underline">Surface water flooding</a><br><br>
      <a href class="govuk-link govuk-link--no-underline">Rivers and the sea flooding</a><br><br>
      <a href class="govuk-link govuk-link--no-underline">Reservoir flooding</a><br><br>
      <a href class="govuk-link govuk-link--no-underline">Groundwater flooding</a>

    </div>

</div>
      <!-- Start of cards -->
      <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-full">

    <!-- surface water-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper high">
          <h2 class="govuk-summary-card__title">Surface water<span class="chance-content">High risk of flooding</span></h2>
          <ul class="govuk-summary-card__actions">
           <!--  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                View a map of surface water flooding<span class="govuk-visually-hidden"></span>
              </a>
            </li> -->
            
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Chance of flooding
              </dt>
              <dd class="govuk-summary-list__value">
                The chance of flooding in a high risk area is more than 1 in 30 in any one year.
                <br><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      What makes an area more likely to flood from surface water
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Surface water flooding is sometimes known as flash flooding. It happens when rainwater cannot drain away through normal drainage systems.
                    <br><br>
                    It can:
                <ul class="govuk-list--bullet">
                  <li>be difficult to predict as it depends on how much it rains and where</li>
                  <li>happen up hills and away from rivers</li>
                  <li>be worse in areas which have harder surfaces, like concrete</li>
                </ul>
                  </div>
                </details>
                
              </dd>
             
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Potential depth of water
              </dt>
              <dd class="govuk-summary-list__value">
                It is difficult to predict the exact depth of any flood water.
                <br><br>
                In a 'high risk' flood, computer models show the water would probably be shallower than 30cm. In some places it could be deeper.
               
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Managing your flood risk
              </dt>
              <dd class="govuk-summary-list__value">
                An area can still be at risk of flooding even if it has not flooded in the past.
                <br><br>
                There are things everyone can do to manage their risk. You should:
                <ul class="govuk-list--bullet">
                  <li>find out what you can do to <a href="#">protect you and your property</a></li>
                  <li><a href="#">contact your local council</a> for advice on managing surface water flood risk</li>
                </ul>
                You can also <a href="">view a map of the risk of surface water flooding</a> which shows an estimation of:
                <ul class="govuk-list--bullet">
                  
                  <li>where any flood water might spread to</li>
                  <li>how deep any flood water could be
                  </li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What this information covers
              </dt>
              <dd class="govuk-summary-list__value">
                This information tells you the highest chance of flooding on the land around a property.
                <br><br>
                It is not specific to a property.
                <br><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      What you can use this information for
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    The information is an estimate based on the best data we have available. It is suitable for identifying:
                <ul class="govuk-list--bullet">
                  <li>which parts of towns or streets are at risk, or have the most risk</li>
                  <li>the approximate extent and depth of flooding</li>
                </ul>
                
                It's likely to be reliable for a local area but not for identifying individual properties at risk.
                  </div>
                  
                </details>
                
              </dd>
            </div>
          </dl>
          
        </div>
        
      </div>

<!-- Rivers -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper medium">
          <h2 class="govuk-summary-card__title">Rivers and the sea<span class="chance-content">Medium chance of flooding</span></h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete choice<span class="govuk-visually-hidden"> of University of Bristol</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Withdraw<span class="govuk-visually-hidden"> from University of Bristol</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course
              </dt>
              <dd class="govuk-summary-list__value">
                English (Q3X1)<br>PGCE with QTS full time
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                School name<br>Road, City, SW2 1AA
              </dd>
            </div>
          </dl>
        </div>
      </div>
   
<!-- Reservoirs-->


<div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper medium">
          <h2 class="govuk-summary-card__title">Rivers and the sea<span class="chance-content">Medium chance of flooding</span></h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete choice<span class="govuk-visually-hidden"> of University of Bristol</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Withdraw<span class="govuk-visually-hidden"> from University of Bristol</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course
              </dt>
              <dd class="govuk-summary-list__value">
                English (Q3X1)<br>PGCE with QTS full time
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                School name<br>Road, City, SW2 1AA
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- Groundwater -->
    </div>
    </div>
  
  </div>

{% endblock %}
