{% extends "layout.html" %}

{% block pageTitle %}
  Privacy notice
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
<!-- two thirds column for title and address-->
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Flood risk for 3 Rockingham Villas, Church Lane, Newmarket, CB8 0HL
      </h1>
      <!-- <div class="govuk-inset-text">
        <p>This service tells you the flood risk of an area, not a specific property.</p>
      </div> -->
    </div>
    <!-- one third column for contents -->
      <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">
        Contents
      </h3>
      <a href class="govuk-link govuk-link--no-underline">Surface water flooding</a><br><br>
      <a href class="govuk-link govuk-link--no-underline">Rivers and the sea flooding</a><br><br>
      <a href class="govuk-link govuk-link--no-underline">Reservoir flooding</a><br><br>
      <a href class="govuk-link govuk-link--no-underline">Groundwater flooding</a>

    </div>

</div>
      <!-- Start of cards -->
      <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-full">

    <!-- surface water-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper high">
          <h2 class="govuk-summary-card__title">Surface water<span class="chance-content">High chance of flooding</span></h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                View a map of surface water flooding<span class="govuk-visually-hidden"></span>
              </a>
            </li>
            
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How often could it flood
              </dt>
              <dd class="govuk-summary-list__value">
                High chance of flooding means there could be a flood from surface water more than 3 or 4 times in a 100-year period.
                <br><br>
                The map shows:
                <ul class="govuk-list--bullet">
                  <li>how widespread any flooding could be</li>
                  <li>an estimation of where any flood water might spread to</li>
                </ul>
              </dd>
             
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How deep any flooding could be
              </dt>
              <dd class="govuk-summary-list__value">
                If an area floods, the flood water is most likely to reach a maximum of 30cm deep.
                <br><br>
                There are 2 other possible scenarios that could affect an area:
                <ul class="govuk-list--bullet">
                  <li>Flood water of up to 90cm deep. This type of flooding is less likely but possible.</li>
                  <li>Flood water of more than 90cm. Flooding of this severity is very unlikely.</li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What this information covers
              </dt>
              <dd class="govuk-summary-list__value">
                School name<br>Road, City, SW2 1AA
              </dd>
            </div>
          </dl>
        </div>
      </div>

<!-- Rivers -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper medium">
          <h2 class="govuk-summary-card__title">Rivers and the sea<span class="chance-content">Medium chance of flooding</span></h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete choice<span class="govuk-visually-hidden"> of University of Bristol</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Withdraw<span class="govuk-visually-hidden"> from University of Bristol</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course
              </dt>
              <dd class="govuk-summary-list__value">
                English (Q3X1)<br>PGCE with QTS full time
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                School name<br>Road, City, SW2 1AA
              </dd>
            </div>
          </dl>
        </div>
      </div>
   
<!-- Reservoirs-->


<div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper medium">
          <h2 class="govuk-summary-card__title">Rivers and the sea<span class="chance-content">Medium chance of flooding</span></h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete choice<span class="govuk-visually-hidden"> of University of Bristol</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Withdraw<span class="govuk-visually-hidden"> from University of Bristol</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course
              </dt>
              <dd class="govuk-summary-list__value">
                English (Q3X1)<br>PGCE with QTS full time
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                School name<br>Road, City, SW2 1AA
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- Groundwater -->
    </div>
    </div>
  
  </div>

{% endblock %}
