{% extends "layout.html" %}

{% block pageTitle %}
  Privacy notice
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-xl">
        Flood risk summary for the area around
      </h1>
  
      <h2 class="govuk-heading-m">
        64, West Park, Selby, YO8 4JN
      </h2>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Surface water<span class="chance-content">High chance of flooding</span></h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
               View full flood details<span class="govuk-visually-hidden"> of University of Gloucestershire</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                View map<span class="govuk-visually-hidden"> from University of Gloucestershire</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How often could it flood
              </dt>
              <dd class="govuk-summary-list__value">
                High chance of flooding means the area could flood more than 3 or 4 times in a 100-year period.
<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What this flood information tells you
              </dt>
              <dd class="govuk-summary-list__value">
                This information tells you the highest chance of flooding on the land around a property. 
                <br><br>
                It is not specific to a property. <br><br>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        What makes an area more likely to flood
                      </span>
                    </summary>
                   It's hard to predict exactly when and how often floods from surface water will happen because they depend on things like:
                  </details>
                  
                  The information is an estimate based on the best data we have available.
              </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How bad could a flood be
                </dt>
                <dd class="govuk-summary-list__value">
                    If this area were to flood, it could face any of the following situations:<br>
<ul class="govuk-list--bullet">
                    <li>Most likely but least severe [current high risk]
                    In this situation, flood water could reach a depth of up to 30cm - about the same as the length of a school ruler.</li>
                  
                </ul>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Other flooding scenarios that could affect you
                      </span>
                    </summary>
                    <ul class="govuk-list--bullet">
                       
                        <li>2. Less likely but more severe [current medium risk]
                            In this situation, flood water could reach a depth of between 30cm and 90cm (just under a metre). </li>
                        <li>3. Least likely but most severe [current low risk]
                            In this situation, flood water could reach a depth of over 90cm (almost a metre or more).</li>
                    </ul>
                  </details>
                </dd>
              </div>
          </dl>
        </div>
      </div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper medium">
          <h2 class="govuk-summary-card__title">Rivers and the sea<span class="chance-content">Medium chance of flooding</span></h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Delete choice<span class="govuk-visually-hidden"> of University of Bristol</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Withdraw<span class="govuk-visually-hidden"> from University of Bristol</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course
              </dt>
              <dd class="govuk-summary-list__value">
                English (Q3X1)<br>PGCE with QTS full time
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                School name<br>Road, City, SW2 1AA
              </dd>
            </div>
          </dl>
        </div>
      </div>
   
    </div>
    </div>
  
  </div>

{% endblock %}
