.app-cookie-banner {
  @include govuk-font(16);
  @include govuk-text-colour;

  box-sizing: border-box;
  width: 100%;

  padding-top: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  padding-left: govuk-spacing(3);
  background-color: lighten(desaturate(govuk-colour("light-blue"), 8.46), 42.55);
}

.app-cookie-banner__message {
  margin: 0;
  @include govuk-width-container;
}

@include govuk-media-query($media-type: print) {
  .app-cookie-banner {
    display: none !important;
  }
}

// ***TEMP ---- THIS IS NOT PRODUCTION CSS, DO NOT ADD TO LIVE***

// .govuk-panel--confirmation {
//   background-color: #b11a1a;

//   &.medium {
//     background-color: #FFD401;
//   }

//   &.low {
//     background-color: #28a197
//   }
// }

.govuk-inset-text {
  // width: 73%;
  // float: right;
  // clear: none;
  // margin-bottom: 15px; 
}
.mtz{
  margin-top: -20px; 
  margin-bottom: 20px;
}
.red{
  color: #E3000E; 
}
.yellow{
  color: #F18604

}
.grey{
  // color: #6E777A; 
  color: black; 
}
.govuk-inset-text.high {
  border-left-color: #E3000E
}

.govuk-inset-text.medium {
  border-left-color: #F18604
}

.govuk-inset-text.low {
  // border-left-color: #6E777A
  border-left-color: black
}
.font-xsmall{
  font-size: 0.2em;
}

.gmap_canvas {
  float: left;
}


h3 {
  font-size: 1.5em;
}

.floodIcon img {
  width: 110px;
  margin-bottom: 15px;
  margin-top: -5px;

}

.govuk-panel__body {
  font-size: 1.6rem;
  margin-bottom: -5px;
}

// .floodIconTwo {
//   width: 20%;
//   float: left;
//   clear: none;
//   margin-top: 30px;
//   margin-bottom: 15px; 

//   & img {
//     width: 75px;
//     margin-left: auto;
//     position: relative;
//     margin-right: auto;
//     display: block;
//   }
// }

.floodIconTwo img{
width: 60%;
margin-left: 20%;
margin-bottom: 30px; 
}

.riskContainer {
  width: 100%;
  min-height: 200px;
}
// .govuk-details__summary{
//   float: right; 
// }
.govuk-details__text{
  clear: both;
  border-left: none; 
 
}
.second .govuk-details__summary-text{
  margin-right: 15px; 
}
.mapImage img{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 15px; 

}
.js-enabled .govuk-accordion__section-button{
  padding-top: 0px; 
}

.postcode{
  color: #4d5456; 
}
.floatRight{
  float: right;
}
.govuk-\!-margin-bottom-8.custom{
  margin-top: 0px!important; 
}


.govuk-link--white {
  color: #ffffff!important;
}