// Day control  
.defra-map-scenarios-velocity-v2 {
  width:100%;
  @media screen and (min-width: 938px) {
    position:absolute;
    bottom:0px;
    left:0px;
    max-width:700px;
  }
  padding-top:10px;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &__container {
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.defra-map-scenarios-depth-v2 {
    width:100%;
    @media screen and (min-width: 938px) {
      position:absolute;
      bottom:0px;
      left:0px;
      max-width:600px;
    }
    padding-top:10px;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &__container {
      width:100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }
  .defra-map-scenarios-res-v2 {
    width:100%;
    @media screen and (min-width: 938px) {
      position:absolute;
      bottom:0px;
      left:0px;
      max-width:670px;
    }
    padding-top:10px;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &__container {
      width:100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }
  .defra-map-scenario-button-depth-v2 {
    flex: 1 1 auto;
    @include govuk-font($size: 14);
    font-size: 14px;
    border: 0px;
    border-bottom: 7px solid transparent;
    margin: 0;
    padding: 15px;
    background-color: white;
    color: $govuk-text-colour;
    &::-moz-focus-inner {
      border: 0;
    }
    text-align:left;
    strong {
      display: inline-block;
      @include govuk-font($size: 16, $weight: bold);
      font-size: 16px;
      line-height: 1.31579;
     /*  text-decoration: underline; */
      margin-bottom: 2px;
      margin-left: 38px;
      pointer-events: none;
    }
    span {
      /* display: inline-block; */
    }
    
    &[aria-selected=true] {
      background-color: white;
      text-decoration: none;
      strong {
        text-decoration:none;
      }
    }
    /* &:active {
      color: $govuk-text-colour;
    } */
    &:focus {
      outline:0px;
    }
   /*  &[aria-selected=true] {
      border-bottom:7px solid govuk-colour('blue');
    } */
    /* &:focus[keyboard-focus] strong {
      outline: 3px solid transparent;
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      -webkit-box-shadow: 0 -2px $govuk-focus-colour,0 4px $govuk-focus-text-colour;
      box-shadow: 0 -2px $govuk-focus-colour,0 4px $govuk-focus-text-colour;
      text-decoration: none;
    } */
  }
  .defra-map--risk .defra-map-os-logo {
    float: left;
    position: relative;
    bottom: -20px;
    @media screen and (min-width: 938px) {
      bottom: 74px;
    }
  }
  .dot-v2 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-flex;
  }
  .ros-dot-v2 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: 30px;
    display: inline-flex;
  }
  .key-icon {
    height: 22px;
    width: 22px;
    position: absolute;
    display: inline-flex;
  }

  .dark-blue-v2 {
    background-color: #555C9D;
  }

  .med-blue-v2{
    background-color: #9AA0DE;
  }

  .light-blue-v2 {
    background-color: #C4E1FF;
  }
  .sw-very-low-v2 {
    background-color: #ffffff;
    border:1px solid #6e6e6e;  
  }

  .ros-very-low-v2 {
    background-color: #DBDEFF;
  }
  
  .mps-v2 {
      display: block;
      pointer-events: none;
      line-height: 1.42857;
      margin-left: 38px;
  }

  .velocity-context {
    margin-bottom: 20px
  }