{% extends "layout_ia.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
  
    <h1 class="govuk-heading-xl">
      Planning for a changing climate
    </h1>
  
  </div>

  <div class="govuk-grid-column-two-thirds">

    <p>
      Someone once told me that tourists come to Britain for the food, but they stay for the weather.
    </p>

    <p>
      We may joke about our bad weather sometimes but it is no laughing matter for anyone experiencing our weather at its most extreme.
    </p>

    <p>
      We all know about the winter floods in Cumbria and Yorkshire, and remember the 2013/14 floods during the wettest English winter in 250 years. But perhaps you've forgotten that 2013 had both a summer heat wave and also an exceptionally wet winter? Or that we had spells of drought between 2010 and 2012? Or that 2010 had the coldest winter since 1860?
    </p>

    <ul class="ia__list">
      <li>
        <a href="#">Check you long term flood risk</a>
      </li>
    </ul>

    <p>
      No wonder TV schedules are full of 'weird weather' programmes. Bad weather is a fact of life in the UK, and working at the Environment Agency we are on its front line, responding during floods and droughts and advising people how to become more resilient.
    </p>
    
    <p>
      Even as we continue to help communities and businesses recover from the winter floods we are also looking to the future. The scientific consensus is that our climate is changing and extreme weather will become more common. We will have to adapt.
    </p>

    <p>
      We have just published a report showing how we are preparing for the <a href="https://www.gov.uk/government/publications/climate-adaptation-reporting-second-round-environment-agency">impacts of a changing climate</a>. Adapting to climate change is particularly important in our work on flood protection, managing water and freshwater wildlife. In the report we set out almost 100 actions we will take over the next 5 years and beyond to manage climate risks to people and wildlife.
    </p>

    <p>
      Climate change can feel abstract and overly complicated but we need to bear two things in mind:
    </p>

    <p>
      Firstly, we are starting to see the impacts of climate change. We know that average temperatures in England today are about one degree higher than in pre-industrial times. The Met Office also tell us that we are starting to see heavier downpours of rain, although this could still be within the bounds of natural variability.
    </p>

    <p>
      Secondly, the solutions are usually very practical. We are planting trees on river banks to provide shade that will help to protect fish as summers get hotter. We have planned flood defences for the Thames Estuary that can be made taller as sea levels rise. In Yorkshire, we have helped to create 43 hectares of new coastal habitat, which is great for wading birds but also protects the community from coastal flooding. None of this is revolutionary, but preparing for a changing climate simply means thinking a bit further ahead.
    </p>

    <p>
      One lesson from floods, droughts and storm surges is that they impact whole communities, from the humblest household to the largest multinational corporation. We are doing our bit to make England more resilient to climate change, but this is something that affects everyone, and it's never too early to be prepared.
    </p>
   
  </div>

  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-m">
      Top stories
    </h2>

    <ul class="ia__stories-list">

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
        </h3>
      </li>

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
        </h3>
      </li>

    </ul>

  </div>

</div>

{% endblock %}
