{% extends "layout_ia.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
  
    <h1 class="ia__headline govuk-heading-xl">
      Flood and drought risk increasing in cities: study
    </h1>
  
  </div>

  <div class="govuk-grid-column-two-thirds">

    <img class="ia__hero-image" src="/public/images/flood-image.jpg" alt="">

    <p class="ia__by-line">
      Anne Reportage <span class="ia__role">Environmental news reporter</span>
    </p>

    <p class="ia__lead">
      The world's 100 most populated cities are becoming increasingly exposed to flooding and drought, according to new research.
    </p>

    <p>
      Charity WaterAid worked with the University of Bristol and Cardiff University on a study using data on climate hazards.
    </p>

    <p>
      The research found that 17% of the cities studied were at risk from "climate whiplash" where drought and flooding has become more intense.
    </p>

    <p>
      Prof Katerina Michaelides, lead scientist from the University of Bristol, said: "The findings from our study illustrate just how differently and dramatically climate change is expressing around the globe – there is no one-size-fits-all."
    </p>

    <iframe title="Flood warnings in England" frameborder="0" width="100%" src="https://environment-test.data.gov.uk/flood-risk-postcode-tool/widget" id="postcode-widget" onload='let frame=document.getElementById("postcode-widget"),frameOrigin="https://environment-test.data.gov.uk";frame.contentWindow.postMessage({type:"postcode-parent-ready"},frameOrigin),window.addEventListener("message",(({origin:e,data:t})=>{e===frameOrigin&&"postcode-resize"===t.type&&(frame.style.height=t.data.height+"px")}));'></iframe>

    <p>
      The study compared each city's social and water infrastructure vulnerabilities – such as poverty and waste systems – alongside more than 40 years worth of data on climate hazards.
    </p>

    <p>
      Researchers then aimed to identify which cities could be the most vulnerable to extreme climate changes and the least equipped to handle them.
    </p>

    <p>
      The study also showed that 20% of the 100 cities had seen a change, at one time experiencing one extreme, now facing another.
    </p>

    <p>
      In the last four decades, their research showed that cities including London, Madrid and Paris had become increasingly dry, while in Sri Lanka's capital Colombo, and Lahore in Pakistan, they are now having more severe floods.
    </p>

    <p>
      Prof Michaelides said the data could help city leaders make decisions. 
    </p>

    <p>
      "A deeper understanding of localised climate hazards can support more intelligent and bespoke planning in major cities," she added.
    </p>

    <p>
      Cities in Africa and Asia are most at risk of climate shifts which can impact clean water supplies, according to the study.
    </p>

    <p>
      WaterAid said the report had come at a time when major nations had been reducing or rediverting international aid funds.
    </p>

    <p>
      Tim Wainwright, WaterAid UK's chief executive said: "We're seeing a sweep of global aid cuts, which could leave basic human rights hanging in the balance.
    </p>

    <p>
      "Floods and droughts are stripping away people's foundation of survival – water.
    </p>

    <p>
      "Communities can recover from disaster, stay healthy and be ready for whatever the future holds. It all starts with clean water."
    </p>
   
  </div>

  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-m">
      Top stories
    </h2>

    <ul class="ia__stories-list">

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
          <a href="#" class="ia__stories-cat">Environment</a>
        </h3>
      </li>

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
          <a href="#" class="ia__stories-cat">World</a>
        </h3>
      </li>

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
          <a href="#" class="ia__stories-cat">Environment</a>
        </h3>
      </li>

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
          <a href="#" class="ia__stories-cat">World</a>
        </h3>
      </li>

    </ul>

    <h2 class="ia__top-list govuk-heading-m">
      Elsewhere
    </h2>

    <ul class="ia__stories-list">

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
          <a href="#" class="ia__stories-cat">Environment</a>
        </h3>
      </li>

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
          <a href="#" class="ia__stories-cat">World</a>
        </h3>
      </li>

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
          <a href="#" class="ia__stories-cat">Environment</a>
        </h3>
      </li>

      <li class="ia__stories-item">
        <h3 class="ia__stories-title">
          <a href="#" class="ia__stories-link">A link to a news story</a>
          <a href="#" class="ia__stories-cat">World</a>
        </h3>
      </li>

    </ul>

  </div>

</div>

{% endblock %}
