{% extends "layout.html" %}

{% block beforeContent %}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

 {% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Flood risk summary for the area around:
    </h1>

    <h2 class="govuk-heading-m">
        9, MONTROSE PARK, BRISTOL, BS4 4JE
    </h2>

    <div class="govuk-inset-text very-low">

       <h3 class="no-margin">
         Surface water
       </h3>

       <p>
         <strong>Very low risk</strong>
       </p>

    </div>

    <p class="govuk-body">
        Reviewed in August 2022. This data is reviewed every 12 months.
      </p>

    <details class="govuk-details" data-module="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          More information about your level of flood risk from surface water
        </span>
      </summary>

      <div class="govuk-details__text">

        <p class="govuk-body">
          This flood risk summary reports the highest risk from surface water within a 20m radius of this property.
        </p>

        <p class="govuk-body">
          Very low risk means that this area has a chance of flooding of less than 0.1% each year.
        </p>

        <p class="govuk-body">
          This information is suitable for identifying:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>which parts of towns or streets are at risk, or have the most risk</li>
          <li>the approximate extent and depth of flooding</li>
        </ul>

        <p class="govuk-body">
          It's likely to be reliable for a local area but not for identifying individual properties at risk.
        </p>
      </div>

    </details>
    <p class="govuk-body">
        Surface water flooding happens when rainwater cannot drain away through the normal drainage systems. Instead, it lies on or flows over the ground. Surface water flooding is sometimes known as flash flooding. It can:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>be difficult to predict as it depends on rainfall volume and location</li>
        <li>happen up hills and away from rivers and other bodies of water</li>
        <li>affect areas with harder surfaces, like concrete, more severely</li>
      </ul>
      <p class="govuk-body">
        Lead local flood authorities (LLFA) are responsible for managing the flood risk from surface water and may hold more detailed information.
      </p>
    <p class="govuk-body">
            Your LLFA is Bristol City council.
          </p>

    <!-- <details class="govuk-details" data-module="govuk-details">

     <summary class="govuk-details__summary">
       <span class="govuk-details__summary-text">
         What you can do
       </span>
     </summary>

     <div class="govuk-details__text">

       <ul class="govuk-list govuk-list--bullet">
        <li>
            <a href="https://www.metoffice.gov.uk/" class="govuk-link">Check UK weather updates from the Met Office</a> (flood alerts and warnings for surface water are not provided as they are unpredictable)
          </li>
         <li>
            What you can do to <a href="/results-testing-2/managing-flood-risk#protect" class="govuk-link">protect your property from flooding</a>
         </li>
         <li>
           <a href="https://www.bristol.gov.uk/" class="govuk-link">Contact Bristol City Council</a> for advice on managing surface water flood risk
         </li>

       </ul>

     </div>

   </details>-->

     <p class="govuk-body">
       <a href="https://check-long-term-flood-risk.service.gov.uk/map?easting=361766&northing=170892&map=SurfaceWater" class="govuk-link">
         View a map of the risk of flooding from surface water
       </a>
     </p>

     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

     <div class="govuk-inset-text very-low">

       <h3 class="no-margin">Rivers and the sea</h3>
       <p class="govuk-body">
         <strong>Very low risk</strong>
      </p>

     </div>

     <p class="govuk-body">
        Reviewed in August 2022. This data is reviewed every 3 months.
      </p>

     <details class="govuk-details" data-module="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            More information about your level of flood risk from rivers and the sea
        </span>
      </summary>

      <div class="govuk-details__text">

       <p class="govuk-body">
         This flood risk summary is not property specific.
       </p>

       <p class="govuk-body">
        Very low risk means that this area has a chance of flooding of less than 0.1% each year.
      </p>

       <p class="govuk-body">
         This information is suitable for identifying:
       </p>

       <ul class="govuk-list govuk-list--bullet">
         <li>which parts of counties or towns are at risk, or have the most risk</li>
         <li>the approximate extent and depth of flooding</li>
       </ul>

       <p class="govuk-body">
         It's unlikely to be reliable for a local area and very unlikely to be reliable for identifying individual properties at risk.
       </p>

       <p class="govuk-body">
         This service takes into account any flood defences.
       <p>

      </div>

    </details>

    <p class="govuk-body">
        The Environment Agency is responsible for managing the flood risk from rivers and the sea.
     </p>

    <p>
      <a href="https://check-long-term-flood-risk.service.gov.uk/map?easting=361766&northing=170892&map=RiversOrSea" class="govuk-link">View a map of the risk of flooding from rivers and the sea</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Other flood risks
    </h2>

    <div class="govuk-inset-text very-low">

      <h3 class="no-margin">Reservoirs</h3>
      <p class="govuk-body">
         <strong>Flooding from reservoirs is unlikely in this area</strong>
      </p>

    </div>

    <p class="govuk-body">
        Reviewed in July 2022. This data is reviewed every 12 months.
      </p>

     </details>

    <!-- <p class="govuk-body">
        <a href="https://check-long-term-flood-risk.service.gov.uk/map?easting=433226.58&northing=389589.35&map=Reservoirs" class="govuk-link">View a map of the risk of flooding from reservoirs</a>
      <p>-->
        <details class="govuk-details" data-module="govuk-details">

          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What a reservoir is and how we check an area's risk
            </span>
          </summary>

          <div class="govuk-details__text">

            <p class="govuk-body">
              A reservoir is a large natural or artifcial lake that is designed to collect and store water.
            </p>

            <p class="govuk-body">
              We use predicted scenarios to understand the risk of flooding from reservoirs.
            </p>
            <p class="govuk-body">
              Flooding from reservoirs is extremely unlikely. An area is considered at risk if people’s lives could be threatened in the event of a dam or reservoir failure.
    </p>

        </details>



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">

    <div class="govuk-inset-text very-low">

        <h3 class="no-margin">Groundwater</h3>
        <p class="govuk-body">
          <strong>Flooding from groundwater is unlikely in this area </strong>
        </p>

      </div>

      <p class="govuk-body">
        Reviewed in June 2022. This data is reviewed every 3 months.
      </p>

      <details class="govuk-details" data-module="govuk-details">

        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What groundwater flooding is and how we check an area’s risk
          </span>
        </summary>

        <div class="govuk-details__text">

          <p class="govuk-body">
            Flooding caused by groundwater happens when water underground that is usually held in the rocks and soil (known as the water table) gets so high that it flows above the surface.
          </p>
          <p class="govuk-body">
            We use flood alert data to check the risk of flooding from groundwater.
          </p>

      </details>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-m">
      Manage your flood risk
    </h2>

    <p class="govuk-body">
      There are things everyone can do to prepare for flooding.
    <p>

    <p class="govuk-body">
      Find out more about <a class="govuk-link" href="managing-flood-risk">managing your flood risk</a>.
    <p>

  </div>

</div>

{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
