{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Flood risk summary for the area around:
    </h1>

    <h2 class="govuk-heading-m">
      SMALL COOMBE FARM, SHIPTON GORGE, BRIDPORT, DT6 4NB
    </h2>

    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
      text: "Contact Dorset County Council for detailed local information that better reflects the surface water flood risk for the area around this location",
      iconFallbackText: "Warning"
    }) }}

    <div class="govuk-inset-text high">

       <h3 class="no-margin">
         Surface water
       </h3>

       <p>
         <strong>High risk</strong>
       </p>

    </div>

    <details class="govuk-details" data-module="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What this information means
        </span>
      </summary>

      <div class="govuk-details__text">

        <p class="govuk-body">
          This flood risk summary reports the highest risk from surface water within a 20m radius of this property.
        </p>

        <p class="govuk-body">
          High risk means that each year this area has a chance of flooding of greater than 3.3%.
        </p>

        <p class="govuk-body">
          This information is suitable for identifying:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>which parts of towns or streets are at risk, or have the most risk</li>
          <li>the approximate extent and depth of flooding</li>
        </ul>

        <p class="govuk-body">
          It's likely to be reliable for a local area but not for identifying individual properties at risk.
        </p>

      </div>

    </details>

    <p class="govuk-body">
      Surface water flooding, sometimes known as flash flooding:
    </p>

     <ul class="govuk-list govuk-list--bullet">
       <li>happens when heavy rain cannot drain away</li>
       <li>is difficult to predict as it depends on rainfall volume and location</li>
       <li>can happen up hills and away from rivers and other bodies of water</li>
       <li>is more widespread in areas with harder surfaces like concrete</li>
     </ul>

     <p class="govuk-body">
       Lead local flood authorities (LLFA) are responsible for managing the flood risk from surface water and may hold more detailed information.
     </p>

     <p class="govuk-body">
       Your LLFA is <strong>Dorset council</strong>.
     </p>

     <p class="govuk-body">
       <a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk/map?easting=379223&northing=413327&address=100010969070&map=SurfaceWater" class="govuk-link">
         View a map of the risk of flooding from surface water
       </a>
     </p>

     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     <div class="govuk-inset-text very-low">

       <h3 class="no-margin">Rivers and the sea</h3>
       <p class="govuk-body">
         <strong>Very low risk</strong>
      </p>

     </div>

     <details class="govuk-details" data-module="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
           What this information means
        </span>
      </summary>

      <div class="govuk-details__text">

       <p class="govuk-body">
         This flood risk summary is not property specific.
       </p>

       <p class="govuk-body">
        Very low risk means that this area has a chance of flooding of less than 0.1% <strong>each year.</strong>
       </p>
       
       <p class="govuk-body">
        This service takes into account any flood defences.
       </p>

      
      </div>

    </details>

    <p class="govuk-body">
      The Environment Agency is responsible for managing the flood risk from rivers and the sea.
    <p>

    <p>
      <a href="https://check-long-term-flood-risk.service.gov.uk/map?easting=433226.58&northing=389589.35&map=RiversOrSea" class="govuk-link">View a map of the risk of flooding from rivers and the sea</a>
    </p>

    

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">

    <a href="managing-flood-risk" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 custom">Continue</a>

  </div>

</div>

{% endblock %}