
.ia {

  &__title {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: govuk-px-to-rem(24);
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
  }

  &__header {
    background-color: #cc0000;
  }

  &__stories {

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-item {
      background-color: #f5f5f5;
      padding: govuk-spacing(1) govuk-spacing(2);
      margin-bottom: 1rem;
    }

    &-title {
      font-size: govuk-px-to-rem(18);
      margin: 0;
      padding: 0;
    }

    &-link {
      text-decoration: none !important;
    }

  }

  &__img {
    width: 100%;
  }

  &__list {
    margin-bottom: govuk-spacing(5);
    padding: 0;
    padding-left: govuk-spacing(5);

    a {
      font-weight: 700;
    }
  }

}