{% extends "layout-nafra2.html" %}

{% block pageTitle %}
Summary of selected address
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  var $element = document.querySelector('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service &ndash; your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a href="javascript:history.back()" class="govuk-back-link back-link-left">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Flood risk summary
      </h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><strong>Your location:</strong></h2>

      <p class="govuk-body">41A<br> High Street<br> Cowes<br> PO31 7RT</p>

      <details class="govuk-details govuk-!-margin-bottom-6">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why we cannot tell you the flood risk of a specific property
          </span>
        </summary>
        <div class="govuk-details__text">
          Our flood risk data does not include every feature like kerbs, or fences and walls around a building. That
          means we can only tell you the flood risk of the land around a building, not the building itself. </div>
      </details>


      <div class="govuk-inset-text">
        Neighbouring houses may have different flood risk ratings. This could be because one is on higher land or nearer water, for example.</div>

      <p class="govuk-bod govuk-!-padding-top-6">The highest risk of flooding at this location
        is from <strong>surface water</strong>.</p>

    </div>



    <!-- Start of cards -->

    <div class="govuk-grid-column-two-thirds summary-grid-width">

      <!-- surface water-->

      <div class="govuk-summary-card govuk-!-margin-top-3 govuk-!-margin-bottom-9" id="surface-water">
        <div class="govuk-summary-card__title-wrapper vlow card-padding-left">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Surface water</h2>


        </div>
        <div class="govuk-summary-card__content">

          <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-4">How likely a surface water flood is
          </h3>


          <dl class="govuk-summary-list">

            <div>

              <dt class="govuk-summary-list__key govuk-!-padding-top-4 govuk-!-padding-bottom-0">
                Yearly chance of flooding

                <div class="risk-label-group-2 govuk-!-margin-top-4 govuk-!-margin-bottom-3">
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    Very low
                  </strong>
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    Low
                  </strong>
                  <strong class="govuk-tag govuk-tag--orange label-orange label-mod label-border">
                    Medium<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
                  </strong>
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    High
                  </strong>
                </div>
              </dt>
            </div>

            <div class="govuk-summary-list__row">


              <dt class="govuk-summary-list__key govuk-!-padding-top-6 govuk-!-padding-bottom-0">
                Yearly chance of flooding between 2040 and 2060

                <div class="risk-label-group-2  govuk-!-margin-top-4 govuk-!-padding-bottom-6">
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    Very low
                  </strong>
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    Low
                  </strong>
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    Medium
                  </strong>
                  <strong class="govuk-tag govuk-tag--red label-mod label-border">
                    High<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
                  </strong>
                </div>

                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      About surface water flood risk and climate change
                    </span>
                  </summary>
                  <div class="govuk-details__text">

                    <p class="govuk-body">Our <strong>surface water flood risk data</strong> covers the period from 2040 to 2060.</p>

                    <p class="govuk-body">Climate change is increasing the chances of flooding. Climate models project we will see warmer and wetter winters, and more frequent and intense weather events.</p> 

                    <p class="govuk-body">But the models cannot predict exactly when the chance of flooding from surface water will go up.</p> 

                    <p class="govuk-body">Any increase in flood risk could happen at any time during this period.</p> 
                    
                  </div>
                </details>


              </dt>

            </div>

          

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-padding-top-6 govuk-!-padding-bottom-4">

                <p class="govuk-body govuk-!-margin-top-2"><a class="govuk-link"
                    href="/version_15/nafra2/Desktop/surface-water-result">
                    Learn more about your surface water flood risk
                  </a>
                </p>

              </dt>
            </div>
        </div>
      </div>






      <!-- Rivers -->

      <div class="govuk-summary-card govuk-!-margin-top-3 govuk-!-margin-bottom-9" id="surface-water">
        <div class="govuk-summary-card__title-wrapper vlow card-padding-left">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Rivers and sea</h2>


        </div>
        <div class="govuk-summary-card__content">

          <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-4">How likely a rivers or sea flood is
          </h3>


          <dl class="govuk-summary-list">

            <div>

              <dt class="govuk-summary-list__key govuk-!-padding-top-4 govuk-!-padding-bottom-0">
                Yearly chance of flooding

                <div class="risk-label-group-2 govuk-!-margin-top-4 govuk-!-margin-bottom-3">
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    Very low
                  </strong>
                  <strong class="govuk-tag govuk-tag--yellow label-mod label-border" aria-hidden="true">
                    Low<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
                  </strong>
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    Medium
                  </strong>
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    High
                  </strong>
                </div>
              </dt>
            </div>

            <div class="govuk-summary-list__row">


              <dt class="govuk-summary-list__key govuk-!-padding-top-6 govuk-!-padding-bottom-0">
                Yearly chance of flooding between 2036 and 2069

                <div class="risk-label-group-2 govuk-!-margin-top-4 govuk-!-padding-bottom-6">
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    Very low
                  </strong>
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    Low
                  </strong>
                  <strong class="govuk-tag govuk-tag--orange label-mod label-border" aria-hidden="true">
                    Medium<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
                  </strong>
                  <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
                    High
                  </strong>
                </div>

                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      About rivers and sea flood risk and climate change
                    </span>
                  </summary>
                  <div class="govuk-details__text">

                    <p class="govuk-body">Our <strong>rivers and sea flood risk data</strong> covers the period from 2036 to 2069.</p>

                    <p class="govuk-body">Climate change is increasing the chances of flooding. Climate models project we will see warmer and wetter winters, and more frequent and intense weather events.</p> 

                    <p class="govuk-body">But the models cannot predict exactly when the chance of flooding from rivers or the sea will go up.</p> 

                    <p class="govuk-body">Any increase in flood risk could happen at any time during this period.</p> 
                    
                  </div>
                </details>

              </dt>

            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-padding-top-6 govuk-!-padding-bottom-4">

                <p class="govuk-body govuk-!-margin-top-2"><a class="govuk-link"
                    href="/version_15/nafra2/Desktop/rivers-and-seas-result">
                    Learn more about your rivers and sea flood risk
                  </a>
                </p>

              </dt>
            </div>
        </div>
      </div>



      <!-- Other flood risks-->


      <div class="govuk-summary-card govuk-!-margin-top-3 govuk-!-margin-bottom-9" id="surface-water">
        <div class="govuk-summary-card__title-wrapper vlow card-padding-left">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Other flood risks</h2>

        </div>
        <div class="govuk-summary-card__content">

          <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">Groundwater</h3>


          <dl class="govuk-summary-list">



            <div class="govuk-summary-list__row">


              <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-4">
                Flooding is possible when groundwater levels are high
              </p>


              <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">Reservoirs</h3>

              <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-4">
                Flooding from reservoirs is unlikely in this area
              </p>

            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-padding-top-6 govuk-!-padding-bottom-4">

                <p class="govuk-body govuk-!-margin-top-2"><a class="govuk-link"
                    href="/version_15/nafra2/Desktop/groundwater-and reservoirs-result">
                    Learn more about groundwater and reservoirs
                  </a>
                </p>

              </dt>
            </div>
        </div>

      </div>

    </div>

  </div>

</div>



{% endblock %}