{% extends "layout-nafra2.html" %}

{% block pageTitle %}
Enter a postcode
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

 <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Enter a postcode
    </h1>

    <div class="govuk-inset-text">

      <p>
        This service will tell you the flood risk of an area, not a specific property.
      </p>

    </div>

    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">

        <label class="govuk-label" for="address-postcode">
          Postcode
        </label>

        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" />


      </div>


    </fieldset>

    <a href="select-an-address-dn19.html" role="button" class="govuk-button govuk-button--primary govuk-!-margin-bottom-8 govuk-!-margin-top-3">
      Continue
    </a>

    <h3 class="govuk-heading-s">What you can do if you don't have a postcode</h3>
    <p class="govuk-body">
      If you are looking at an area or only have a part of an address, you can find a specific postcode with <a href="http://www.royalmail.com/find-a-postcode" target="_blank">Royal Mail postcode finder</a>.
    </p>

    <h3 class="govuk-heading-s">Flood maps containing more technical information</h3>
    <p class="govuk-body">
      <a href="/version_11/nafra2-direct-map/surface-water">View a map that contains technical information</a> for more information on:
      <ul class="govuk-list--bullet govuk-body">
        <li>Surface water extent and depth</li>
        <li>Rivers and the sea extent and depth</li>
        <li>Reservoirs</li>
      </ul>
    </p>

    <h3 class="govuk-heading-s">Flood maps for flood zones</h3>
    <p class="govuk-body">
     Use the <a href="">'flood map for planning' service</a> for more information on:
      <ul class="govuk-list--bullet govuk-body">
        <li>Flood zones 1, 2, 3, 3b.</li>
        <li>Flood defences</li>
        <li>Rivers and the sea, surface water.</li>
        <li>Product 4 requests</li>
      </ul>
    </p>



  </div>

</div>


{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
