{% extends "layout.html" %}

{% block content %}

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.7/widget.module.min.js"
  async
  defer
></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.7/widget.min.js" async defer></script>

<div class="govuk-grid-row">

 <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Where do you want to check?
    </h1>

    <div class="govuk-inset-text">

      <p>
        This service will tell you the flood risk of an area, not a specific property.
      </p>

    </div>

    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">

        <label class="govuk-label" for="address-postcode">
          Enter a postcode
          <span class="form-hint">for example, WA4 1AB</span>
        </label>
        <input class="govuk-input govuk-input--width-10 govuk-!-margin-bottom-2" id="address-postcode" name="address-postcode" type="text" />

        <div class="frc-captcha" data-sitekey=FCMPBN3B86H9P6PC></div>
        </div>

        <p><span class="form-hint">Friendly Captcha checks that you’re not a  robot.<br> Find out how we use it in our <a href="http://check-long-term-flood-risk.service.gov.uk/privacy-notice">privacy notice</a></span>
        </p>

    </fieldset>

    <a href="/current/friendly-captcha/where-do-you-want-to-check-error-1" role="button" class="govuk-button govuk-button--start govuk-!-margin-bottom-8">
      Continue
    </a>

    <p>
      or <a href="http://flood-warning-information.service.gov.uk/long-term-flood-risk/map">view a map showing areas at risk of flooding</a>.
    </p>

    <p>
      <a href="http://www.royalmail.com/find-a-postcode" target="_blank">Use the Royal Mail postcode finder</a>
    </p>

  </div>

</div>


{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
