{% extends "layout" %}

{% block pageTitle %}
Understand your flood risk: groundwater and reservoirs
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Prototype"
},
html: 'This is a new service &ndash; your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a href="javascript:history.back()" class="govuk-back-link back-link-left">Back</a>

{% endblock %}

{% block content %}


<div class="govuk-width-container">

  <nav aria-label="Pages with more detail on this service" class="gem-c-contents-list govuk-!-margin-bottom-3" role="navigation">
    <h2 class="govuk-body govuk-!-margin-bottom-2"><b>Contents</b></h2>
    <ol class="gem-c-contents-list__list">
      
  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
    <a class="gem-c-contents-list__link govuk-link" href="/version_20/version_a/surface-water-result.html" previewlistener="true" aria-label="Surface water 
    understand your flood risk page.">Surface water</a> </li>

    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" href="/version_20/version_a/rivers-and-seas-result.html" previewlistener="true" aria-label="Rivers and the 
      sea understand your flood risk page.">Rivers and the sea</a></li>
  
  
  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
    <a class="gem-c-contents-list__link govuk-link" href="/version_20/version_a/more-about-groundwater" previewlistener="true" aria-label="Rivers and the sea understand your flood risk page.">Groundwater</a>
  </li>

  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
    <strong>Reservoirs</strong>
    </li>
  <br>
  <br>


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Reservoirs: understand your flood risk
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-2"><strong>Your selected location:</strong> 8, Sydenham Way, Dorchester, 
        Dorset DT1 1DN
        </p>

      <p class="govuk-body govuk-!-margin-bottom-6">This information tells you the flood risk of the land around a building, not the building itself.
      </p>

      <style>
        .govuk-tag {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 500px;
          /* control width */
          display: inline-block;
        }
      </style>

      <div class="risk-label-group-2 govuk-!-margin-top-4 govuk-!-padding-bottom-3">
        <strong class="govuk-tag no-data label-mod label-border" aria-hidden="true">
          There is a risk of flooding from reservoirs in this area.
        </strong>
      </div>
      
      <details class="govuk-details govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Reservoirs that could affect this area
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Lindley Wood 
          </p>
          <p class="govuk-body"> Owner: Yorkshire Water Services Ltd
          </p>
          <p class="govuk-body">Lead Local Flood Authority: North Yorkshire
          </p>
          <p class="govuk-body"><b>Comments:</b> If you have questions about local emergency plans for this reservoir you should contact the named Local Authority
          </p>
        </div>
      </details>

      <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-4">How we check an area’s risk</h3>
      <p class="govuk-body govuk-!-margin-bottom-6">We use predicted scenarios to understand the risk of flooding from reservoirs.
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">Flooding from reservoirs is extremely unlikely. We have an excellent reservoir safety record in the UK.
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">An area is considered at risk if people’s lives could be threatened in the event of a dam or reservoir failure. 
        There has been no loss of life due to a reservoir failing in the UK since 1925.
      </p>


  

        <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-4">What to do</h3>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

        <li>Make sure you can get <a href="https://www.gov.uk/alerts">emergency alerts</a> from the government
        </li>
        </li>
        <li>look at a <a href="https://check-long-term-flood-risk.service.gov.uk/map">reservoir flood map </a> to see where the water may go
        </li>
        <li>Read more about <a href="https://www.gov.uk/guidance/reservoir-flood-maps-when-and-how-to-use-them">reservoir flood maps</a>
        </li>
      </ul>


      <!-- end of details -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"> <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="/version_19/version_a/more-about-groundwater" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
                  height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path
                    d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                  </path>
                </svg>
                <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">Groundwater</span></a>
            </div>
  
          </nav>
      <!-- end of nav -->

    </div>
  </div>
</div>

{% endblock %}