
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your long term flood risk PROTOTYPE
        <span class="govuk-caption-xl">V3.01<span>
      </h1>

      <h2 class="govuk-heading-m">
        Results page prototypes
      </h2>

      <p class="govuk-body">
        Testing different results pages layouts, different kinds of information and button placement. Choose from <a href="/results-testing-2/choose">a list of different options</a>.
      <p>

        {# Size modifiers: xl, l, m #}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Matching the current live service
      </h2>

      <p class="govuk-body">
        As of 30 March 2022 there wasn't a prototype that fully reflected the current state of the service. This is an attempt to back fill the gap and provide a platform to build iterations from.
      <p>

      <h3 class="govuk-heading-s">
        Mockup of live as of 30 March 2022
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="live-march-22/start?address=select-an-address-dn19.html&results=results-dn19">Check your long term flood risk results for DN19 7DJ</a> - A step through journey resulting in <strong>Rivers and the sea High Risk</strong>, <strong>Surface water Medium risk</strong> and <strong>Groundwater</strong>.
        </li>
        <li>
          <a href="live-march-22/start?address=select-an-address-l23.html&results=results-l23">Check your long term flood risk results for L23 0SA</a> - A step through journey resulting in <strong>Surface Water High Risk</strong> and <strong>Rivers and the sea Very low risk</strong>.
        </li>
        <li>
          <a href="live-march-22/start?address=select-an-address-s6.html&results=results-s6">Check your long term flood risk results for S6 4JP</a> - A step through journey resulting in <strong>Surface Water High Risk</strong>, <strong>Rivers and the sea Medium risk</strong> and <strong>Reservoirs</strong>.
        </li>
      </ul>

      {# Size modifiers: xl, l, m #}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Original work
      </h2>

      <p class="govuk-body">
        Initial work done on the prototype from July 2019 to Jan 2020. It hadn't been updated to reflect changes in the live service.
      <p>

      <h3 class="govuk-heading-s">
        Original mockup links
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="version_1/p1">LTFRI MOCKUP</a> - most of the service as a step through journey
        </li>
        <li>
          <a href="version_1/p3-WV57BW">Results page WV5 7BW</a> - an alternative design for the results page based on a postcode
        </li>
      </ul>

  </div>

</div>

{% endblock %}
