{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
        Check your long term flood risk prototypes
      </h1>
      <p class="govuk-body">A collection of prototypes for testing scenarios and user journeys for the service 'Check your long term flood risk'.</p>
</div>
<div class="govuk-grid-column-full">
      <table class="govuk-table">
        <!--<caption class="govuk-table__caption govuk-table__caption--m"></caption>-->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">What's changed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-13">V13.0</a>
          </th>
            <td class="govuk-table__cell">In progress</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V13.0 changes
                  </span>
                </summary>
                <div class="govuk-details__text">
               
                  <ul class="govuk-list govuk-list--bullet">
                    <li></li>
            
                  </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-12">V12.0</a>
          </th>
            <td class="govuk-table__cell">February 2024 to March 2024</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V12.0 changes
                  </span>
                </summary>
                <div class="govuk-details__text">
               
                  <ul class="govuk-list govuk-list--bullet">
                    <li></li>
            
                  </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-11">V11.0</a>
          </th>
            <td class="govuk-table__cell">January 2024 to February 2024</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V11.0 changes
                  </span>
                </summary>
                <div class="govuk-details__text">
               
                  <ul class="govuk-list govuk-list--bullet">
                    <li></li>
            
                  </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-10">V10.0</a>
          </th>
            <td class="govuk-table__cell">December 2023 to January 2024</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V10.0 changes
                  </span>
                </summary>
                <div class="govuk-details__text">
               
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Fix mobile interaction when a user selects advanced button to open key and show the changes</li>
                    <li>Change text of advance button</li>
                    <li>Use earlier version of summary page</li>
                    <li>Moved map links into content</li>
                  </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-9">V9.0</a>
          </th>
            <td class="govuk-table__cell">November 2023 to December 2023</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V9.0 changes
                  </span>
                </summary>
                <div class="govuk-details__text">
               
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Inclusion of climate change scenarios (2050s)</li>
                    <li>Removal of content on data reliability</li>
                    <li>Drop down that includes how data is modelled</li>
                    <li>Simple summary with chance rating scale</li>
                    <li>Split out flood risks - more details page as hub page for each risk</li>
                    <li>Depth removed from the main journey map</li>
                    <li>Depth levels added in an accessible gauge</li>
                    <li>Navigation between split flood risks via content list and 'next page', 'previous page' buttons</li>
                    <li>Split out flood maps</li>
                    <li>Removal of advanced button</li>
                    <li>Utilising different colour palettes for different flood risks</li>
                    <li>Removal of 15m buffer</li>
                  </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-8">V8.0<br>V8.1<br>V8.2</a>
          </th>
            <td class="govuk-table__cell">October 2023 to November 2023<br>(including changes made to live service in 2024)</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V8.0 changes
                  </span>
                </summary>
                <div class="govuk-details__text">
               
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Accessibility fixes</li>
                <li>Return to well tested card design with simple user journey</li>
                <li>Changes to text on advanced button</li>
                  </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-7">V7.0</a>
          </th>
            <td class="govuk-table__cell">September 2023 to October 2023</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V7.0 changes
                  </span>
                </summary>
                <div class="govuk-details__text">
               
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Added accessibility fixes with focus states</li>
                    <li>Changed toggle to button</li>
                    <li>Button text and icon changes depending on which map you are on</li>
                    <li>Removed scenarios from extents, added ‘display flooding’ to toggle on and off layers</li>
                    <li>Removed ‘turn off layers’ from depth and velocity </li>
                  </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-6">V6.0<br>V6.1</a>
          </th>
            <td class="govuk-table__cell">July 2023 to September 2023</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V6.0, V6.1 changes
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>Version 6.0</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Fixed responsiveness issues that were present in earlier prototypes</li>
                    <li>Mobile and tablet version of map</li>
                    <li>Scenario controls at bottom of the screen full width</li>
                   <li> On depth and velocity, with 4 buttons utilised new approach</li>
                       <li>an overflow with scrollable scenario control +
                     arrows that act as buttons to scroll for user if scrolling action is difficult</li>
                    <li>Key resizes and left aligns up until desktop where it right aligns</li>
                    <li>Mobile version</li>
                  </ul>
                  <p>Version 6.1</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Advanced options toggle, shows and hides other flood risk information within ‘add technical layers’ toggle</li>
                    <li>Simple map loaded by default which includes: surface water - depth and extent, rivers - extent, reservoirs - extent</li>
                    <li>Added text to icons on mobile</li>
                    <li>Shifted scenario control to the right hand side</li>
                    <li>Fixed vertical scroll on desktop key</li>
                  </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-5">V5.0<br>V5.1</a>
          </th>
            <td class="govuk-table__cell">June 2023 to July 2023</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V5.0, V5.1 changes
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>Map version 5.0</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Scenarios as buttons on left side of map</li>
                    <li>Key is in side menu, underneath relevant radio button</li>
                    <li>Key is conditional, depending on what scenario is selected</li>
                    <li>River sea very low scenario combined with low risk scenario</li>
                    <li>Language on maps uses untested likelihood approach</li>
                  </ul>
                  <p>Map version 5.1</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Scenarios as buttons on left side of map</li>
                    <li>Key is in side menu, underneath relevant radio button</li>
                    <li>Extent scenarios are combined for surface water and rivers and seas</li>
                    <li>River sea very low scenario combined with low risk scenario</li>
                    <li>Uses language present on live service map</li>
                    <li>New summary page design</li>
                  </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-4">V4.0<br>V4.1</a>
          </th>
            <td class="govuk-table__cell">February 2023 to June 2023</td>
            <td class="govuk-table__cell">
        
                <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      V4.0, V4.1 changes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p>Version 4.0</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Two versions, one full screen, one partial</li>
                      <li>Added key to map</li>
                      <li>Moved drop down to side menu with radios</li>
                      <li>Split layers of extent for surface water and rivers sea</li>
                      <li>Added marker, radius and address window + toggle in menu</li>
                      
                    </ul>
                    <p>Version 4.1</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Added colour to split extents that matched with key for extents</li>
                      <li>Added very low risk with defences to rivers sea</li>
                      <li>Added new autocomplete search for testing</li>
                    </ul>
                  </div>
                </details>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-3">V3.0</a>
          </th>
            <td class="govuk-table__cell">November 2022 to February 2023</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V3.0 changes
                  </span>
                </summary>
                <p class="govuk-body">Testing scenarios for:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Friendly captcha</li>
                <li>Multiple search</li>
              </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-2-2">V2.2</a>
          </th>
            <td class="govuk-table__cell">October 2022</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V2.2 changes
                  </span>
                </summary>
                <p class="govuk-body">A list of as-is journeys of different flood risk summaries, includes:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>A table of postcodes ranging from high risk to very low</li>
                <li>Groundwater and reservoirs are included in some flows</li>
                <li>An updated manage flood risk page</li>
                <li>Links to maps are still linking to live service</li>
              </ul>
                </div>
              </details>
             
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-2-1.html">V2.1</a>
          </th>
            <td class="govuk-table__cell">April 2022 to August 2022</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V2.1 changes
                  </span>
                </summary>
                <p class="govuk-body">A collection of different testing scenarios:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Content changes for flood risk summary pages</li>
                <li>Holding comment content and structural changes</li>
                <li>Different iterations of structural changes for flood risk summary pages</li>
                <li>List of JPGs for a multiple postcode result feature</li>
              </ul>
                </div>
              </details>
              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-2">V2.0</a>
          </th>
            <td class="govuk-table__cell">March 2022</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V2.0 changes
                  </span>
                </summary>
                <p class="govuk-body">As-is prototype:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Updated journey to match live service</li>
                  <li>Changed summary page</li>
                </ul>
                </div>
              </details>
            
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="/version-1">V1.0</a>
          </th>
            <td class="govuk-table__cell">July 2019 to Jan 2020</td>
            <td class="govuk-table__cell">
              <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    V1.0 changes
                  </span>
                </summary>
                <p class="govuk-body">Original work containing:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Mock up of live service</li>
                <li>Alternative results page</li>
              </ul>
                </div>
              </details>
              
            </td>
          </tr>
        </tbody>
      </table>
  
   
  </div>

</div>

{% endblock %}
