{% extends "layout.html" %} {% block pageTitle %} GOV.UK Flooding {%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      LTFRI PROTOTYPE
      <span class="govuk-caption-xl">V3.01<span>
    </h1>

    <h2 class="govuk-heading-m">Mockup Link</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/p1"> LTFRI MOCKUP</a>
      </li>
    </ul>
    <h2 class="govuk-heading-m">About this page</h2>
    <p>
      We recommend you add links to your prototype to this page, rather than
      delete it. You'll find this page in the kit at '/app/views/index.html'.
    </p>
  </div>
</div>

{% endblock %}
