{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 <h1 class="govuk-heading-m">Testing scenarios for flood maps</h1>
<p class="govuk-body"></p>


    <p class="govuk-body"> <a class="govuk-link" href="/map/start?address=select-an-address-dn19.html&results=results-hx7.html">Version 1</a></p>

    <p class="govuk-body"> <a class="govuk-link" href="/map-small/start?address=select-an-address-dn19.html&results=results-yo8.html">Version 2</a></p>

  </div>
</div>

{% endblock %}
