{% extends "layout.html" %}

 {% block content %}
 <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-xl">Managing flood risk</h1>
       <p>Our climate is changing and one of the main risks is increased flooding. Read help and guidance about managing flood risk.</p>
       <p>– <a href="#prepare">Prepare for flooding</a></p>
       <p>– <a href="#protect">Protect your property</a></p>
       <p>– <a href="#getinsurance">Get insurance advice</a></p>
       <p>– <a href="#buyorsell">Buying or selling a property</a></p>
       <p>– <a href="#planning">Planning permission</a></p>
       <br>
       <br>
    <div>
      <h2 class="govuk-heading-m" id="prepare">Prepare for flooding</h2>
       <p class='govuk-body'>Use these services to get prepared:</p>
       <ul class='govuk-list govuk-list--bullet'>
         <li>check your<a href="#"> local weather</a></li>
         <li>sign up for <a href="#"> flood warnings</a></li>
         <li>view a <a href="#">5-day flood forecast</a></li>
         <li>monitor <a href="#">local rivers and the sea</a></li>
       </ul>
       <p class='govuk-body'>If you are about to be flooded think about those around you, such as:
       </p>
       <ul class='govuk-list govuk-list--bullet'>
         <li>babies and children</li>
         <li>older people</li>
         <li>disabled people</li>
         <li>neighbours</li>
         <li>your pets</li>
       </ul>
       <p class='govuk-body'>It can affect your gas, water and electricity supplies and disrupt your travel plans.
       </p>
       <p class='govuk-body'>Plan how you’ll respond to a flood by making a:
       </p>
       <ul class='govuk-list govuk-list--bullet'>
         <li><a href="#">personal flood plan</a></li>
         <li><a href="#">community or group flood plan</a></li>
         <li><a href="#">business flood plan</a></li>
       </ul>
       <p class='govuk-body'>For further advice about flooding check the <a href="#">National flood forum</a>.
       </p>
       <p class='govuk-body'>The Lead Local Flood Authority (LLFA) for the area you checked is <strong>Sefton</strong>. Sefton LLFA manages the flood risk from surface water and may hold more detailed information.
       </p>
      </div>
      <br>
      <br>
    <div>
      <h2 class="govuk-heading-m" id="protect">Protect your property</h2>
      <p class='govuk-body'>To protect your property and find out how much it will cost <a href="#">use the National Flood Forum's property protection tool</a></p>
      <p class='govuk-body'>Find out about flood protection products and services at <a href="#">Blue Pages
      <p class='govuk-body'>Read about what the <a href="#">Environment Agency is doing about flooding</a></p>
    </div>
    <br>
    <br>
    <div>
      <h2 class="govuk-heading-m" id="getinsurance">Get insurance advice</h2>
      <p class='govuk-body'>Make sure you have insurance that covers you for flood risk. Insurance companies use various sources of information to calculate premiums.</p>
      <p class='govuk-body'>You can:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>ask your insurance broker about the <a href="#">Flood Re</a> scheme to get cover for properties at risk of flooding</li>
        <li><a href="#">find a broker</a> that specialises in properties that are difficult to insure</li>
        <li>get insurance advice from the <a href="#">National Flood Forum</a></li>
      </ul>
      <p class='govuk-body'><strong>Get evidence of flood risk</strong></p>
      <p class='govuk-body'>Contact the Environment Agency if your insurer asks for <a href="#">evidence of your flood risk.</a></p>
      <p class='govuk-body'></p>
      <p class='govuk-body'><strong>If you've done work on your property</strong></p>
      <p class='govuk-body'>Show insurers or buyers how the work has reduced your flood risk. You or your surveyor can complete a <a href="#">Flood Risk Report</a>
    </div>
      <br>
      <br>
     <div>
      <h2 class="govuk-heading-m" id="buyorsell">Buying or selling a property</h2>
      <p class='govuk-body'>To find out if a property has flooded in the past <a href="#">get a flood report</a></p>
      <p class='govuk-body'>Read guidance on the <a href="#"> rights and responsibilities of owning a riverside property.</a></p>
    </div>
    <br>
    <br>
      <div>
        <h2 class="govuk-heading-m" id="gethelp">Planning permission</h2>
        <p class='govuk-body'>If you want to build a new extension, property or development find out if you need a <a href="#">Flood Risk Assessment (FRA)</a><p>
        </div>
        <br>
        <br>
      <div>
     <a href="/p1" role="button"
       class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Check another area</a>
       <p class="govuk-body"><strong>Is there something missing from this guide? <a href="#">Tell us</a></strong> </p>
    </div>
</div>
</div>


{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
