{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Managing flood risk</h1>
    </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- <p>Our climate is changing and one of the main risks is increased flooding. Read help and guidance about managing flood risk.</p>
       <p>– <a href="#prepare">Prepare for flooding</a></p>
       <p>– <a href="#protect">Protect your property</a></p>
       <p>– <a href="#getinsurance">Get insurance advice</a></p>
       <p>– <a href="#buyorsell">Buying or selling a property</a></p>
       <p>– <a href="#planning">Planning permission</a></p>
       <br>
       <br> -->
    <div>



      <nav class="gem-c-contents-list  gem-c-contents-list--no-underline responsive-bottom-margin" role="navigation" data-module="track-click">
            <h2 class="gem-c-contents-list__title">Contents</h2>

          <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#prepare-for-flooding" data-track-options="{&quot;dimension29&quot;:&quot;First thing&quot;}" href="#prepare-for-flooding">Prepare for flooding</a>

              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#protect-your-property" data-track-options="{&quot;dimension29&quot;:&quot;Second thing&quot;}" href="#protect-your-property">Protect your property</a>

              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#insurance-and-moving-house" data-track-options="{&quot;dimension29&quot;:&quot;Third thing&quot;}" href="#insurance-and-moving-house">Insurance and moving house</a>

              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#planning-permission" data-track-options="{&quot;dimension29&quot;:&quot;Third thing&quot;}" href="#planning-permission">Planning permission</a>

              </li>
          </ol>
      </nav>



      <h2 class="govuk-heading-m" id="prepare-for-flooding">Prepare for flooding</h2>
      <p class="govuk-body">Our climate is changing and one of the risks is an increase in flooding. Extreme weather events could happen more often.</p>
      <p class='govuk-body'>You can still be at risk of flooding even if your area has not flooded in the past.</p>
      <p class='govuk-body'>Use these services to get prepared:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>check your<a href="#"> local weather</a></li>
        <li>sign up for <a href="#"> flood warnings</a></li>
        <li>view a <a href="#">5-day flood forecast</a></li>
        <li>monitor <a href="#">local rivers and the sea</a></li>
      </ul>
      <p class='govuk-body'>If you are about to be flooded think about those around you, such as:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>babies and children</li>
        <li>older people</li>
        <li>disabled people</li>
        <li>neighbours</li>
        <li>your pets</li>
      </ul>
      <p class='govuk-body'>It can affect your gas, water and electricity supplies and disrupt your travel plans.
      </p>
      <p class='govuk-body'>Plan how you’ll respond to a flood by making a:
      </p>
      <ul class='govuk-list govuk-list--bullet'>
        <li><a href="#">personal flood plan</a></li>
        <li><a href="#">community or group flood plan</a></li>
        <li><a href="#">business flood plan</a></li>
      </ul>
      <p class='govuk-body'>For further advice about preparing for flooding check the <a href="#">National flood forum</a>.
      </p>
      <p class='govuk-body'>The Lead Local Flood Authority (LLFA) for the area you checked is <strong>Warrington council</strong>. It manages the flood risk from surface water.
      </p>
    </div>
    <br>
    <hr>
    <br>
    <div>
      <h2 class="govuk-heading-m" id="protect-your-property">Protect your property</h2>
      <p class='govuk-body'>To protect your property and find out how much it will cost <a href="#">use the National Flood Forum's property protection tool</a></p>
      <p class='govuk-body'>Find out about flood protection products and services at <a href="#">Blue Pages</a></p>
      <p class='govuk-body'>Read about what the <a href="#">Environment Agency is doing about flooding</a></p>
    </div>
    <br>
    <hr>
    <br>
    <div>
      <h2 class="govuk-heading-m" id="insurance-and-moving-house">Insurance and moving house</h2>
      <p class='govuk-body'>Insurance companies use a wide range of flood information to calculate premiums.</p>
      <p class='govuk-body'>Make sure you have insurance that covers you for flood risk.</p>
      <p class='govuk-body'>You can:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>ask your insurance broker about the <a href="#">Flood Re</a> scheme to get cover for properties at risk of flooding</li>
        <li><a href="#">find a broker</a> that specialises in properties that are difficult to insure</li>
        <li>get insurance advice from the <a href="#">National Flood Forum</a></li>
      </ul>
      <p class='govuk-body'>To find out if the area a property is in has flooded in the past <a href='#''>get a flood report</a></p>
      <p class=' govuk-body'><strong>Get evidence of flood risk</strong></p>
      <p class='govuk-body'>For evidence of your flood risk <a href='#'>contact the Environment Agency</a></p>
      <p class='govuk-body'>You will receive a letter within 20 days.</p>
      <p class='govuk-body'><strong>If you've done work on your property</strong></p>
      <p class='govuk-body'>Show insurers or buyers how the work has reduced your flood risk. You or your surveyor can complete a <a href="#">Flood Risk Report</a>
    </div>
    <br>
    <hr>
    <br>
    <div>
      <h2 class="govuk-heading-m" id="planning-permission">Planning permission</h2>
      <p class='govuk-body'>This information is not suitable for use in land-use planning.</p>
      <p>Use the <a href="#">flood map for planning service</a>
        <p>
    </div>
    <br>
    <hr>
    <br>
    <div>
      <a href="/p1" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Check another area</a>
      <p class="govuk-body"><strong>Is there <a href='#'>something missing?</a></strong> </p>
    </div>
  </div>





<!-- <div class="govuk-grid-column-one-third">
  <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Subsection
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#">
                  Prepare for flooding
                </a>
              </li>
              <li>
                <a href="#">
                  Protect your property
                </a>
              </li>
              <li>
                <a href="#">
                  Insurance and moving house
                </a>
              </li>
              <li>
                <a href="#">
                  Planning permission
                </a>
              </li>
            </ul>
          </nav>
        </aside>
</div> -->




</div>


{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
