{% extends "template.njk" %} {% from "accordion/macro.njk" import govukAccordion
%} {% from "back-link/macro.njk" import govukBackLink %} {% from
"breadcrumbs/macro.njk" import govukBreadcrumbs %} {% from "button/macro.njk"
import govukButton %} {% from "character-count/macro.njk" import
govukCharacterCount %} {% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "date-input/macro.njk" import govukDateInput %} {% from
"details/macro.njk" import govukDetails %} {% from "error-message/macro.njk"
import govukErrorMessage %} {% from "error-summary/macro.njk" import
govukErrorSummary %} {% from "fieldset/macro.njk" import govukFieldset %} {%
from "file-upload/macro.njk" import govukFileUpload %} {% from "input/macro.njk"
import govukInput %} {% from "inset-text/macro.njk" import govukInsetText %} {%
from "panel/macro.njk" import govukPanel %} {% from "phase-banner/macro.njk"
import govukPhaseBanner %} {% from "radios/macro.njk" import govukRadios %} {%
from "select/macro.njk" import govukSelect %} {% from "skip-link/macro.njk"
import govukSkipLink %} {% from "summary-list/macro.njk" import govukSummaryList
%} {% from "table/macro.njk" import govukTable %} {% from "tabs/macro.njk"
import govukTabs %} {% from "tag/macro.njk" import govukTag %} {% from
"textarea/macro.njk" import govukTextarea %} {% from "warning-text/macro.njk"
import govukWarningText %} {% block head %} {% include "includes/head.html" %}
{% endblock %} {% block pageTitle %} GOV.UK Flooding {% endblock %} {%
block header %} {% include "includes/cookie-banner.html" %} {# Set serviceName
in config.js. #}
{{
  govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  })
}}

{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-inset-text high">
     <h1 class="govuk-heading-l">High risk - flash flooding (surface water)</h1>
      {# <h1 class="govuk-heading-l">High risk - flash flooding (surface water)</h1>
      <p class="govuk-body-l">flash flooding (surface water)</p> #}
    </div>
    {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible "> #}

    <p>This area has a greater than 3.3% chance of flash flooding (surface water) each year</p>


    <h2 class="govuk-heading-l">What is flash flooding?</h2>

    <p>Flash flooding, also known as surface water flooding, happens when heavy rainfall cannot drain away.</p>

    <p>Over 3 million properties are at risk from surface water in the UK, more than those at risk from rivers and the
      sea (2.7 million).
    </p>

     <h2 class="govuk-heading-l">Accuracy</h2>

      <p>Flash flooding is difficult to predict as rainfall location and volume are difficult to forecast. Local features
      can affect the chance and severity of flooding.</p>

     <p> We do not include flood risk from sources like blocked drains or burst pipes.</p>

     <p> We assessed the flood risk for this area in 2017. We will do it again in 2022.</p>
   
    <h3 class="govuk-heading-m">How we assess the risk</h3>

    <p>Flood experts use computer models to observe and assess:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Rainwater flow and pooling</li>
      <li>weather patterns</li>
      <li>local landscape</li>
      <li>historical data</li>
    </ul>



      <h3 class="govuk-heading-m">Surface water risk management</h3>

      <p><a
        href="https://www.google.com/url?q=https://www.bury.gov.uk/index.aspx?articleid%3D12174&sa=D&ust=1563801538571000&usg=AFQjCNFlkRWT_bg8hzT6-MEBjsEsTM_kCQ">Contact
        your Lead Local Council</a> to find out more detailed information on the risk from flash flooding (surface
      water).

    </p>

     <p><a href="#" class="govuk-link">View your results on a map</a> </p>

    <a href="/page6" role="button"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8 custom">View rivers and the sea
      details</a>
    
    {# <span class="floatRight"><button type="submit" onclick="window.print();return false;"
        class="govuk-button govuk-button--secondary">
        Print details
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary">
        View map </button>
    </span> #}

  </div>

</div>
{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}