{% extends "template.njk" %} {% from "accordion/macro.njk" import govukAccordion
%} {% from "back-link/macro.njk" import govukBackLink %} {% from
"breadcrumbs/macro.njk" import govukBreadcrumbs %} {% from "button/macro.njk"
import govukButton %} {% from "character-count/macro.njk" import
govukCharacterCount %} {% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "date-input/macro.njk" import govukDateInput %} {% from
"details/macro.njk" import govukDetails %} {% from "error-message/macro.njk"
import govukErrorMessage %} {% from "error-summary/macro.njk" import
govukErrorSummary %} {% from "fieldset/macro.njk" import govukFieldset %} {%
from "file-upload/macro.njk" import govukFileUpload %} {% from "input/macro.njk"
import govukInput %} {% from "inset-text/macro.njk" import govukInsetText %} {%
from "panel/macro.njk" import govukPanel %} {% from "phase-banner/macro.njk"
import govukPhaseBanner %} {% from "radios/macro.njk" import govukRadios %} {%
from "select/macro.njk" import govukSelect %} {% from "skip-link/macro.njk"
import govukSkipLink %} {% from "summary-list/macro.njk" import govukSummaryList
%} {% from "table/macro.njk" import govukTable %} {% from "tabs/macro.njk"
import govukTabs %} {% from "tag/macro.njk" import govukTag %} {% from
"textarea/macro.njk" import govukTextarea %} {% from "warning-text/macro.njk"
import govukWarningText %} {% block head %} {% include "includes/head.html" %}
{% endblock %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {%
block header %} {% include "includes/cookie-banner.html" %} {# Set serviceName
in config.js. #}
{{
  govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  })
}}

{% endblock %} {% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Why are you checking your risk?
                </h1>
              </legend>

              <div class="govuk-inset-text">
                <p>This is so we can offer the most suitable advice</p>
              </div>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Selling a property
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Buying a property
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    Property insurance
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    To keep property and family safe
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <a href="v2-p8" role="button"
            class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a>
        </form>
      </div>
    </div>
  </main>
</div>






{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooin " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
