{% extends "template.njk" %} {% from "accordion/macro.njk" import govukAccordion
%} {% from "back-link/macro.njk" import govukBackLink %} {% from
"breadcrumbs/macro.njk" import govukBreadcrumbs %} {% from "button/macro.njk"
import govukButton %} {% from "character-count/macro.njk" import
govukCharacterCount %} {% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "date-input/macro.njk" import govukDateInput %} {% from
"details/macro.njk" import govukDetails %} {% from "error-message/macro.njk"
import govukErrorMessage %} {% from "error-summary/macro.njk" import
govukErrorSummary %} {% from "fieldset/macro.njk" import govukFieldset %} {%
from "file-upload/macro.njk" import govukFileUpload %} {% from "input/macro.njk"
import govukInput %} {% from "inset-text/macro.njk" import govukInsetText %} {%
from "panel/macro.njk" import govukPanel %} {% from "phase-banner/macro.njk"
import govukPhaseBanner %} {% from "radios/macro.njk" import govukRadios %} {%
from "select/macro.njk" import govukSelect %} {% from "skip-link/macro.njk"
import govukSkipLink %} {% from "summary-list/macro.njk" import govukSummaryList
%} {% from "table/macro.njk" import govukTable %} {% from "tabs/macro.njk"
import govukTabs %} {% from "tag/macro.njk" import govukTag %} {% from
"textarea/macro.njk" import govukTextarea %} {% from "warning-text/macro.njk"
import govukWarningText %} {% block head %} {% include "includes/head.html" %}
{% endblock %} {% block pageTitle %} GOV.UK Flooding {% endblock %} {%
block header %} {% include "includes/cookie-banner.html" %} {# Set serviceName
in config.js. #}
{{
  govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  })
}}

{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Future flood risk for<strong>BL9 1XX<strong> </h1>


    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </p> -->

    <div class="govuk-inset-text high">
      <h3 class="no-margin">Surface water</h3>
      <p><strong>Above average flood risk in this area</strong></p>
      <p><strong>Sefton Council</strong> is your Lead Local Flood Authority (LLFA). It is responsible for managing the risk of flooding from surface water.</p>
      <p><a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk/map?easting=379223&northing=413327&address=100010969070&map=SurfaceWater" class="govuk-link">View map of surface water risk</a> </p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
Accuracy of this information          </span>
        </summary>
        <div class="govuk-details__text">
          <p>This information is:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>suitable for identifying which parts of towns or streets are at risk, or have the most risk</li>
            <li>suitable for identifying the approximate extent and depth of flooding </li>
            <li>likely to be reliable for a local area but not identifying individual properties at risk</li>
          </ul>
        <p><strong>Your LLFA may have more detailed information about the area's risk</strong></p>
</div>
</details>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-inset-text medium">
      <h3 class="no-margin">Rivers and the sea</h3>
       <p><strong>Average flood risk in this area</strong></p>
       <p>This takes into account the effect of any flood defences in the area. These defences reduce but do not completely stop the chance of flooding as they can be overtopped, or fail.</p>

       <p><a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk/map?easting=379223&northing=413327&address=100010969070&map=SurfaceWater" class="govuk-link">View map of rivers and sea risk</a> </p>
     </div>
    {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}

    {# <div class="govuk-inset-text low">
       <p><strong>Reservoirs:</strong></p>
      <p>This area is unlikely to flood from a reservoir.</p>
    </div> #}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h3 class="govuk-heading-m">Other flood risks</h3>

    <div class="govuk-inset-text low">
      <p><strong>Reservoirs</strong></p>
      <p>There is a significantly above average risk of flooding in this area from reservoirs - it is extremely unlikely</p>
      <p><a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk/map?easting=379223&northing=413327&address=100010969070&map=SurfaceWater" class="govuk-link">View map of reservoir risk</a> </p>
      <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Reservoirs that could affect this area</span>
  </summary>
  <div class="govuk-details__text">
    <p><strong>Bough Beech</strong> (grid reference TQ4916847292)</p>
    <p>Owner: Sutton & East Surrey Water Company</p>
    <p>Lead Local Flood Authority: Kent</p>
    <p>If you have questions about local emergency plans for this reservoir you should contact the named Local Authority</p>
    <br>
    <p><strong>Bewl Bridge</strong> (grid reference TQ4943847292)</p>
    <p>Owner: Sutton & East Surrey Water Company</p>
    <p>Lead Local Flood Authority: East Sussex</p>
    <p>If you have questions about local emergency plans for this reservoir you should contact the named Local Authority</p>
  </div>
</details>
    </div>

    <div class="govuk-inset-text low">
      <p><strong>Groundwater</strong></p>
      <p>High groundwater levels may cause flooding in this area</p>
    </div>

    <br><br><a href="/v2-p7" role="button"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8 custom">What you can do</a>

  </div>

</div>
{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
