{% extends "template.njk" %} {% from "accordion/macro.njk" import govukAccordion
%} {% from "back-link/macro.njk" import govukBackLink %} {% from
"breadcrumbs/macro.njk" import govukBreadcrumbs %} {% from "button/macro.njk"
import govukButton %} {% from "character-count/macro.njk" import
govukCharacterCount %} {% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "date-input/macro.njk" import govukDateInput %} {% from
"details/macro.njk" import govukDetails %} {% from "error-message/macro.njk"
import govukErrorMessage %} {% from "error-summary/macro.njk" import
govukErrorSummary %} {% from "fieldset/macro.njk" import govukFieldset %} {%
from "file-upload/macro.njk" import govukFileUpload %} {% from "input/macro.njk"
import govukInput %} {% from "inset-text/macro.njk" import govukInsetText %} {%
from "panel/macro.njk" import govukPanel %} {% from "phase-banner/macro.njk"
import govukPhaseBanner %} {% from "radios/macro.njk" import govukRadios %} {%
from "select/macro.njk" import govukSelect %} {% from "skip-link/macro.njk"
import govukSkipLink %} {% from "summary-list/macro.njk" import govukSummaryList
%} {% from "table/macro.njk" import govukTable %} {% from "tabs/macro.njk"
import govukTabs %} {% from "tag/macro.njk" import govukTag %} {% from
"textarea/macro.njk" import govukTextarea %} {% from "warning-text/macro.njk"
import govukWarningText %} {% block head %} {% include "includes/head.html" %}
{% endblock %} {% block pageTitle %} GOV.UK Flooding {% endblock %} {%
block header %} {% include "includes/cookie-banner.html" %} {# Set serviceName
in config.js. #}
{{
  govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  })
}}

{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Short term results for:<strong>BL9 1XX<strong> </h1>


    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </p> -->

<h2 class="govuk-heading-l">Immediate risk</h2>
  <p>No current risk alerts or warnings for this area</p>
  <br>
  <h2 class="govuk-heading-l">Next 5 days</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Friday 10 October: <strong>medium risk</strong></li>
    <li>Saturday 11 October: <strong>medium risk</strong></li>
    <li>Sunday 12 October: <strong>high risk</strong></li>
    <li>Monday 13 October: <strong>high risk</strong></li>
    <li>Tuesday 14 October: <strong>high risk</strong></li>
    </ul>

  <h2 class="govuk-heading-l">Previous flood warnings</h2>
    <p>Flood warnings are issued by the Environment Agency in areas identified at above average risk of flooding</p>
    <P><strong>This area has flood warnings available</strong></P>
    <br>
    <p>Previous warnings issues:<p>
      <ul class="govuk-list govuk-list--bullet">
        <li>19/09/2018 - Flood warning issued</li>
        <li>18/04/2009 - Severe flood warning issued</li>
        </ul>


    <br><br><a href="/v2-p6" role="button"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8 custom">View future flood risks</a>

    {# <span class="floatRight"><button type="submit" onclick="window.print();return false;"
        class="govuk-button govuk-button--secondary">
        Save as PDF
      </button> <button type="submit" onclick="window.print();return false;"
        class="govuk-button govuk-button--secondary">
        Print details
      </button>
      <!-- <button type="submit" class="govuk-button govuk-button--secondary">
        Detailed view
      </button> -->
    </span> #}

  </div>

</div>
{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
