{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
      Map prototype iterations
        <span class="govuk-caption-xl">Version 5.0<span>
      </h1>

      <p class="govuk-body">
        
      <p>

      <h3 class="govuk-heading-m">
        Map version 3
      </h3>
      
          <p class="govuk-body"> <a class="govuk-link" href="version_5/map-v3/start?address=select-an-address-dn19.html&results=results-hx7.html">Version with likelihood language on the maps and split layers</a></p>

          <h3 class="govuk-heading-m">
            Map version 3.1
          </h3>  
          <ul class="govuk-list--bullet">
          <li class="govuk-body">Map with combined extent layerrs and using risk language</li>
          <li class="govuk-body">New summary page designs</li>
        </ul>
          <p class="govuk-body"><strong>Newmarket</strong> addresses:</p>
              <p class="govuk-body"><a class="govuk-link" href="version_5/map-v3-3/start?address=select-an-address-dn19.html&results=results-hx7.html">Design 1</a></p>

              <p class="govuk-body"><a class="govuk-link" href="version_5/map-v3-2/start?address=select-an-address-dn19.html&results=results-hx7.html">Design 2</a></p>

              <p class="govuk-body"><strong>Selby</strong> addresses:</p>
              <p class="govuk-body"><a class="govuk-link" href="version_5/map-v3-4/start?address=select-an-address-dn19.html&results=results-hx7.html">Design 1</a></p>

              <p class="govuk-body"><a class="govuk-link" href="version_5/map-v3-5/start?address=select-an-address-dn19.html&results=results-hx7.html">Design 2</a></p>

              <h3 class="govuk-heading-m">
                Summary page versions
              </h3>  
              <p class="govuk-body">Exploring improvements to displaying content on summary page
              </p>
                  <p class="govuk-body"> <a class="govuk-link" href="version_5/map-v3-2/results-hx7.html">Version using summary cards for each risk type</a></p>

                  <p class="govuk-body"> <a class="govuk-link" href="version_5/map-v3-2/results-cb8.html">Version using original design but with improved semantic hierarchy</a></p>
         

</div>
</div>

{% endblock %}
