{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
     Nafra2 service iteration
        <span class="govuk-caption-xl">Version 13.0<span>
      </h1>
    

          <h3 class="govuk-heading-m">
            Fifth iteration of service with Nafra2 data
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </h3>

          <p class="govuk-body">Version 13 focusses on 3 big issues: users are still misinterpreting depth, lack of understanding that climate chance could gradually affect flood risk over time, users don't think 2050s is relevant as it's too far in the future.</p>

          <h4 class="govuk-heading-s">V12 research findings</h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>Depth is still not right as participants conflate it with extent.</li>
            <li>Non-technical users do not think about different types of flooding when they come to the service.</li>
            <li>Climate change information has the potential to have a big impact on purchase/disposal decisions.</li>
            <li>Some users want more context as to what is causing the increased risk in 2050. People want closer timeframes.</li>
            <li>Navigation continues to work well.</li>
            <li>Participants value the high level summary view.</li>
            <li>More details met expectations for extra information.</li>
            <li>Users surprised by generic information for Res/GW</li>
            <li>Rivers and sea colours hard to distinguish. Rivers and sea map causing more alarm for 2050 scenario.</li>
            <li>Maps interactions generally working well.</li>
          </ul>

          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V13.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>Summary: changed 'by 2050s' to 'with climate change', potentially removing the need to explain why the 2050s have been chosen on the summary page. Also made information and flood defences more prominent.</li>
                <li>More details: created one line of flood risk now and in the future with the wording 'increasing to' to imply gradual change over time.</li>
                <li>More details: added context about climate change and guidance page link.</li>
                <li>More details: testing a new way of presenting absolute risk as 1 in X is misinterpreted. Using a 20 year period and rounded up percentages to show what these initial percentages (1%/3.3%) mean over 20 years (20%/50%)</li>
                <li>Depth: stripped back to give the gist of the information. Not working quite how it's modelled, if a flood were to happen then these are the likely depths and how they're changing by 2050s. Using 'Present day' and '2050s' as we've already spoken about yearly chance on the 'more details' page and it is implied.</li>
              </ul>
            </div>
          </details>
        
      
              <p class="govuk-body"> <a class="govuk-link" href="version_13/nafra2/start?address=select-an-address-dn19.html&results=results-hx7.html">Version 13</a></p>

         

</div>
</div>

{% endblock %}
