{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
     Nafra2 service iteration
        <span class="govuk-caption-xl">Version 14.0<span>
      </h1>
    

          <h3 class="govuk-heading-m">
            Sixth iteration of service with Nafra2 data
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </h3>

          <p class="govuk-body">Version 14 focusses on depth.</p>

          <h4 class="govuk-heading-s">V13 research findings</h4>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>As we've seen before with businesses, there are a range of uses of long-term flood risk information. The civil engineer has a different use case and may be not be a CYLTFR user (post NAFRA?)
            </li>            
            <li>“Yearly chance of flooding with climate change” is too ambiguous. We initially made this change (removing 2050) to make climate change data more relatable to those who need smaller timeframes, but it created more questions. Is there anything else we can do to help users relate to climate change information?
            </li>
            <li>Using the language 'increasing to' helped participants somewhat understand that there is no step change between now and 2050. (clearest on R/S where there is a bigger difference between risks)
            </li>
            <li>A few commented on the new content within 'what flood risk ratings mean' and the response is promising “high is 1 in 2, that’s a different game”
            </li>
            <li>New depth designs (which have removed risk language) helped participants to understand that depth is separate to extent.
            </li>
            <li>Though some thought the 'most likely' depth meant the worst-case scenario. Is this Ok? Do we need an 'advanced' option (with risk ratings for each depth) for some business needs?
            </li>

          </ul>


          <details class="govuk-details govuk-!-padding-top-6 govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V14.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
           
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

                <li>Summary changed heading from 'Yearly chance of flooding with climate change' to 'Yearly chance of flooding by the 2050s'. Also added two new dropdowns 'What we mean by the 2050s' in the Surface water and the Rivers and sea sections. The information inside them is different to reflect the different time periods</li>

                <li>Surface water details removed the link 'increasing the chances of flooding' under the climate change information. Also reduced the content in 'What the risk ratings mean' dropdown</li>

                <li>Surface water: possible flood depths we added in graphs to cover each depth level of 20, 30 and 60cm across present day and the 2050s timelines. Also included an individual risk rating of Very low, Low, Medium or High on the present day and 2050s graphs. Created two new versions A tabs and B stacked layout</li>
              </ul>
            </div>
          </details>
        
      
              <p class="govuk-body govuk-!-padding-top-2"> <a class="govuk-link govuk-link--no-visited-state" href="/version_14/nafra2/Version_A/results-hx7">Version A</a></p>

              <p class="govuk-body"> <a class="govuk-link govuk-link--no-visited-state" href="/version_14/nafra2/Version_B/results-hx7">Version B</a></p>

</div>
</div>

{% endblock %}
