{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Nafra2 service iteration - Groundwater
      <span class="govuk-caption-xl">Version 19.0<span>
    </h1>


    <h3 class="govuk-heading-m">
      Testing the design and content for groundwater 
      <br>
      <strong class="govuk-tag govuk-tag--blue">
        Not tested
      </strong>
    </h3>

    <p class="govuk-body">Version 19 focuses on testing the new content for groundwater, including the language used for the binary risk ratings 
      'Outside a flood alert area' and 'inside a flood alaert area'. 
  

    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          V19.0 changes
        </span>
      </summary>
      <div class="govuk-details__text">

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
            <li>The pages that will be tested are the main risk result page and the 'Groundwater: Understand your flood risk' 
            page.
            </li>
          </p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
            <li>We have also introducted the start of the 'Reservoirs: Understanding your flood risk' - Due to the groundwater and reservoir pages now being separated, 
              we needed to add a page for reservoir content, should any users click any reservoir realted links.
            </li>
          </p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
          <li>Content pages have also been updated to match the liver service more closely, for exmaple, the content list to navigate to other pages, was situated in the navigation, 
            this doesn't need to be placed here, as this rule only generally applies if there are links to a a new action, as per GDS guidelines, so it has been replaced by the standard GOV UK contents list.
          </li>
          </p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
            <li>The boxes used to show the 'risk result' for outside or inside a flood risk areas are currently grey. A decision 
              is needed (following user testing) as to whether these ramain grey, or if users expect there to be a colour convension, similar to those used in the other risk rating (eg. red, ornage and green)
            </li>
            </p>

        </ul>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Version A (Outside a flood alert area)</h4>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
          <li>Risk summary page, showing risk rating as 'outside a flood alert area'</li>
          <li>Postcode 'DT1 1DN' can be used for this version during testing</li>
        </p>

        </ul>

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Version B (Inside a flood alert area)</h4>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
            <li>Risk summary page, showing risk rating as 'insides a flood alert area'</li>
            <li>Postcode 'BA16 0GZ' can be used for this version during testing</li>
          </p>
  
          </ul>

        </ul>

      </div>
    </details>


    <p class="govuk-body govuk-!-padding-top-4"><a class="govuk-link" href="version_19/version_a/start">Version A (Outside flood area)</a></p>

    <p class="govuk-body govuk-!-padding-top-4"><a class="govuk-link" href="version_19/version_b/start">Version B (Inside flood area)</a></p>

  


  </div>
</div>

{% endblock %}