{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
     Nafra2 service iteration
        <span class="govuk-caption-xl">Version 14.0<span>
      </h1>
    

          <h3 class="govuk-heading-m">
            Sixth iteration of service with Nafra2 data
            <strong class="govuk-tag govuk-tag">
              Untested
            </strong>
          </h3>
          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V14.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
           
              <ul class="govuk-list govuk-list--bullet">
                <li>New accessible map design which uses a panel and buttons to show and hide flood risk.</li>
                <li>The panel houses all of the interactive components that were in different parts of the screen in previous versions.</li>
                <li>On keyboard tabbing, the panel takes focus when the menu button is activated.</li>
                <li>Mobile panel is utilising a new timeline component, an iteration on a design that has previous tested well. A component that could be scalable if more scenarios are provided from Nafra2.</li>
              </ul>
            </div>
          </details>
        
      
              <p class="govuk-body"> <a class="govuk-link" href="/version_14/nafra2/Version_A/results-hx7">Version A</a></p>

              <p class="govuk-body"> <a class="govuk-link" href="/version_14/nafra2/Version_B/results-hx7">Version B</a></p>

</div>
</div>

{% endblock %}
