{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Nafra2 service iteration
      <span class="govuk-caption-xl">Version 21.0<span>
    </h1>


    <h3 class="govuk-heading-m">
      Updating prototype to match our Live service
      <br><strong class="govuk-tag govuk-tag--blue">
        Not tested

      </strong>
    </h3>

    <p class="govuk-body">We are updating the prototype to match what we currently have on the Live service for the
      purpose of service design or upcoming user testing.</p>

    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          V21 changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>Updated the start page content and layout.</li>
          <li>Added the interoptor page to technical flood map journey.</li>
          <li>First changes are on the summary hero page and copy layout.</li>
        </ul>
      </div>
    </details>

    <p class="govuk-body govuk-!-padding-top-4"><a class="govuk-link" href="version_21/start">Version A</a>
    </p>



  </div>
</div>

{% endblock %}