{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
     Nafra2 service iteration
        <span class="govuk-caption-xl">Version 10.0<span>
      </h1>
    

      <h3 class="govuk-heading-m">
        Second iteration of nafra2
        <strong class="govuk-tag govuk-tag--green">
         Tested
        </strong>
      </h3> 
      <h4 class="govuk-heading-s">V9 research key takaways</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li>Navigation of the prototype worked well</li>
        <li>2 users got what they needed from the summary page alone</li>
        <li>More than half the cohort weren't aware of depth data</li>
        <li>Depth page took people a long time to figure out</li>
        <li>Map colours are not accessible</li>
        <li>Participants are initerested in climate change data but the 2050 timeframe doesn't require immediate action</li>

      </ul>
          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V10.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
           
              <ul class="govuk-list govuk-list--bullet">
                <li>Changed content for summary page</li>
                <li>Moved search for another address into the top navigation</li>
                <li>Changed language around depth to clarify chance of flooding to different depths</li>
                <li>Depth navigation changed to break up information</li>
                <li>Using ArcGIS accessible colour palettes for maps</li>
                <li>Changed mobile key to be semi-permanent in top right hand side, with buttons at bottom of screen</li>
        
              </ul>
            </div>
          </details>
        
      
              <p class="govuk-body"> <a class="govuk-link" href="version_10/nafra2/start?address=select-an-address-dn19.html&results=results-hx7.html">First address</a></p>

              <p class="govuk-body"> <a class="govuk-link" href="version_10/nafra2-address-2/start">Second address</a></p>
         

</div>
</div>

{% endblock %}
