{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
      Service iterations
        <span class="govuk-caption-xl">Version 7.0 & 7.1<span>
      </h1>
      <p class="govuk-body"> 
        Exploring a new way of displaying content on the summary page by displaying only the essentials and iterating on advanced options in the previous map version.
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Insights from prior user research
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"> 
              Advanced toggle in the menu was causing some issues for users after toggling it back on, they have to scroll to the botton of menu to untoggle. It slso wasn’t quite a natural interaction to toggle something and the content appears above the element the user has just pressed.
            <p>
              <p class="govuk-body"> 
               It was difficult to find appropriate language that matched what the toggle was doing, ‘add technical layers’ would be correct for adding the velocity option to the map, but not for adding different flood risk types (reservoirs and rivers and the sea), so adding a ‘go to advanced map’ button would tell the user accurately what is happening.
              <p>
                <p class="govuk-body"> 
                  After seeing that citizen users don’t typically use turn off layers, in order to reduce cognitive load removing the scenario controls for extent should help them focus on understanding the key and what they see on the map without more elements on the screen to understand or interact with
                  Professionals will likely still use the toggle display layers, and it is more appropriately placed under the advanced options section.
                <p>
          </div>
        </details>

    

        

      <h3 class="govuk-heading-m">
        Simplified summary page and an advanced button map (V7.0) <strong class="govuk-tag govuk-tag--green">
          Tested
        </strong>
      </h3>

      <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            V7.0 changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Version 7.0</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Added accessibility fixes with focus states</li>
            <li>Changed toggle to button</li>
            <li>Button text and icon changes depending on which map you are on</li>
            <li>Removed scenarios from extents, added ‘display flooding’ to toggle on and off layers</li>
            <li>Removed ‘turn off layers’ from depth and velocity </li>
          </ul>
        </div>
      </details>
      <p class="govuk-body"> 
        A new summary page displaying only the essentials; flood risk likelihood and how bad the flooding could be.
      <p>
        <p class="govuk-body"> 
          A link to 'more details' allows a user to look up more information if they need to, or they can see the risk on map.
        <p>
          <p class="govuk-body"> 
            Includes an iteration of the toggle 'add technical layers' to be a button that enables more options on the key.
          <p>
            <p class="govuk-body"> <a class="govuk-link" href="version_7/map-v6/start?address=select-an-address-dn19.html&results=results-hx7.html">Version 7.0 service</a></p>
          
    
  
         



          <h3 class="govuk-heading-m">
            Returning to an earlier summary page design and small tweaks to the map (V7.1) <strong class="govuk-tag govuk-tag">
              Untested
            </strong>
          </h3>
          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V7.1 changes
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Version 7.1</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Fix mobile interaction when a user selects advanced button to open key and show the changes</li>
                <li>Change text of advance button</li>
                <li>Use earlier version of summary page</li>
                <li>Moved map links into content</li>
                <li></li>
              </ul>
            </div>
          </details>
          <p class="govuk-body"> 
            A version that is ready for development.
          <p>
         
      
              <p class="govuk-body"> <a class="govuk-link" href="version_7/map-v6-live/start?address=select-an-address-dn19.html&results=results-hx7.html">Version 7.1 service</a></p>
         
         

</div>
</div>

{% endblock %}
