{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
       Original prototype
        <span class="govuk-caption-xl">Version 1.0<span>
      </h1>

      <p class="govuk-body">
        Initial work done on the prototype from July 2019 to Jan 2020. It hadn't been updated to reflect changes in the live service.
      <p>

      <h3 class="govuk-heading-s">
        Original mockup links
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="version_1/p1">LTFRI MOCKUP</a> - most of the service as a step through journey
        </li>
        <li>
          <a href="version_1/p3-WV57BW">Results page WV5 7BW</a> - an alternative design for the results page based on a postcode
        </li>
      </ul>

  </div>

</div>

{% endblock %}
