{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
       New map prototypes
        <span class="govuk-caption-xl">Version 4.0 & 4.1<span>
      </h1>

      <p class="govuk-body">
        Looking at a full screen version of the map and a partial screen version of the map.
      <p>

        <h2 class="govuk-heading-m">Research insights from maps discovery<span class="govuk-caption-m">February to April 2023<span></span></h2>
       
          <p class="govuk-body">
            Users cannot easily find the key on the map and language on the key can be confusing​
          <p>
            <p class="govuk-body">
              The title of the map is difficult to identify and does not clearly communicate the map information in a way that is accessible to all users​
            <p>
              <p class="govuk-body">
                Users are not able to easily switch between different views of the map – current drop down does not support clarity​
              <p>
              <p class="govuk-body">
                The colours on the map can be confusing for some users, particularly in the following areas:​
              <p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Distinguishing between flooding and other water​</li>
          <li>Differentiating the different shades of blue​</li>
          <li>Thinking about other factors like roads vs flood colours​</li>
        </ul>
          <p class="govuk-body">
            Citizens do not tend to engage with flooding and knowledge can be limited, therefore there is a job to do to support users in accessing flood services – particularly those who may be living in flood risk areas without knowing​
          <p>

            <p class="govuk-heading-s">
              Other research findings
            <p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Users need context to be able to understand what the information means in the real world​​</li>
        <li>Language can limit engagement ​</li>
        <li>Citizens can be overwhelmed with the volume of information shown on the service</li>
      </ul>
            <h2 class="govuk-heading-m">First designs<span class="govuk-caption-m">May 2023<span></span></h2>
       
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              V4.0, V4.1 changes
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Version 4.0</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Two versions, one full screen, one partial</li>
              <li>Added key to map</li>
              <li>Moved drop down to side menu with radios</li>
              <li>Split layers of extent for surface water and rivers sea</li>
              <li>Added marker, radius and address window + toggle in menu</li>
              
            </ul>
            <p>Version 4.1</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Added colour to split extents that matched with key for extents</li>
              <li>Added very low risk with defences to rivers sea</li>
              <li>Added new autocomplete search for testing</li>
            </ul>
          </div>
        </details>
      <h3 class="govuk-heading-s">
        Initial map designs (V4.0) <strong class="govuk-tag govuk-tag--green">
          Tested
        </strong>
      </h3>
      
          <p class="govuk-body"> <a class="govuk-link" href="/map/start?address=select-an-address-dn19.html&results=results-hx7.html">Full screen</a></p>
      
          <p class="govuk-body"> <a class="govuk-link" href="/map-small/start?address=select-an-address-dn19.html&results=results-yo8.html">Small window version</a></p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V4.0 research insights summary
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>Changing the map interaction has not changed understanding (expectedly), and issues with understanding continue to present a problem for what users take from the service </li>
                <li>Whilst using the map, users were able to navigate between layers in both the full and partial screen versions​</li>
                <li>Radio buttons are optimal for user interaction ​</li>
                <li>However, the radio buttons show the different options visibly highlighting everything available to users which may be overwhelming for some users​</li>
                <li>Users switched between the layers to gain understanding​</li>
                <li>A combined view of flood extent (high/medium/low) could provide context​</li>
                <li>Base map features unclear to users​</li>
              <li>Full screen works better – move forward with this prototype​</li>
              </ul>
            
            </div>
          </details>
          <h2 class="govuk-heading-s">
           Map iteration (V4.1) <strong class="govuk-tag govuk-tag--green">
            Tested
          </strong>
          </h2>
          <p class="govuk-body">Moving forward with full screen option, making small improvements for testing at Flood and Coast conference</p>
              <p class="govuk-body"> <a class="govuk-link" href="/map-v2/start?address=select-an-address-dn19.html&results=results-hx7.html">Full screen iteration</a></p>

              <p class="govuk-body"> <a class="govuk-link" href="/map-v2-alt/start?address=select-an-address-dn19.html&results=results-hx7.html">Full screen iteration - second address (searchable from first link)</a></p>
        

</div>
</div>

{% endblock %}
