{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
     Nafra2 service iteration
        <span class="govuk-caption-xl">Version 12.0<span>
      </h1>
    

          <h3 class="govuk-heading-m">
            Fourth iteration of service with Nafra2 data
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </h3>

          <p class="govuk-body">A version using real Nafra2 data protected in the development sandpit environment. Some users were mobile to continue testing a new map design.</p>


          <h4 class="govuk-heading-s">V11 research findings</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>Smaller timeframes are more relevant for most users.</li>
            <li>Lack of statistics on version A did not cause confusion for users, nothing was missing for them. Having those statistics on the 'more details' page made sense for users.</li>
            <li>Statistics themselves continued to cause confusion though 1 in X language resonated more.</li>
            <li>Relative risk came up unprompted.</li>
            <li>Simplified more details page meant users could orientate themselves more easily as it was clearly visually different from the summary.</li>
            <li>Most users not looking for depth information but they thought it was interesting. Depth was broadly understand, more so than other rounds. Though some still link depth to extent.</li>
            <li>Changes to mobile map tested well, having the key and buttons together seems to be easier for users to quickly grasp the maps.</li>
            </ul>

          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V12.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
           
              <ul class="govuk-list govuk-list--bullet">
                <li>Summary page: reduced width of cards to keep them more contained, added more visual hierarchy, added a line to clarify what the highest risk is to both highlight which risk to focus on and imply there are more (for some users who don't scroll all the way down).</li>
                <li>Using 'Yearly' language after feedback from UCD community.</li>
                <li>Redesign of 'more details' page to use a more standard design to differentiate it from the summary page where the card design makes sense in breaking up similar flood risks.</li>
                <li>'More details' page now has better structure and readibility. Combined the flood risks in one line, which means that the drop down 'What the flood risk ratings mean' is now in the right section as it pertains to both ratings.</li>
                <li>Depth is now part of 'what you can do' as it is linked to guidance about how you can protect your home once you understand how deep flooding might be.</li>
                
        
              </ul>
            </div>
          </details>
        
      
              <p class="govuk-body"> <a class="govuk-link" href="version_12/nafra2/start?address=select-an-address-dn19.html&results=results-hx7.html">Sandpit</a></p>

              <p class="govuk-body"> <a class="govuk-link" href="version_12/nafra2-b/start?address=select-an-address-dn19.html&results=results-hx7.html">Mobile</a></p>
         

</div>
</div>

{% endblock %}
