{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
     Nafra2 service iteration
        <span class="govuk-caption-xl">Version 11.0<span>
      </h1>
    

          <h3 class="govuk-heading-m">
            Third iteration of service with Nafra2 data
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </h3>

          <p class="govuk-body">An A/B test primarily to see if removing stats on the summary page impacts users' understanding of the service.</p>

<h4 class="govuk-heading-s">V10 research findings</h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>Navigation is fine, as are Rivers/Surface water maps</li>
            <li>Users related to highlighted chance language more than statistics. They need more context (relative risk) to understand statistics</li>
            <li>Users are somewhat confident in climate change data</li>
            <li>Users expect context on 'see more details' page</li>
            <li>Depth: users thought depth pages explained extent</li>
            <li>Depth: 3 pages were overwhelming, the comparison page was the easiest to understand</li>
            <li>Depth: users not sure if it was still related to the address originally searched for</li>
            <li>Depth: 2 high risk ratings on gauge confused some users</li>
            </ul>

          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V11.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
           
              <ul class="govuk-list govuk-list--bullet">
                <li>Removed statistics on summary on one version to see if it reduces cognitive load</li>
                <li>These stats have been shifted to the 'more details' page where there is a user expectation for more context of what the risk rating means</li>
                <li>Changed link text length on summary as the length seemed to be impacting readability/visibility</li>
                <li>Removed chance labels that aren't related to the address on more details as the range has been provided on the summary</li>
                <li>Depth is now one page, which shows how deep any flood water could be, combining the aspects that worked well in the 3 step version; bolding the border of the most likely rating and having a comparison of the now and future with flood risk ratings only.</li>
                <li>Depth now has more structure as a page, with what address the depths related to, a summary of the gauge, the gauge itself, what the impact of different depths are and what you can do about them - with a link to further guidance.</li>
              </ul>
            </div>
          </details>
        
      
              <p class="govuk-body"> <a class="govuk-link" href="version_11/nafra2/start?address=select-an-address-dn19.html&results=results-hx7.html">Version A</a></p>

              <p class="govuk-body"> <a class="govuk-link" href="version_11/nafra2-b/start?address=select-an-address-dn19.html&results=results-hx7.html">Version B</a></p>
         

</div>
</div>

{% endblock %}
