{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Nafra2 Design to release to Dev build
      <span class="govuk-caption-xl">Version 15.1<span>
    </h1>


    <h3 class="govuk-heading-m">
      Eighth iteration of service with Nafra2 data
      <strong class="govuk-tag govuk-tag--blue">
        Not tested
      </strong>
    </h3>

    <p class="govuk-body">Version 15.1 focusses on TBC?</p>

    <h4 class="govuk-heading-s">V15 research findings</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>TBC</li>

    </ul>


    <details class="govuk-details govuk-!-padding-top-6 govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          V15.1 changes
        </span>
      </summary>
      <div class="govuk-details__text">

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">TBC</h4>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>
            TBC
          </li>

        </ul>
        
      </div>
    </details>


    <p class="govuk-body govuk-!-padding-top-2"> <a class="govuk-link" href="/version_15-1/nafra2/Desktop/start.html">Desktop</a></p>

    <p class="govuk-body"> <a class="govuk-link" href="/version_15/nafra2/Mobile/start">Mobile</a></p>

  </div>
</div>

{% endblock %}