{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Nafra2 service iteration
      <span class="govuk-caption-xl">Version 16.0<span>
    </h1>


    <h3 class="govuk-heading-m">
      New Service navigation pattern with Nafra2 data
      <strong class="govuk-tag govuk-tag--blue">
        Not tested
      </strong>
    </h3>

    <p class="govuk-body">Version 16 focusses on the new Service navigation pattern</p>




    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          V16.0 changes
        </span>
      </summary>
      <div class="govuk-details__text">

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Start page</h4>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Extended the blue border below the header to fill the space</li>

        </ul>


        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">New Service Navigation pattern</h4>

        <p class="govuk-body">Incorporated the new 'Service navigation' component inline with new GOVUK Design System
          guidance</p>

        <p class="govuk-body">On the following pages</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Where do you want to check</li>

          <li>Select an address</li>

          <li>Flood risk summary</li>

          <li>Surface water: understand your flood risk</li>

          <li>Rivers and sea: understand your flood risk</li>

          <li>Groundwater and reservoirs: understand your flood risk</li>

          <li>Surface water: possible flood depths</li>

        </ul>


      </div>
    </details>


    <p class="govuk-body govuk-!-padding-top-2"> <a class="govuk-link"
        href="/version_16/Design/Desktop/start">Desktop</a></p>


  </div>
</div>

{% endblock %}