{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
     Nafra2 service iteration
        <span class="govuk-caption-xl">Version 9.0<span>
      </h1>
    

          <h3 class="govuk-heading-m">
            A simplified summary page with chance labels and split maps
            <strong class="govuk-tag govuk-tag--green">
             Tested
            </strong>
          </h3> 
          <h4 class="govuk-heading-s">Brief summary</h4>
        <p class="govuk-body">The same issues of users feeling overwhelmed with the full summary page on v8 have cropped up so we are revisiting splitting up the flood risks and simplifying the summary to reduce cognitive load.
        </p>
        <p class="govuk-body">A really stripped back summary with all just the essential information, the rest of the content sits on the split out of risk pages, where we can tailor the content, making it more specific and meaningful and in context.
        </p>

        <p class="govuk-body">Finding that users aren’t reading the h1 here, and that it’s typically seen as a confirmation that they’re looking at the right address, so this has been changed to reflect that.

        </p>
    
        <p class="govuk-body">We have moved the explanatory information about how we assess an area's flood risk to the top of the summary but under a drop down -  this also contains information that we could use instead of the suitability/reliability ratings, and a line about past flooding not being an indicator of the future.
        </p>

        <h4 class="govuk-heading-s">Risk to chance</h4>
        <p class="govuk-body">Moving away from risk because it is too nebulous a term for people and chance seems to have worked well in initial depth gauge testing.
<br><br>
          Partly inspired by Improving Access and we are already using these labels for depth. Using this to indicate the chance of flooding generally allows for consistency throughout the service, it introduces the user to these concepts before they get to the depth screen.
          <br><br>
          When before we didn’t show a scale of very low to high. Users were missing out on the full picture of risk, as they would only receive two ratings, and sometimes those are the same. This didn’t give them the option to understand where that sits in the scheme of things ‘Is high the highest? Is there a very high?’.
        </p>
        <h4 class="govuk-heading-s">Understand your risk pages</h4>
        <p class="govuk-body">In order to reduce the cognitive load you need to keep the content separate. This creates a risk of a user not being able to navigate to the other parts of the content and potentially having to go back to the summary page to switch over.
          <br><br>
          We’ve tried to design this in a way that makes it clear you are looking at an overarching page or part of a bigger story - Understanding your risk - and that there are 3 parts to it. You’ve already selected to go into surface water so you should be primed for that content, but hopefully this contents pattern will make it clear you are looking at parts of one whole page and that you can navigate between them.
                  </p>
                  <h4 class="govuk-heading-s">Maps</h4>
                  <p class="govuk-body"> We’ve tried to simplify the maps as much as possible, and for Nafra2 with depth being shown in a gauge, we can make the maps show only the extent layers (or how likely an area is to flood), which users typically understand in this format. Where they struggle is with switching between different mental models on the map. They’re looking at flood extents, then they switch to depth and now they’re thinking about severity, not probability, they’re having to visualise how deep something might be, what that means in comparison to their property or flood defences.
<br><br>
                    This is a way where we can really strip the complexity out of the maps and make them effective as a way for users to check what the chance of flooding means in the context of the local area.
                    <br><br>            
                    In splitting the flood risks into separate pages and maps, it also means the user only needs to think about one type of flood risk at a time. So we’re on the surface water map and you can see how likely flooding is currently, and by 2050, that’s it. If they want to look at rivers and the sea, they can navigate to it from the understand your flood risk page, where they are more likely to read the context of what the flood risk means for rivers and the sea and what they can do about it.
                            </p>
                 
          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Benefits of showing depth in an accessible guage
              </span>
            </summary>
            <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>We are doing the work for the user: the user doesn't need to interpret a map, we are doing the work for them by taking the important parts that are relevant to them and displaying them. They don’t need to take the time to figure out which risk polygons are present on the different depth levels, we just present all of that information at once.</li>
            <li>Presenting depth in this gauge is potentially more in line with how people process and think about depth. It’s also more consistent with how other services have displayed depth, and potentially what users (particularly non-technical) are more familiar with.</li>
            <li>We are providing a view of all of the relevant depth levels at once, in a scale, which should allow users to get a better sense of which depth levels should cause concern and puts each other depth level into context.</li>
            <li>We have more flexibility with this design to add the required context compared to on a map.</li>
    
          </ul>
        </div>
      </details>
          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V9.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
           
              <ul class="govuk-list govuk-list--bullet">
                <li>Inclusion of climate change scenarios (2050s)</li>
                <li>Removal of content on data reliability</li>
                <li>Drop down that includes how data is modelled</li>
                <li>Simple summary with chance rating scale</li>
                <li>Split out flood risks - more details page as hub page for each risk</li>
                <li>Depth removed from the main journey map</li>
                <li>Depth levels added in an accessible gauge</li>
                <li>Navigation between split flood risks via content list and 'next page', 'previous page' buttons</li>
                <li>Split out flood maps</li>
                <li>Removal of advanced button</li>
                <li>Utilising different colour palettes for different flood risks</li>
                <li>Removal of 15m buffer</li>
              </ul>
            </div>
          </details>
     
         
      
              <p class="govuk-body"> <a class="govuk-link" href="version_9/nafra2/start?address=select-an-address-dn19.html&results=results-hx7.html">First address</a></p>
         
              <p class="govuk-body"> <a class="govuk-link" href="version_9/nafra2-second-address/start?address=select-an-address-dn19.html&results=results-hx7.html">Second address</a></p>
         

</div>
</div>

{% endblock %}
