{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
      Map prototype iterations
        <span class="govuk-caption-xl">Version 6.0<span>
      </h1>
      <p class="govuk-body"> 
        Creating responsive versions for mobile + tablet  
      <p>

      <h3 class="govuk-heading-m">
        Map version 4
      </h3>
      
          <p class="govuk-body"> <a class="govuk-link" href="version_6/map-v4/start?address=select-an-address-dn19.html&results=results-hx7.html">Mobile responsive verson</a></p>

         
         

</div>
</div>

{% endblock %}
