{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
       A collection of testing scenarios
        <span class="govuk-caption-xl">Version 2.1<span>
      </h1>

      <h2 class="govuk-heading-m">
        Three pages of different content designs
      <h2 class="govuk-heading-s">
       26 August 2022
      </h2>
        <ul class="govuk-list govuk-list--bullet">
        <li><a href="/sandbox/design-choice">Three options to test new designs</a></li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Holding comment designs
      <h2 class="govuk-heading-s">
       15 August 2022
      </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/sandbox/holding-comments/holding-comment-DT64NB">As-is on live service of Small Combe Farm, DT6 4NB</a> (as of 15 August 2022)</li>
        <li><a href="/sandbox/holding-comments/holding-comment-SN14-6RN">New designs for LLFA comment - 1 The Forge, SN14 6RN</a></li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Dates updated designs
      <h2 class="govuk-heading-s">
       15 August 2022
      </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/sandbox/dates-updated/dates-updated-388-HX76AA">New designs to display when data was last updated from the source </a></li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-m">
        Multiple results page prototypes
      </h2>

      <p class="govuk-body">
        A range of different pages to test different options for multiple results (Currently JPGs). <a href="version_2-1/multi/choose">Multiple results choose page</a>.
      <p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Results page prototypes
      </h2>

      <p class="govuk-body">
        Testing different results pages layouts, different kinds of information and button placement. Choose from <a href="version_2-1/results-testing-2/choose">a list of different options</a>.
      <p>

</div>

{% endblock %}
