{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Nafra2 service iteration
      <span class="govuk-caption-xl">Version 18.0<span>
    </h1>


    <h3 class="govuk-heading-m">
      TBC
      <strong class="govuk-tag govuk-tag--blue">
        Not tested
      </strong>
    </h3>

    <p class="govuk-body">Version 18 focusses on...</p>


    <h4 class="govuk-heading-s">V17 research findings</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>TBC</li>

    </ul>

  

    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          V18.0 changes
        </span>
      </summary>
      <div class="govuk-details__text">

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">TBC</h4>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Page</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>TBC</li>

        </ul>

      </div>
    </details>


    <h4 class="govuk-heading-s govuk-!-padding-top-4 govuk-!-margin-bottom-1">TBC</h4>

    <p class="govuk-body"><a class="govuk-link" href="">TBC</a></p>


  </div>
</div>

{% endblock %}