{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Nafra2 service iteration
      <span class="govuk-caption-xl">Version 18.0<span>
    </h1>


    <h3 class="govuk-heading-m">
      Holding comments overriding the NaFRA2 Rivers and sea data. 
      <strong class="govuk-tag govuk-tag--blue">
        Not tested
      </strong>
    </h3>

    <p class="govuk-body">Version 18 focusses on holding comments from Area teams, using local data to override the NAFRA2 data on Rivers and sea</p>
  

    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          V18.0 changes
        </span>
      </summary>
      <div class="govuk-details__text">

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Version A</h4>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Flood risk summary page</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Holding comment added into the Rivers and sea summary card.</li>

        </ul>

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Version B</h4>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Flood risk summary page</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Holding comment added just under the H1 of the page.</li>

        </ul>

      </div>
    </details>


    <p class="govuk-body govuk-!-padding-top-4"><a class="govuk-link" href="version_18/flood-risk-summary_A">Version A</a></p>

    <p class="govuk-body"><a class="govuk-link" href="version_18/flood-risk-summary_B">Version B</a></p>


  </div>
</div>

{% endblock %}