{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
      Service iterations
        <span class="govuk-caption-xl">Version 8.0<span>
      </h1>
    

          <h3 class="govuk-heading-m">
            A stable version of the summary and map that was ready for development <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
            <span class="govuk-caption-l">November 2023<span>
          </h3>
          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V8.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
           
              <ul class="govuk-list govuk-list--bullet">
                <li>Accessibility fixes</li>
                <li>Return to well tested card design with simple user journey</li>
                <li>Changes to text on advanced button</li>
              </ul>
            </div>
          </details>
          <p class="govuk-body"> 
            Although the split summary user journey tested well and the progressive disclosure approach helped users in managing the amount of complexity they had to deal with at once, we didn’t have enough evidence to combine with the maps update to be developed prior to moving on to Nafra2.

          <p>
            <p class="govuk-body"> 
              Using the card design with so much information and with all the flood risks on one page had shown clear improvements in readability for users, particularly those with cognitive impairments.
              <p>
              <p class="govuk-body"> 
                The map being simplified by hiding other options behind a ‘Show advanced options’ button also improved users ability to focus on just checking what their flood risk rating meant in the context of the local area.
                <p>
                  <p class="govuk-body"> 
                    The content was changed from ‘Go to simple map’ / ‘Go to advanced map’ to ‘Show advanced options’ / ‘Hide advanced options’ as it was felt this was a more accurate description of the action of the button. You aren’t going to a different map, you’re showing more (or all) options that are more appropriate for technical users (velocity).
                    <p>
      
              <p class="govuk-body"> <a class="govuk-link" href="version_8/map-v7/start?address=select-an-address-dn19.html&results=results-hx7.html">Version 8.0 service</a></p>

              <h3 class="govuk-heading-m">
                Adding 'pause to flood risk updates' message
                <span class="govuk-caption-l">March 2024<span>
              </h3>
            
           

              <p class="govuk-body"> <a class="govuk-link" href="version_8-1/map-v7/start.html">Version 8.1 service</a></p>

              <h3 class="govuk-heading-m">
                Using well researched designs from v12 without nafra2 content 
                <span class="govuk-caption-l">April 2024<span>
              </h3>
            
              <p class="govuk-body"> 
                Changes made with v12 designs to be made live with v8 map (live as of March 2024)
                <p>

              <p class="govuk-body"> <a class="govuk-link" href="version_8-2/map-v7/start.html">Version 8.2 service</a></p>
         
         

</div>
</div>

{% endblock %}
