{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
       Matching the live service as of March 2022
        <span class="govuk-caption-xl">Version 2.0<span>
      </h1>

      <p class="govuk-body">
        As of 30 March 2022 there wasn't a prototype that fully reflected the current state of the service. This is an attempt to back fill the gap and provide a platform to build iterations from.
      <p>

      <h3 class="govuk-heading-s">
        Mockup of live as of 30 March 2022
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="version_2/live-march-22/start?address=select-an-address-dn19.html&results=results-dn19">Check your long term flood risk results for DN19 7DJ</a> - A step through journey resulting in <strong>Rivers and the sea High Risk</strong>, <strong>Surface water Medium risk</strong> and <strong>Groundwater</strong>.
        </li>
        <li>
          <a href="version_2/live-march-22/start?address=select-an-address-l23.html&results=results-l23">Check your long term flood risk results for L23 0SA</a> - A step through journey resulting in <strong>Surface Water High Risk</strong> and <strong>Rivers and the sea Very low risk</strong>.
        </li>
        <li>
          <a href="version_2/live-march-22/start?address=select-an-address-s6.html&results=results-s6">Check your long term flood risk results for S6 4JP</a> - A step through journey resulting in <strong>Surface Water High Risk</strong>, <strong>Rivers and the sea Medium risk</strong> and <strong>Reservoirs</strong>.
        </li>
      </ul>

</div>

{% endblock %}
