{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
     Nafra2 service iteration
        <span class="govuk-caption-xl">Version 9.0<span>
      </h1>
    

          <h3 class="govuk-heading-m">
            A simplified summary page with chance labels and split maps
            <strong class="govuk-tag govuk-tag--green">
             Tested
            </strong>
          </h3> 
        <p class="govuk-body"></p>
          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Benefits of showing depth in an accessible guage
              </span>
            </summary>
            <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>We are doing the work for the user: the user doesn't need to interpret a map, we are doing the work for them by taking the important parts that are relevant to them and displaying them. They don’t need to take the time to figure out which risk polygons are present on the different depth levels, we just present all of that information at once.</li>
            <li>Presenting depth in this gauge is potentially more in line with how people process and think about depth. It’s also more consistent with how other services have displayed depth, and potentially what users (particularly non-technical) are more familiar with.</li>
            <li>We are providing a view of all of the relevant depth levels at once, in a scale, which should allow users to get a better sense of which depth levels should cause concern and puts each other depth level into context.</li>
            <li>We have more flexibility with this design to add the required context compared to on a map.</li>
    
          </ul>
        </div>
      </details>
          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V9.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
           
              <ul class="govuk-list govuk-list--bullet">
                <li>Inclusion of climate change scenarios (2050s)</li>
                <li>Removal of content on data reliability</li>
                <li>Drop down that includes how data is modelled</li>
                <li>Simple summary with chance rating scale</li>
                <li>Split out flood risks - more details page as hub page for each risk</li>
                <li>Depth removed from the main journey map</li>
                <li>Depth levels added in an accessible gauge</li>
                <li>Navigation between split flood risks via content list and 'next page', 'previous page' buttons</li>
                <li>Split out flood maps</li>
                <li>Removal of advanced button</li>
                <li>Utilising different colour palettes for different flood risks</li>
                <li>Removal of 15m buffer</li>

              </ul>
            </div>
          </details>
     
         
      
              <p class="govuk-body"> <a class="govuk-link" href="version_9/nafra2/start?address=select-an-address-dn19.html&results=results-hx7.html">First address</a></p>
         
              <p class="govuk-body"> <a class="govuk-link" href="version_9/nafra2-second-address/start?address=select-an-address-dn19.html&results=results-hx7.html">Second address</a></p>
         

</div>
</div>

{% endblock %}
