{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Nafra2 service iteration
      <span class="govuk-caption-xl">Version 15.1<span>
    </h1>


    <h3 class="govuk-heading-m">
      Eighth iteration of service with Nafra2 data
      <strong class="govuk-tag govuk-tag--blue">
        Not tested
      </strong>
    </h3>

    <p class="govuk-body">Version 15.1 focusses on the introduction of the new Nafra2 data into the exisiting Live service</p>

    <h4 class="govuk-heading-s">V15 research findings</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>When given the task, participants struggled to find depth information. The links were not obvious to them. But overall depth was useful to participants
      </li>
      <li>V15 depth designs on mobile tested much better than V14 (visuals were stacked)
      </li>
      <li>It is not obvious to non-expert users, what surface water flooding is. A couple needed this context upfront before reading information about the risk
      </li>
      <li>2040-2060 was accepted as a relevant timeframe for future surface water flooding. It helped some understand that the change would be incremental. Participants understood the impact climate change has on flooding
      </li>
      <li>Most didn't notice there was a different timeframe for rivers and sea and weren't concerned about it. It wouldn't impact perception of the information, but a couple did want some more explanation as to why the timeframes are different
      </li>
      <li>It was useful having 'Your location' on each page, but consistent formatting across pages confused some as to where they were in the journey
      </li>
      <li>Most could find information on 'What to do next' and thought it was useful
      </li>
      <li>There is not enough evidence that the 'About your flood risk' page added value for participants (most didn't read it in detail unless prompted). But they were focused on finding depth
      </li>
      <li>Statistics continue to be confusing and for some it made them doubt the flood risk (1 definitively stated the property was not at risk of flooding as a result)
      </li>

    </ul>


    <details class="govuk-details govuk-!-padding-top-6 govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          V15.1 changes
        </span>
      </summary>
      <div class="govuk-details__text">

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">TBC</h4>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>
            TBC
          </li>

        </ul>
        
      </div>
    </details>


    <p class="govuk-body govuk-!-padding-top-2"> <a class="govuk-link" href="/version_15-1/nafra2/Desktop/start">Desktop</a></p>

    <p class="govuk-body"> <a class="govuk-link" href="/version_15-1/nafra2/Mobile/surface-water-depth">Mobile</a></p>

  </div>
</div>

{% endblock %}