{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
       Testing scenarios
        <span class="govuk-caption-xl">Version 3.0<span>
      </h1>

      <p class="govuk-body">
        Work done between October 2022 and November 2022 in preparation for Floodex.
      <p>

      <h3 class="govuk-heading-s">
        Testing scenario links
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/current/multiple-search/multiple-search-index">Multiple search</a> - linear journey where you can add 7 postcodes and compare results in a table of risks.
        </li>
        <li>
          <a href="/current/friendly-captcha/friendly-captcha-index">Friendly Captcha</a> - finalised designs for the user journeys and error states for implementation of a captcha that runs upon opening the page to search for a postcode.
        </li>
      </ul>

  </div>

</div>

{% endblock %}
