{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
     Nafra2 service iteration
        <span class="govuk-caption-xl">Version 15.0<span>
      </h1>
    

          <h3 class="govuk-heading-m">
            Seventh iteration of service with Nafra2 data
            <strong class="govuk-tag govuk-tag--blue">
              Not tested
            </strong>
          </h3>

          <p class="govuk-body">Version 15 focusses on TBC?</p>

          <h4 class="govuk-heading-s">V14 research findings</h4>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>Depth is useful (provides context), but is not in the right place for users</li>
        
            <li>This part of a bigger issue about where information sits on the service. This came out more this round from users with neurodiverse needs
            </li>

            <li>We need time to look at the full user journey, and where depth sits Participants struggled without explanatory information about what the ratings mean on the depth page</li>

            <li>As we've seen before, the stats continue to cause confusion</li>

            <li>Depth designs do not work for mobile</li>

            <li>2050s dropdown caused significant confusion and mistrust of the data overall. We need to explore this issue further. There is a serious risk of reputational damage to the EA and the government
            </li>

            <li>As we've seen before, people do not think about 'surface water' flooding and 'rivers and sea' flooding. It's all just 'flooding'
            </li>

          </ul>


          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V15.0 changes
              </span>
            </summary>
            <div class="govuk-details__text">
           
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

                <li class="govuk-!-padding-bottom-9">TBC?</li>


                <li><strong>TBC?</strong></li>

              </ul>
            </div>
          </details>
        
      
              <p class="govuk-body"> <a class="govuk-link" href="/version_15/nafra2/Desktop/start.html">Desktop</a></p>

              <p class="govuk-body"> <a class="govuk-link" href="/version_15/nafra2/mobile/tbc?">Mobile</a></p>

</div>
</div>

{% endblock %}
