{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
      Service iterations
        <span class="govuk-caption-xl">Version 6.0 & 6.1<span>
      </h1>
      <p class="govuk-body"> 
        Further iterations of the summary pages, using the summary card component from the design system and adding responsive versions to the map.
      <p>

      <h3 class="govuk-heading-m">
        Initial mobile design (V6.0) <strong class="govuk-tag govuk-tag--green">
          Tested
        </strong>
      </h3>
      <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            V6.0 changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Version 6.0</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Fixed responsiveness issues that were present in earlier prototypes</li>
            <li>Mobile and tablet version of map</li>
            <li>Scenario controls at bottom of the screen full width</li>
           <li> On depth and velocity, with 4 buttons utilised new approach</li>
               <li>an overflow with scrollable scenario control +
             arrows that act as buttons to scroll for user if scrolling action is difficult</li>
            <li>Key resizes and left aligns up until desktop where it right aligns</li>
            <li>Mobile version</li>
          </ul>
         
        </div>
      </details>

      <p class="govuk-body"> 
        Further iterations of the summary pages and adding responsive versions to the map.
      <p>

       
       
      
          <p class="govuk-body"> <a class="govuk-link" href="version_6/map-v4/start?address=select-an-address-dn19.html&results=results-hx7.html">Version 6.0</a></p>

          <h3 class="govuk-heading-s">
          Insights from user research
          </h3>

          <p class="govuk-body"> 
            Users still struggling with the amount of content on the maps, in order to reduce cognitive load we are testing whether only showing them what they need to know and is relevant to them at first will help in understanding their risk. The option in the toggle allows curious users or technical users to enable more features within the map.
          <p>

            <p class="govuk-body"> 
              Users finding it difficult to locate the scenario control as it is fixed to the left hand side, so moving it the right, where the key is should help in keeping interactions and focus in one area. This is especially pronounced in wide screen users, where the scenario control is very far from the key and it takes users a while to notice it is even there.
            <p>

              <p class="govuk-body"> 
                Mobile user testing revealed that it was difficult for users to figure out which icon would open up the key, so adding text to the button should provide enough context for them to navigate the map.
              <p>

          <h3 class="govuk-heading-m">
            Advanced options map (V6.1) <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </h3>
          <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                V6.1 changes
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Version 6.1</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Advanced options toggle, shows and hides other flood risk information within ‘add technical layers’ toggle</li>
                <li>Simple map loaded by default which includes: surface water - depth and extent, rivers - extent, reservoirs - extent</li>
                <li>Added text to icons on mobile</li>
                <li>Shifted scenario control to the right hand side</li>
                <li>Fixed vertical scroll on desktop key</li>
              </ul>
            </div>
          </details>
          <p class="govuk-body"> 
            Moved scenario control to the right as users were not finding it easily on the map. 
          <p>
            <p class="govuk-body"> 
         Added a toggle in the key to allow users to uncover more options on the map if needed, the default for this version is to have a simple view of the map load first.
            <p>
              
          
              <p class="govuk-body"> <a class="govuk-link" href="version_6/map-v5/start?address=select-an-address-dn19.html&results=results-hx7.html">Version 6.1</a></p>

         
         

</div>
</div>

{% endblock %}
