{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
      Service iterations
        <span class="govuk-caption-xl">Version 5.0 & 5.1<span>
      </h1>
      <p class="govuk-body">   
      <p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              V5.0, V5.1 changes
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Map version 5.0</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Scenarios as buttons on left side of map</li>
              <li>Key is in side menu, underneath relevant radio button</li>
              <li>Key is conditional, depending on what scenario is selected</li>
              <li>River sea very low scenario combined with low risk scenario</li>
              <li>Language on maps uses untested likelihood approach</li>
            </ul>
            <p>Map version 5.1</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Scenarios as buttons on left side of map</li>
              <li>Key is in side menu, underneath relevant radio button</li>
              <li>Extent scenarios are combined for surface water and rivers and seas</li>
              <li>River sea very low scenario combined with low risk scenario</li>
              <li>Uses language present on live service map</li>
              <li>New summary page design</li>
            </ul>
          </div>
        </details>
      <h3 class="govuk-heading-m">
        Split layer design (V5.0)
        <strong class="govuk-tag">
          Untested
        </strong>
      </h3>
      
      <p class="govuk-body">A design that used liklihood language instead of risk and split out all layers into high, medium and low to have consistency across all flood risk types.</p>
      
          <p class="govuk-body"> <a class="govuk-link" href="version_5/map-v3/start?address=select-an-address-dn19.html&results=results-hx7.html">Split layer design</a></p>

          <h3 class="govuk-heading-m">
            Map design with combined risks for extent (V5.1)  <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </h3>  
          <ul class="govuk-list--bullet">
          <li class="govuk-body">Map with combined extent layers and using risk language</li>
          <li class="govuk-body">New summary page designs</li>
        </ul>
          <p class="govuk-body"><strong>Newmarket</strong> addresses:</p>
              <p class="govuk-body"><a class="govuk-link" href="version_5/map-v3-3/start?address=select-an-address-dn19.html&results=results-hx7.html">Summary page design 1</a></p>

              <p class="govuk-body"><a class="govuk-link" href="version_5/map-v3-2/start?address=select-an-address-dn19.html&results=results-hx7.html">Summary page design 2</a></p>

              <p class="govuk-body"><strong>Selby</strong> addresses:</p>
              <p class="govuk-body"><a class="govuk-link" href="version_5/map-v3-4/start?address=select-an-address-dn19.html&results=results-hx7.html">Summary page design 1</a></p>

              <p class="govuk-body"><a class="govuk-link" href="version_5/map-v3-5/start?address=select-an-address-dn19.html&results=results-hx7.html">Summary page design 2</a></p>

              <!-- <h3 class="govuk-heading-m">
                Summary page versions
              </h3>  
              <p class="govuk-body">Exploring improvements to displaying content on summary page
              </p>
                  <p class="govuk-body"> <a class="govuk-link" href="version_5/map-v3-2/results-hx7.html">Version using summary cards for each risk type</a></p>

                  <p class="govuk-body"> <a class="govuk-link" href="version_5/map-v3-2/results-cb8.html">Version using original design but with improved semantic hierarchy</a></p> -->
         

</div>
</div>

{% endblock %}
