{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Nafra2 service iteration - Groundwater
      <span class="govuk-caption-xl">Version 19.0<span>
    </h1>


    <h3 class="govuk-heading-m">
      Testing the design and content for groundwater 
      <br>
      <strong class="govuk-tag govuk-tag--blue">
        Not tested
      </strong>
    </h3>

    <p class="govuk-body">Version 19 focuses on testing the new content for groundwater, including the language used for the binary risk ratings. 
      The main pages that have been tested here are the main risk page and the 'find out more about groundwater' 
      page, focusing on understanding of language and to understand where people are clicking</p>
  

    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          V19.0 changes
        </span>
      </summary>
      <div class="govuk-details__text">

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Flood risk summary page, focusing on groundwater</p>

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Version A (Possible)</h4>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Flood risk summary page, showing risk rating as 'outside a flood area'</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Details to be added.</li>

        </ul>

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Version B (Unlikely)</h4>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Flood risk summary page, showing risk rating as 'inside flood area'</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Details to be added.</li>

        </ul>

      </div>
    </details>


    <p class="govuk-body govuk-!-padding-top-4"><a class="govuk-link" href="version_19/version_a/start">Version A (Outside flood area)</a></p>

    <p class="govuk-body govuk-!-padding-top-4"><a class="govuk-link" href="version_19/version_b/start">Version B (Inside flood area)</a></p>

  


  </div>
</div>

{% endblock %}