{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Nafra2 service iteration
      <span class="govuk-caption-xl">Version 17.0<span>
    </h1>


    <h3 class="govuk-heading-m">
      Nafra2 missing Rivers and sea climate change data
      <strong class="govuk-tag govuk-tag--green">
        Tested
      </strong>
    </h3>

    <p class="govuk-body">Version 17 focusses on not being able to show any future Rivers and sea climate change data</p>



    <h4 class="govuk-heading-s">V15 research findings</h4>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <li>When given the task, participants struggled to find depth information. The links were not obvious to them. But overall depth was useful to participants</li>

      <li>V15 depth designs on mobile tested much better than V14 (visuals were stacked)</li>

      <li>It is not obvious to non-expert users, what surface water flooding is. A couple needed this context upfront before reading information about the risk</li>

      <li>2040-2060 was accepted as a relevant timeframe for future surface water flooding. It helped some understand that the change would be incremental. Participants understood the impact climate change has on flooding</li>

      <li>Most didn't notice there was a different timeframe for rivers and sea and weren't concerned about it. It wouldn't impact perception of the information, but a couple did want some more explanation as to why the timeframes are different</li>

      <li>It was useful having 'your location' on each page, but consistent formatting across pages confused some as to where they were in the journey</li>

      <li>Most could find information on 'What to do next' and thought it was useful</li>

      <li>There is not enough evidence that the 'About your flood risk' page added value for participants (most didn't read it in detail unless prompted). But they were focused on finding depth</li>

      <li>Statistics continue to be confusing and for some it made them doubt the flood risk (1 definitively stated the property was not at risk of flooding as a result)</li>


    </ul>

  


    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          V17.0 changes
        </span>
      </summary>
      <div class="govuk-details__text">

        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Version A</h4>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Flood risk summary</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Rivers and sea risk ratings for 'Yearly' and '2036 to 2069' have a new risk rating label saying 'No data'</li>

          <li>Rivers and sea risk ratings '2036 to 2069' has a line of content below saying 'This data is currently unavailable.'</li>

        </ul>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Rivers and sea: understand your flood risk</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Under depth we added the following content 'This data is currently unavailable.' and removed any link to the depth information</li>

        </ul>


        <h4 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">Version B</h4>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Flood risk summary</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Rivers and sea risk ratings for '2036 to 2069' added new risk rating label saying 'No data available'</li>

          <li>Rivers and sea risk ratings '2036 to 2069' has a line of content below saying 'This data is currently unavailable. We'll publish the data when it becomes available.'</li>

        </ul>


        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Rivers and sea: understand your flood risk</p>


        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

          <li>Under depth we added the following content 'This data is currently unavailable. We'll publish the data when it becomes available.' and removed any link to the depth information</li>

        </ul>


      </div>
    </details>


    <h4 class="govuk-heading-s govuk-!-padding-top-4 govuk-!-margin-bottom-1">Version A</h4>

    <p class="govuk-body"> <a class="govuk-link" href="/version_17/Desktop/A/start">Desktop A</a></p>

    <p class="govuk-body"> <a class="govuk-link" href="/version_17/Mobile/A/start">Mobile A</a></p>



    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Version B</h4>

    <p class="govuk-body"> <a class="govuk-link" href="/version_17/Desktop/B/start">Desktop B</a></p>

    <p class="govuk-body"> <a class="govuk-link" href="/version_17/Mobile/B/start">Mobile B</a></p>


  </div>
</div>

{% endblock %}