{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    

      <h1 class="govuk-heading-xl">
       New map prototypes
        <span class="govuk-caption-xl">Version 4.0<span>
      </h1>

      <p class="govuk-body">
        Looking at a full screen version of the map and a partial screen version of the map.
      <p>

      <h3 class="govuk-heading-s">
        First iterations
      </h3>
      
          <p class="govuk-body"> <a class="govuk-link" href="/map/start?address=select-an-address-dn19.html&results=results-hx7.html">Version 1 - full screen</a></p>
      
          <p class="govuk-body"> <a class="govuk-link" href="/map-small/start?address=select-an-address-dn19.html&results=results-yo8.html">Version 1 - small window version</a></p>


          <h2 class="govuk-heading-s">
            Second iteration
          </h2>
          <p class="govuk-body">Moving forward with version 1, making small improvements for testing at Flood and Coast conference</p>
              <p class="govuk-body"> <a class="govuk-link" href="/map-v2/start?address=select-an-address-dn19.html&results=results-hx7.html">Version 1.5</a></p>
        

</div>
</div>

{% endblock %}
