{% extends "layout.html" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
     

        <h1 class="govuk-heading-xl">
          Select an address
        </h1>
    
        <div class="govuk-inset-text">

          <p>
            This service will tell you the flood risk of an area, not a specific property.
          </p>
  
          <p>
            We need to ask for the property number so we know where you want to check.
          </p>
  
        </div>
  
  
        <form method="post">
  
          <div class="govuk-form-group">
  
            <span class="govuk-label">Postcode</span>
  
            <p class="govuk-body">
              <strong style="text-transform: uppercase;">CB8 0HL</strong>
              <a href="#" class="govuk-link">Change</a>
            </p>
  
          </div>
  
          <div class="govuk-form-group">
  
            <label class="govuk-label" for="address">
              Select an address
            </label>
  
            <select class="govuk-select" id="address" name="address">
  
    
              <option value="-1">6 addresses found</option>
            
          
            
              <option value="0">1 ROCKINGHAM VILLAS, CHURCH LANE, NEWMARKET, CB8 0HL</option>
            
          
            
              <option value="1">2 ROCKINGHAM VILLAS, CHURCH LANE, NEWMARKET, CB8 0HL</option>
            
          
            
              <option value="2">3 ROCKINGHAM VILLAS, CHURCH LANE, NEWMARKET, CB8 0HL</option>
            
          
            
              <option value="3">4 ROCKINGHAM VILLAS, CHURCH LANE, NEWMARKET, CB8 0HL</option>
            
          
            
              <option value="4">CHURCH COTTAGE, CHURCH LANE, NEWMARKET, CB8 0HL</option>
            
          
            
              <option value="5">TURNER HALL, CHURCH LANE, NEWMARKET, CB8 0HL</option>
            
          
          </select>
          </div>
    
       
       
       
        <a href="/current/multiple-search/iteration-1/address-list-3" role="button" class="govuk-button govuk-button--primary">
          Add address
        </a>
        <p> <a href="javascript:history.back()" target="">Cancel adding another address</a></p>
       
        


          
       
       
        <p class="govuk-heading-m">Selected addresses</p>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                Postcode
              </dt>
              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                Address
              </dt>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                DN19 7DJ
              </dt>
              <dd class="govuk-summary-list__value">
                Park View Cottage, Westoby Lane, Barrow-Upon-Humber
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">change</span>
                </a>
              <div class="divider" aria-hidden="true"></div>
                <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden">remove</span>
                </a>
              </dd>
            </div>
    <!-- end of first row -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        HX7 6AA
      </dt>
      <dd class="govuk-summary-list__value">
        Valley Organics Workers Co-op, 16, Market Street, Hebden Bridge
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">change</span>
        </a>
      <div class="divider" aria-hidden="true"></div>
        <a class="govuk-link" href="#">
          Remove<span class="govuk-visually-hidden">remove</span>
        </a>
      </dd>
    </div>
            </div>
          </dl>
      </div>
      <!-- end of table -->
      
          
    </div>
  </main>
</div>

{% endblock %} {% if useAutoStoreData %} {% block footer %}
{{
  govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Flooding " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  })
}}
{% endblock %} {% endif %} {% block bodyEnd %} {% block scripts %} {% include
"includes/scripts.html" %} {% block pageScripts %}{% endblock %} {% endblock %}
<!-- GOV.UK Flooding {{releaseVersion}} -->
{% endblock %}
